mixin list()
	style
		.fuelux select { width: auto; max-width: 120px;} 
		.fuelux .datagrid tfoot .datagrid-footer-right .grid-pager .combobox { width: auto;}
		
	table#MyGrid.table.table-bordered.datagrid
		thead
			tr.headerControle
				th
					.datagrid-header-left
						.input-append.search
							input#search.input-medium(type='text', placeholder='Recherche', data-provide="typeahead", autocomplete="off")
							button.btn
								i.icon-search
						//		
							a.showSearchPanel(href="/place/list/#") Filtrer les résultats
								i.icon-chevron-right#iconSearchPanel
					//
						.datagrid-header-right
							button.btn#btnAdd
								i.icon-plus
								span Ajouter
				tr.headerControle.advancedSearch
					td.searchPanel(colspan=6, style="display:none")
						.yakCatFilter
							input#yakCat.typeahead(type="text", data-provide="typeahead", autocomplete="off", placeholder="Filtrer par thème")
							.pillbox#yakCatFilter(style="display:none")
								ul
						.userFilter
							input#userFilter.typeahead(type="text", data-provide="typeahead", autocomplete="off", placeholder="Filtrer par utilisateur")
							.pillbox#userFilter(style="display:none")
								ul
			tr.headerControle
				td(colspan=6)
					//
						.btn-group.batchActions
							button.btn.btn-small.validerPlaces(title="Valider les utilisateurs")
								i.icon-ok-sign
							button.btn.btn-small.disabled.enattentePlaces(title="Mettre les utilisateurs en attente")
								i.icon-time
							button.btn.btn-small.supprimerPlaces(title="Supprimer les utilisateurs")
								i.icon-ban-circle
					
					select#filterType
						option(value="0") Tous les types
						option(value="1") Info
						option(value="2") Commentaire
						option(value="3") Utilisateur
					.dateSort.datagrid-header-right
						.input-prepend
							span.add-on Ordonner par
							select#sortPlaces
								option(value="last_date_mark")	Last date marked
								option(value="type") Type
								option(value="content")	Contenu
								option(value="count")	Count
		tfoot
			tr
				th
					.datagrid-footer-left(style='display: none;')
						.grid-controls
							span
								span.grid-start
								| -
								span.grid-end
								| de
								span.grid-count
							select.grid-pagesize
								option 10
								option 20
								option 50
								option 100
							span Par Page
					.datagrid-footer-right(style='display: none;')
						.grid-pager
							button.btn.grid-prevpage
								i.icon-chevron-left
							span Page
							.input-append.dropdown.combobox.dropup
								input.span1(type='text')
								button.btn(data-toggle='dropdown')
									i.caret
								ul.dropdown-menu
							span
								| de
								span.grid-pages
							button.btn.grid-nextpage
								i.icon-chevron-right


	script

		var yakcatArray = [];
		var yakcatNames = [];
		var placeArray;
		var hashtag = [];
		var hashtagTmp = [];
		var firstLoad = true;

		var ApiDataSource = function (options) {
			this._formatter = options.formatter;
			this._columns = options.columns;
		};

		ApiDataSource.prototype = {

			columns: function () {
				return this._columns;
			},

			data: function (options, callback) {

				var url = '/api/illicites';
				var self = this;

				if (!options.search) {
					options.search = "^";
				}

				url += '/' + (options.pageIndex + 1);
				url += '/' + options.pageSize;
				url += '/' + options.search;

				var sortPropertyArray = [];
				var sortDirectionArray = [];

				// Add currently selected datagrid column to sort properties
				if (options.sortProperty) {
					sortPropertyArray.push(options.sortProperty);
					sortDirectionArray.push(options.sortDirection);
				}

				// Also sort by the selected date
				sortPropertyArray.push( $('#sortPlaces :selected').val() );
				// Always newest first
				sortDirectionArray.push("desc");

				// Would be easier if we could pass dictionaries, needs testing
				url += '/' + sortPropertyArray.join() + '/' + sortDirectionArray.join();

				// Filter by status
				var status = $('#filterStatus :selected').val();
				//url += '/' + status;
				// Filter by type
				var type = $('#filterType :selected').val();
				url += '/' + type;
				// Optional filters: Yakcats, Users
				//  - Passed as query to allow for null
				var queryChar = '?';

				
				

				$.ajax(url, {
					type: 'GET'
				}).done(function (response) {

					if (firstLoad) {
						$("#search").focus();
						$('th[data-property="creationDate"]').addClass('sorted');
						$('th[data-property="creationDate"]').append('<i class="icon-chevron-down"></i>');
						firstLoad = false;
					}

					// Prepare data to return to Datagrid
					var data = response.illicites;
					var count = response.count;
					var startIndex = (response.pageIndex - 1) * response.pageSize;
					var endIndex = parseInt(startIndex) + parseInt(response.pageSize);
					var end = (endIndex > count) ? count : endIndex;
					var page = parseInt(response.pageIndex);
					var pages = Math.ceil(response.count / response.pageSize);
					var start = startIndex + 1;

					if (self._formatter) self._formatter(data);

					callback({ data: data, start: start, end: end, count: count, pages: pages, page: page });

				});
			}
		};

		$('#MyGrid').datagrid({
			dataSource: new ApiDataSource({
				columns: [{
					property: 'checked',
					label: '<input id="selectAllUsers" type="checkbox" />',
					sortable: false
				},
				
				{
					property: 'content',
					label: 'Contenu',
					sortable: true
				},
				{
					property: 'content_type',
					label: 'Type',
					sortable: true
				},
				{
					property: 'last_date_mark',
					label: 'Last Date Marked',
					sortable: true
				},
				{
					property: 'count',
					label: 'Count',
					sortable: true
				},
				{
					property: 'delete',
					label: '<i class="icon-delete"></i>',
					sortable: true
				}
				],
				formatter: function (items) {
					$.each(items, function (index, item) {
						item.checked = makeCheckBox(item);
						item.delete = makeDeleteOption(item);
						item.last_date_mark = formatDate(item.last_date_mark);
						item.content_type = makeContentType(item.content_type);
						item.content = makeContent(item);
					});
				}
			})
		});

	
		function makeContent(item){
			var content = "<label>"+item.content+"<lable>";
			return content;
		}
	
		function makeContentType(type)
		{
			switch(type)
			{
				case 1 : 
				{
					return "Info";
					break;
				}
				case 2 : 
				{
					return "Commentaire";
					break;
				}
				case 3 : 
				{
					return "Utilisateur";
					break;
				}
				default :
				{
					return "";
					break;
				}
			}
		}
		function formatOrigin(item) {
			if (item.origin)
				return item.origin
			return "Origine inconnue";
		}

		function makeUserThumb(item){
			return '<img src="'+item.thumbsmall+'" class="userThumb" width="48" height="48" />'
		}

		function makeNameTextBox(item){
			return '<input onkeypress="setNewName(this, event)" type="text" class="user_name" rel="'+item._id+'" value="' + item.name + '"/>';
		}

		function makeCheckBox(item) {
			return '<input type="checkbox" class="selectYakUser" value="' + item._id + '"/>';
		}

		function makeDeleteOption(item){
			var removeIcon = $("<i />");
			removeIcon.attr("class", "icon-remove deleteAcomment");
			removeIcon.css("cursor", "pointer");
			removeIcon.attr("onclick", "deleteAnIllicite(this)");
			var content = "";
			content+="<input type='hidden' id='val_content_id' value='"+item.content_id+"' />";
			content+="<input type='hidden' id='val_content_type' value='"+item.content_type+"' />";
			content+="<input type='hidden' id='val_id' value='"+item._id+"' />";
			return removeIcon[0].outerHTML + content;
		}

		function deleteAnIllicite(el)
		{
			var content_type = $(el).parent().find("#val_content_type").val();
			var content_id = $(el).parent().find("#val_content_id").val();
			var _id = $(el).parent().find("#val_id").val();
			$.post("/deleteIllicite", {content_id: content_id, content_type: content_type, _id: _id}, function(data){
				refreshDatagridAndMenu();
			});
		}

		function setNewName(el, e)
		{
			if(e.keyCode == 13){
				$(el).attr("disabled", "disabled");
				$(el).after("<span class='updateStatus'>loading...</span>");
				$.post("/user/setName", {name: $(el).val(), _id : $(el).attr("rel")}, function(data){
					if(data.meta.code == "200")
					{
						$(el).removeAttr("disabled");
						$(el).parent().find(".updateStatus").remove();
					}
				});
			}
			return false;
		}
		function setNewStatus(el)
		{
			var _id = $(el).attr("rel");
			$(el).after("<span class='updateStatus'>loading...</span>");
			$(el).attr("disabled", "disabled");
			$.post("/user/setStatus", {status: $(el).val(), _id : $(el).attr("rel")}, function(data){
					if(data.meta.code == "200")
					{
						$(el).removeAttr("disabled");
						$(el).parent().find(".updateStatus").remove();
					}
				});
		}

		function setNewType(el)
		{
			var _id = $(el).attr("rel");
			$(el).after("<span class='updateStatus'>loading...</span>");
			$(el).attr("disabled", "disabled");
			$.post("/user/setType", {type: $(el).val(), _id : $(el).attr("rel")}, function(data){
					if(data.meta.code == "200")
					{
						$(el).removeAttr("disabled");
						$(el).parent().find(".updateStatus").remove();
					}
				});
		}

		function makeStatusDropDown(item){
			var select = $("<div />");
			select.attr("class", "selectStatus");
			select.html('<select onchange="setNewStatus(this)" class="selectStatus" rel="'+item._id+'"><option value="2">En attente</option><option value="1">Validés</option><option value="3">Rejetés</option></select>');
			select.find("option").each(function(){
				if($(this).attr("value") == item.status)
					$(this).attr("selected", "selected");
			});
			return select.html();
		}

		function makeTypeDropDown(item){
			var select = $("<div />");
			select.attr("class", "selectType");
			select.html('<select onchange="setNewType(this)" class="selectType" rel="'+item._id+'"><option value="1">Normal</option><option value="2">Media</option><option value="3">Association</option><option value="4">Entreprise</option><option value="5">Institution</option><option value="10">Operator</option><option value="11">Super Admin</option></select>');
			select.find("option").each(function(){
				if($(this).attr("value") == item.type)
					$(this).attr("selected", "selected");
			});
			return select.html();
		}

		function fillContent(item) {
			var res = "";
			var icon = "icon-time";
			var title_icon = "En attente";
			var title_title = "";

			res += '<div class="liens">';
			if (item.outGoingLink)
				res += '<a href=\''+ item.outGoingLink + '\' target="_blank" title="Lien externe"><i class="icon-share-alt "></i></a>';

			res += '<a class="centerMap" id="' + item._id + '" href="/place/list/#">';
			res += '<i class = "icon-map-marker" title="Localiser"></i>';
			res += '</a>';

			res += "</div>";

			res += '<a class="editPlace" id="' + item._id + '" href="#">';

			if (item.status == 1) {
				icon = 'icon-ok-sign';
				title_icon = "Validée";
			}
			else if (item.status == 3) {
				icon = 'icon-ban-circle';
				title_icon = "Rejetée";
			}
			else if (item.status == 10) {
				icon = 'icon-warning-sign';
				title_icon = "Erreur de localisation";
			}

			if(item.title.length > 50) {
				title_title = "title = '" + item.title + "'";
				item.title = item.title.slice(0, 50) + "...";
			}

			res += '<div class="text-info" '+ title_title + '><i class="' + icon + ' status" title="' + title_icon + '" ></i>' + item.title + '</div>';

			res += "<small>";

			if (item.formatted_address)
				res += "<div>" + item.formatted_address + "</div>";

			if (item.yakCat) {
				res += "<div>";
				// AIE AIE NON !
				/*for(i = 0; i<  item.yakCat.length;i++){
					res += formatYakcat(item.yakName[i]);
					res += ', ';
				}*/
				if(typeof item.yakCatName != 'undefined')
					res += item.yakCatName.join(', ');

				if (item.freeTag)
					res += displayFreeTags(item.freeTag);

				//res = res.slice(0,-2);
				res += "</div>";
			}
			else if(item.freeTag) {
				res += displayFreeTags(item.freeTag);
				result = result.slice(0,-2);
			}
			res += '</small></a>';
			return res;
		}

		function displayFreeTags(freeTag) {
			var result = "";

			for(i = 0; i<  freeTag.length;i++){
				if (freeTag[i] != "") {
					result += freeTag[i];
					result += ', ';
				}
			}
			return result;
		}

		function formatYakcat(yakcatId) {
			var res;
			$.ajax({
				url: '/api/cats/'+ yakcatId,
				dataType: 'json',
				async: false,
				success: function(data) {
					if (data['cat'])
						res = data['cat'].title;
				}
			});
			return res;
		}

		function formatDate(creationDate) {
			var dateTmp = new Date(creationDate);
			return dateTmp.getDate()+'/'+(dateTmp.getMonth()+1)+'/'+dateTmp.getFullYear();

		}

		$('a.centerMap').live('click', function() {
			var url = '/api/places/'+this.id;

			// We search for the place in mongo and we fill the form with the place's values
			$.ajax({
				url: url,
				type: 'GET',
				async: false,
				success: function (response)
				{
					var place = response.place;

					var latlng = new google.maps.LatLng(place.location.lat, place.location.lng);
					getformattedAddress(latlng);
					placeMarker(latlng,markerLocation);
					map.setCenter(markerLocation.getPosition());
				}
			});
		});

		// Toggle searchPanel
		$('a.showSearchPanel').live('click', function() {
			$("#iconSearchPanel").toggleClass("icon-chevron-down");
			$("td.searchPanel").toggle("fast");
			return false;
		});

		// Searchpanel yakcat input
		$('input#yakCat').typeahead({
			source: function (typeahead, query) {
				$.ajax({
					url: "/api/cats",
					success: function(data) {
						typeahead.process(data.cats);
					}
				})
			},
			property: "title",
			onselect: function(obj) {
				$(".pillbox#yakCatFilter").show();
				$(".pillbox#yakCatFilter ul").append("<li class='yakcat-value' data-value="+obj._id+">"+obj.title+"</li>");

				$('input#yakCat').val('').focus();
				refreshDatagridAndMenu();
			}
		});

		// Searchpanel yakcat input
		$('input#userFilter').typeahead({
			source: function (typeahead, query) {
				$.ajax({
					url: "/api/users",
					success: function(data) {
						typeahead.process(data.users);
					}
				})
			},
			property: "name",
			onselect: function(obj) {
				$(".pillbox#userFilter").show();
				$(".pillbox#userFilter ul").append("<li class='user-value' data-value="+obj._id+">"+obj.name+"</li>");

				$('input#userFilter').val('').focus();
				refreshDatagridAndMenu();
			}
		});

		// Refresh on sort selection
		$('#sortPlaces').live('change', function() {
			refreshDatagridAndMenu();
		});
		// Refresh on sort selection
		$('#filterStatus').live('change', function() {
			var currentSelection = $('#filterStatus :selected').val();
			if (currentSelection == 1) {
				$('.validerPlaces').addClass('disabled');
				$('.supprimerPlaces').removeClass('disabled');
				$('.enattentePlaces').removeClass('disabled');
			}
			else if (currentSelection == 3) {
				$('.validerPlaces').removeClass('disabled');
				$('.enattentePlaces').removeClass('disabled');
				$('.supprimerPlaces').addClass('disabled');
			}
			else if (currentSelection == 2) {
				$('.validerPlaces').removeClass('disabled');
				$('.enattentePlaces').addClass('disabled');
				$('.supprimerPlaces').removeClass('disabled');
			}
			else {
				$('.validerPlaces').removeClass('disabled');
				$('.enattentePlaces').removeClass('disabled');
				$('.supprimerPlaces').removeClass('disabled');
			}

			refreshDatagridAndMenu();
		});

		//Autocomplete on title (search input)
		$('input#search').typeahead({
			source: function (typeahead, query) {
				if (query.length > 1) {
					$.ajax({
						url: "/api/places",
						success: function(data) {
							typeahead.process(data.places);
						}
					})
				}
			},
			property: "title"
		});

		$("#validation").change(function() {
			$.getJSON('/api/places/'+ $(this).val(),function(data) {
				$('div#placeContent').html("");
				renderData(data);
			});
		});

		// Datagrid checkbox
		$(".selectYakPlace").live('change', function() {
			if ($(this).prop('checked') == false)
				$("#selectAllPlaces").prop('checked', false);
		});
		$('#filterType').live('change', function() {
			refreshDatagridAndMenu();
		});
		$("#selectAllPlaces").change(function() {
			$(".selectYakPlace").prop('checked', $(this).prop('checked'));
		});

		$(".validerPlaces").live('click', function() {
			if ($(".validerPlaces").hasClass("disabled")) return;
			var vals = [];
			var i = 0;

			$(".selectYakPlace").each(function(){
				if ($(this).prop('checked') == true)
					vals[i++] = jQuery(this).val();
			});

			if (vals.length == 0) {
				// alert('Aucune place selectionnee.');
				return;
			}

			var url = '/api/places/validate/'+vals.toString();

			$.get(url, function(data) {
				if (data.result == -1)
					alert('Erreur lors de la validation');
				else {
					toastr.info('Validation de ' + data.result + ' lieu(x)');
					refreshDatagridAndMenu();
				}
			});

			return vals;
		});

		$(".supprimerPlaces").live('click', function() {
			if ($(".supprimerPlaces").hasClass("disabled")) return;
			var vals = [];
			var i = 0;

			$(".selectYakPlace").each(function(){
				if ($(this).prop('checked') == true)
					vals[i++] = jQuery(this).val();
			});

			if (vals.length == 0) {
				// alert('Aucune place selectionnee.');
				return;
			}

			var url = '/api/places/delete/'+vals.toString();

			$.get(url, function(data) {
				if (data.result == -1)
					alert('Erreur lors de la suppression');
				else {
					toastr.info('Suppression de ' + data.result + ' lieu(x)');
					refreshDatagridAndMenu();
				}
			});

			return vals;
		});

		$(".enattentePlaces").live('click', function() {
			if ($(".enattentePlaces").hasClass("disabled")) return;
			var vals = [];
			var i = 0;

			$(".selectYakPlace").each(function(){
				if ($(this).prop('checked') == true)
					vals[i++] = jQuery(this).val();
			});

			if (vals.length == 0) {
				// alert('Aucune place selectionnee.');
				return;
			}

			var url = '/api/places/wait/'+vals.toString();

			$.get(url, function(data) {
				if (data.result == -1)
					alert('Erreur lors de la suppression');
				else {
					// alert('Suppression de ' + data.result + ' place(s)');
					toastr.info('Mise en attente de ' + data.result + ' lieu(x)');
					refreshDatagridAndMenu();
				}
			});

			return vals;
		});


		function refreshDatagridAndMenu () {
			// Temporary refresh method for datagrid
			var $gridsearch = jQuery('#MyGrid').find('.search');
			var search = $gridsearch.find('input').val();
			$gridsearch.trigger('searched', search);
			$.getJSON('/api/validplaces', function(data) {
				$('#placenumber').removeClass('badge badge-important');
				if (data.info != 0)
					$('#placenumber').addClass('badge badge-important').html(data.info);
			});
		}

		// Remove pillbox if empty, refresh datagrid everytime an object is removed
		$("li.yakcat-value").live('click', function() {
			if ($(".pillbox#yakCatFilter").pillbox("items").length == 0) {
				$(".pillbox#yakCatFilter").hide();
			}
			refreshDatagridAndMenu();
		});

		$("li.user-value").live('click', function() {
			if ($(".pillbox#userFilter").pillbox("items").length == 0) {
				$(".pillbox#userFilter").hide();
			}
			refreshDatagridAndMenu();
		});

		// Edit Place function
		$(".editPlace").live('click', function(event)
		{
			event.preventDefault();

			listenerHandle = google.maps.event.addListener(map, 'click', function(event) {
				getformattedAddress(event.latLng);
				placeMarker(event.latLng,markerLocation);
			});
			listenerHandleDrag = google.maps.event.addListener(markerLocation, 'dragend', function() {
				var position = markerLocation.getPosition();
				$('#placeForm #latitude').val(position.lat());
				$('#placeForm #longitude').val(position.lng());

				getformattedAddress(position);
			});


			$("#MyGrid").hide();
			// We remove the error class when we open a form for editing a place
			$('#placeForm #titleGroup').removeClass("error");
			$('#placeForm #contentGroup').removeClass("error");
			$('#placeForm #licenceGroup').removeClass("error");
			$('#placeForm #origineGroup').removeClass("error");
			$('#placeForm #adresseGroup').removeClass("error");
			$("#btnBack").fadeIn();
			$("#placeForm").fadeIn();
			$(".catLabel").remove();
			$("#pillYakcat ul").empty();
			$('#err').hide();
			yakcatArray = new Array();
			yakcatNames = new Array();

			$("#placeForm legend").html("Editer un lieu");
			$("#placeForm #objid").val(this.id);

			var url = '/api/places/'+this.id;

			// We search for the place in mongo and we fill the form with the place's values
			$.ajax({
				url: url,
				type: 'GET',
				async: false,
				success: function (response)
				{
					var place = response.place;

					var latlng = new google.maps.LatLng(place.location.lat, place.location.lng);
					getformattedAddress(latlng);
					placeMarker(latlng,markerLocation);
					map.setCenter(markerLocation.getPosition());
					$("#placeForm #licence").val(place.licence);
					$("#placeForm #origine").val(place.origin);
					$("#placeForm #hiddenOrigin").val(place.origin);
					$("#placeForm #origine").prop('disabled', true);
					$("#placeForm #outgoinglink").val(place.outGoingLink);
					$("#placeForm #title").val(place.title);
					$("#placeForm #content").val(place.content);
					$("#placeForm #freetag").val(place.freeTag);

					for (var i = 0; i < place.yakCat.length; i++)
					{
						var url = '/api/cats/'+place.yakCat[i];
						$.ajax({
							url: url,
							type: 'GET',
							async: false,
							success: function (response)
							{
								var yakcat = response.cat;
								$("#pillYakcat").show();
								$("#pillYakcat ul").append("<li class='yakcat-val' data-value="+yakcat._id+">"+yakcat.title+"</li>");
								$('#placeForm #yakcat').val('').focus();
							}
						});
					}

					$('input:radio[name=status][value='+place.status+']').click();
					$("#placeForm #title").focus();
					$("#placeForm #place").val('');

					// loading the thumb
					var imag = "<img class='img-rounded' " + "src=\'/uploads/pictures/512_0/" + place.thumb +"\' style='width:100px'/>";
					$("#placeForm #picturePreview").html(imag);

					$("#placeForm #freetag").val(place.freeTag.join(","));

					if (place.contact)
					{
						$("#placeForm #tel").val(place.contact.tel);
						$("#placeForm #mobile").val(place.contact.mobile);
						$("#placeForm #mail").val(place.contact.mail);
						$("#placeForm #transportation").val(place.contact.transportation);
						$("#placeForm #web").val(place.contact.web);
						$("#placeForm #opening").val(place.contact.opening);
						$("#placeForm #closing").val(place.contact.closing);
						$("#placeForm #special").val(place.contact.special_opening);
					}
				}
			});
		});

		// Add Place function
		$("#btnAdd").click(function(event)
		{

			var user = !{JSON.stringify(user)};
			console.log(user);
			event.preventDefault();
			listenerHandle = google.maps.event.addListener(map, 'click', function(event) {
				getformattedAddress(event.latLng);
				placeMarker(event.latLng,markerLocation);
			});
			listenerHandleDrag = google.maps.event.addListener(markerLocation, 'dragend', function() {
				var position = markerLocation.getPosition();
				$('#placeForm #latitude').val(position.lat());
				$('#placeForm #longitude').val(position.lng());

				getformattedAddress(position);
			});

			$("#MyGrid").hide();
			$("#placeForm")[0].reset();
			// We remove the error class when we open a form for creating a new place
			$('#placeForm #titleGroup').removeClass("error");
			$('#placeForm #contentGroup').removeClass("error");
			$('#placeForm #licenceGroup').removeClass("error");
			$('#placeForm #origineGroup').removeClass("error");
			$('#placeForm #adresseGroup').removeClass("error");
			$('#placeForm #content').val("");
			$('#placeLabel').first().remove();
			$("#btnBack").fadeIn();
			$("#placeForm").fadeIn();
			$("#placeForm legend").html("Ajouter un lieu");
			$("#placeForm #objid").val("");
			$(".catLabel").remove();
			$("#pillYakcat ul").empty();
			$('#err').hide();
			$("#placeForm #title").focus();
			$("#placeForm #hiddenOrigin").val(user.login);
			$("#placeForm #origine").val(user.login);
			$("#placeForm #origine").prop('disabled', true);
			yakcatArray = new Array();
			yakcatNames = new Array();
		});


		// Function to go back from adding/editing form to the grid
		$("#btnBack").click(function() {
			$("#MyGrid").fadeIn();
			$("#placeForm").hide();
			$("#btnBack").hide();
			google.maps.event.removeListener(listenerHandle);
			markerLocation.setVisible(false);
		});

		// We validate the form before submitting it
		$('#placeForm').submit(function()
		{
			var err = false;

			if ($('#placeForm #title').val() == "")
			{
				$('#placeForm #titleGroup').addClass("error");
				$('#placeForm #title').focus();
				err = true;
			}
			else
				$('#placeForm #titleGroup').removeClass("error");

			if (placeArray == null)
			{
				$('#placeForm #adresseGroup').addClass("error");
				$('#placeForm #place').focus()
				err = true;
			}
			else
				$('#placeForm #adresseGroup').removeClass("error");


			if (err)
			{
				$('#err').show();
				return false;
			}

			if ($("#pillYakcat").pillbox("items")) {
					$($("#pillYakcat").pillbox("items")).each(function() {
						yakcatArray.push(this.value);
						yakcatNames.push(this.text);
					});
				}
			$("#placeForm #yakcatInput").val(JSON.stringify(yakcatArray));
			$("#placeForm #yakcatNames").val(JSON.stringify(yakcatNames));

			return true;
		});


		/*POST EFFECTS*/
		// hashtag creation from title field
		$(".hashtagMaker").keyup(function(event) {
			hashtagTmp = [];
			var inputStrArray = ($('#content').val()+' '+$('#title').val()).split(' ');
			for(i = 0; i< inputStrArray.length;i++){
				if(inputStrArray[i].match(rule)){
					//console.log('PUSH');
					hashtagTmp.push(inputStrArray[i]);
					//console.log(hashtagTmp);
					$('#freetag').val(hashtagTmp.toString().replace(rule2,''));
				}
			}
		});

		$('#placeForm #picture').live('change', function () {
			if (window.FileReader) {
				var fileList = this.files;
				var file = fileList[0];
				var r = new FileReader();
				r.onload = function () {
					var binimage = r.result;
					//console.log(binimage);

					binimage1 = binimage.replace('data:'+file.type+';base64,', '');
					var imag = "<img class='img-rounded' " + "src='" +
					"data:"+file.type+";base64," + binimage1 + "' style='width:100px'/>";
					$("#placeForm #picturePreview").html(imag);
				};
				r.readAsDataURL(file);
			}
			//r.readAsBinaryString(file);
		});

		$('#placeForm #yakcat').typeahead({
			source: function (typeahead, query) {
				$.ajax({
					url: "/api/cats",
					success: function(data) {
						typeahead.process(data.cats);
					}
				})
			},
			property: "title",
			onselect: function(obj) {
				//$("label[for='category']").after("<div class='catLabel'><i class='icon-remove icon-pointer'  onclick='var index=yakcatArray.indexOf(\""+obj._id+"\"); yakcatArray.splice(index,1);$(\"#placeForm #yakcatInput\").val(JSON.stringify(yakcatArray));$(this).parent().remove();'></i> "+obj.title+"</div>");
				$("#pillYakcat").show();
				$("#pillYakcat ul").append("<li class='yakcat-val' data-value="+obj._id+">"+obj.title+"</li>");
				$('#placeForm #yakcat').val('').focus();
			}
		});

		$("li.yakcat-val").live('click', function() {
			if ($("#pillYakcat").pillbox("items").length == 0) {
				$("#pillYakcat").hide();
			}
		});

		$('#placeForm #licence').typeahead({
			source: ["Licence Ouverte", "Licence Libre"]
		});

		$('#placeForm #btn-place-adder').click(function(){

			var addressString = $('#placeForm #place').val();
			if(addressString != "Rechercher..." && addressString != "" && addressString.length > 1){
				var addressQuery = {"address": addressString,"latLng":map.getCenter(),"bounds":map.getBounds()};
				var geocoder = new google.maps.Geocoder();
				geocoder.geocode(addressQuery, function(results, status) {
					if (status == google.maps.GeocoderStatus.OK) {
						map.setCenter(results[0].geometry.location);
						markerLocation.setVisible(true);
						markerLocation.setPosition(results[0].geometry.location);
						placeMarker(results[0].geometry.location,markerLocation);
						var placeGmap = getPlaceFromGmapResult(results[0]);
						placeArray = placeGmap;
						$("#placeForm #placeInput").val(JSON.stringify(placeArray));
						$('#placeLabel').first().remove();
						$('#placeForm #btn-place-adder').parent().before("<div id='placeLabel'><i class='icon-remove icon-pointer' onclick='placeArray=null;$(\"#placeForm #placeInput\").val(JSON.stringify(placeArray));$(this).parent().remove();'></i> "+results[0].formatted_address+"</div>");
						$("#placeForm #place").val("");
					} else {
						var salt = new Date().getTime();
						$('#placeForm #btn-place-adder').parent().before("<div id='alert"+salt+"' class='control-label'><i class='icon-exclamation-sign'> </i>Adresse invalide ("+status+")</div>");
						setTimeout(function() {
							$("#alert"+salt).fadeOut();
						}, 3000);
						$('#placeForm #place').select();
					}
				});
			}
		});

