!!!
html
	head
		meta(charset='utf8')
		base(href='/')
		title Yakwala
		
		link(rel='stylesheet', href='/stylesheets/gmap.css')
		link(rel='stylesheet', href='/javascripts/lib/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/javascripts/lib/bootstrap/css/bootstrap-responsive.css')
		link(rel='stylesheet', href='/javascripts/lib/jquery/css/custom-theme/jquery-ui-1.8.21.custom.css')
		link(rel='stylesheet', href='/stylesheets/jquery.mCustomScrollbar.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		
		script(src='javascripts/lib/jquery/js/jquery-1.7.2.min.js')
		script(src='javascripts/lib/jquery/js/jquery-ui-1.8.21.custom.min.js')
		script(src='http://maps.google.com/maps/api/js?sensor=false&libraries=drawing')		
		//script(src='/socket.io/socket.io.js')
		script(src='javascripts/markercluster.js')
		script(src='javascripts/lib/bootstrap/js/bootstrap.min.js')
		script(src='javascripts/lib/bootstrap/js/bootstrap-typeahead.js')
		script(src='javascripts/myjavascript.js')
		script(src='javascripts/lib/plugin/jquery.cookie.js')
		script(src='javascripts/lib/plugin/jquery.mousewheel.min.js')
		script(src='javascripts/lib/plugin/jquery.mCustomScrollbar.min.js')
		script(src='javascripts/confs.js')
	body!= body