extends ../layout
block content
	include ../mixins/menu.jade
	include ../mixins/map.jade
	include list.jade
	include ../mixins/forms/zoneForm.jade


	mixin menu('zone')
	mixin locationChooser()

	div.container-fluid
		div.row-fluid
			div.span4
				mixin map()
			div.span8
				div.fuelux
					- if (message)
						each msg in message
							div.alert.fade.in#alert
								button.close(type="button",data-dismiss="alert") x
								strong= msg

					div#newsfeedContainer
						mixin list()
						mixin zoneForm()
						
	script				
		var markerLocationTR = null;
		var markerLocationBL = null;
		var rect = new google.maps.Rectangle({
			visible:false,
			strokeColor: '##B94A48',
			strokeOpacity: 0.8,
			strokeWeight: 1,
			fillColor: '##B94A48',
			fillOpacity: 0.35,
			draggable:false,
		});

		$(document).ready(function() {
			
			rect.setMap(map);
			
			markerLocationBL = new google.maps.Marker({
				visible:false,
				map:map,
				draggable:true,
				raiseOnDrag:false,
				crossOnDrag:false,
				flat:true,
				icon:{url:'/images/back/bl.png',anchor:new google.maps.Point(5,37)}
			});

			markerLocationTR = new google.maps.Marker({
				visible:false,
				map:map,
				draggable:true,
				raiseOnDrag:false,
				crossOnDrag:false,
				flat:true,
				icon:{url:'/images/back/tr.png',anchor:new google.maps.Point(26,5)}
			});
			
			var mapCenter = map.getCenter();
			
			var BLlatLng = new google.maps.LatLng(mapCenter.lat()-0.01,mapCenter.lng()-0.01);
			markerLocationBL.setPosition(BLlatLng);
			
			var TRlatLng = new google.maps.LatLng(mapCenter.lat()+0.01,mapCenter.lng()+0.01);
			markerLocationTR.setPosition(TRlatLng);
			
			drawRect();

			google.maps.event.addListener(markerLocationTR, 'dragend', function() {
				var center = drawRect();
				$("#zoneForm #latTR").val(markerLocationTR.getPosition().lat());
				$("#zoneForm #lngTR").val(markerLocationTR.getPosition().lng());
				$("#zoneForm #latCT").val(center.lat());
				$("#zoneForm #lngCT").val(center.lng());
				
			});

			google.maps.event.addListener(markerLocationBL, 'dragend', function() {
				var center = drawRect();
				$("#zoneForm #latBL").val(markerLocationBL.getPosition().lat());
				$("#zoneForm #lngBL").val(markerLocationBL.getPosition().lng());
				$("#zoneForm #latCT").val(center.lat());
				$("#zoneForm #lngCT").val(center.lng());
			});

			
		});
		
		function drawRect(){
			var latLngBounds = new google.maps.LatLngBounds(markerLocationBL.getPosition(),markerLocationTR.getPosition());
			rect.setBounds(latLngBounds);
			return latLngBounds.getCenter();
		}

	
			
		function getZoneCT(placeGmap){
			$('#CT').val(placeGmap.title);
			$("#zoneForm #latCT").val(placeGmap.location.lat);
			$("#zoneForm #lngCT").val(placeGmap.location.lng);
		}

		

		function getformattedAddress(position){
			var geoQuery = {"location": position};
				var geocoder = new google.maps.Geocoder();
				geocoder.geocode( geoQuery, function(results, status) {
					if (status == google.maps.GeocoderStatus.OK) {
						var placeGmap = getPlaceFromGmapResult(results[0]);
						return placeGmap;
					} else {
						var salt = new Date().getTime();
						$('#address').parent().before("<div id='alert"+salt+"' class='control-label'><i class='icon-exclamation-sign'> </i>Adresse invalide ("+status+")</div>");
						setTimeout(function() {
							$("#alert"+salt).fadeOut();
						}, 1000);
						$('#address').select();
					}
				});

		}					