mixin list()
	table#MyGrid.table.table-bordered.datagrid
		thead
			tr.headerControle
				th
					.datagrid-header-left
						.input-append.search
							input#search.input-medium(type='text', placeholder='Recherche', data-provide="typeahead", autocomplete="off")
							button.btn
								i.icon-search
					.datagrid-header-right
						button.btn#btnAdd
							i.icon-plus
							span Ajouter
			tr.headerControle
				td(colspan=6)
					select#filterStatus
						option(value="-1", "selected"="selected") Toutes les zones
						option(value="0") Désactivées
						option(value="1") Actives
						
					
		tfoot
			tr
				th
					.datagrid-footer-left(style='display: none;')
						.grid-controls
							span
								span.grid-start
								| -
								span.grid-end
								| de
								span.grid-count
							select.grid-pagesize
								option 10
								option 20
								option 50
								option 100
							span Par Page
					.datagrid-footer-right(style='display: none;')
						.grid-pager
							button.btn.grid-prevpage
								i.icon-chevron-left
							span Page
							.input-append.dropdown.combobox.dropup
								input.span1(type='text')
								button.btn(data-toggle='dropdown')
									i.caret
								ul.dropdown-menu
							span
								| de
								span.grid-pages
							button.btn.grid-nextpage
								i.icon-chevron-right


	script

		var firstLoad = true;

		var ApiDataSource = function (options) {
			this._formatter = options.formatter;
			this._columns = options.columns;
		};

		ApiDataSource.prototype = {
			columns: function () {
				return this._columns;
			},
			data: function (options, callback) {
				var url = '/api/zones';
				var self = this;

				if (!options.search) {
					options.search = "^";
				}

				url += '/' + (options.pageIndex + 1);
				url += '/' + options.pageSize;
				url += '/' + options.search;

				var sortPropertyArray = [];
				var sortDirectionArray = [];

				// Add currently selected datagrid column to sort properties
				if (options.sortProperty) {
					sortPropertyArray.push(options.sortProperty);
					sortDirectionArray.push(options.sortDirection);
				}

				// sort by name by default
				if(sortPropertyArray.length == 0)
					sortPropertyArray.push( "name");
				// Always newest first
				sortDirectionArray.push("asc");

				// Would be easier if we could pass dictionaries, needs testing
				url += '/' + sortPropertyArray.join() + '/' + sortDirectionArray.join();

				// Filter by status

				var status = $('#filterStatus :selected').val();
				url += '/' + status;

				// Optional filters: Yakcats, Users
				//  - Passed as query to allow for null
				var queryChar = '?';

				$.ajax(url, {
					type: 'GET'
				}).done(function (response) {

					if (firstLoad) {
						$("#search").focus();
						$('th[data-property="creationDate"]').addClass('sorted');
						$('th[data-property="creationDate"]').append('<i class="icon-chevron-down"></i>');
						firstLoad = false;
					}

					// Prepare data to return to Datagrid
					var data = response.zone;
					var count = response.count;
					var startIndex = (response.pageIndex - 1) * response.pageSize;
					var endIndex = parseInt(startIndex) + parseInt(response.pageSize);
					var end = (endIndex > count) ? count : endIndex;
					var page = parseInt(response.pageIndex);
					var pages = Math.ceil(response.count / response.pageSize);
					var start = startIndex + 1;

					if (self._formatter) self._formatter(data);

					callback({ data: data, start: start, end: end, count: count, pages: pages, page: page });

				});
			}
		};

		$('#MyGrid').datagrid({
			dataSource: new ApiDataSource({
				columns: [
				{
					property: 'name',
					label: 'Nom',
					sortable: true
				},
				{
					property: 'num',
					label: 'Numéro',
					sortable: true
				},
				{
					property: 'status',
					label: 'Status',
					sortable: true
				},
				{
					property: 'creationDate',
					label: 'Création',
					sortable: true
				}],
				formatter: function (items) {
					$.each(items, function (index, item) {
						item.name = fillContent(item);
						item.num= item.num;
						item.status = makeStatusDropDown(item);
						item.creationDate = formatDate(item.creationDate);
					});
				}
			})
		});

		
		
		function setNewStatus(el){
			var _id = $(el).attr("rel");
			$.post("/zone/setStatus", {status: $(el).val(), _id : _id}, function(data){
					if(data.meta.code == "200"){
						var icon = "icon-time";
						var title_icon = "En attente";
						if($(el).val() == 0){
								icon = 'icon-ban-circle';
								title_icon = "Inactive";
						}
						if($(el).val() == 1){
								icon = 'icon-ok-sign';
								title_icon = "Active";
						}
						$("#icon_"+_id).attr('class',icon).attr('title',title_icon);
					}
				});
		}

		
		function makeStatusDropDown(item){
			var select = $("<div />");
			select.attr("class", "selectStatus");
			select.html('<select onchange="setNewStatus(this)" class="selectStatus" rel="'+item._id+'"><option value="1">Activée</option><option value="0">Désactivée</option></select>');
			select.find("option").each(function(){
				if($(this).attr("value") == item.status)
					$(this).attr("selected", "selected");
			});
			return select.html();
		}

		
		function fillContent(item) {
			var res = "";
			var icon = "icon-time";
			var title_icon = "En attente";
			var title_title = "";

			res += '<div class="liens">';
			res += '<a href="#" id="'+item._id+'" class="duplicateItem listIcon" title="Dupliquer"><i class="icon-random"></i></a>';
			res += '<a class="centerMap" id="' + item._id + '" href="/place/list/#">';

			if (typeof item.location != 'undefined'
				&& typeof item.location.lat != 'undefined'
				&& typeof item.location.lng != 'undefined' ){
				res += '<a class="centerMap listIcon" id="' + item._id + '" lat="' + item.location.lat + '" lng="' + item.location.lng + '"   href="#">';
			res += '<i class = "icon-map-marker" title="Localiser"></i>';
			res += '</a>';
			}	
			res += "</div>";

			res += '<a class="editZone" id="' + item._id + '" href="#">';

			if (item.status == 1) {
				icon = 'icon-ok-sign';
				title_icon = "Active";
			}
			else if (item.status == 0) {
				icon = 'icon-ban-circle';
				title_icon = "Désactivée";
			}
			
			if(item.name.length > 50) {
				item.name = item.name.slice(0, 50) + "...";
			}

			res += '<div class="text-info" ><i  id="icon_'+item._id+'"  class="' + icon + ' status" title="' + title_icon + '" ></i>' + item.name +'</div>';

			
			res += '</a>';
			return res;
		}

		
		function formatDate(creationDate) {
			var dateTmp = new Date(creationDate);
			return dateTmp.getDate()+'/'+(dateTmp.getMonth()+1)+'/'+dateTmp.getFullYear();

		}

		function refreshDatagrid () {
			// Temporary refresh method for datagrid
			var $gridsearch = jQuery('#MyGrid').find('.search');
			var search = $gridsearch.find('input').val();
			$gridsearch.trigger('searched', search);
		}

		$("#btnBack").unbind('click').on('click',function(){
			$("#zoneForm").hide();
			$("#MyGrid").show();
			google.maps.event.removeListener(listenerHandle);
			markerLocation.setVisible(false);
			markerLocationBL.setVisible(false);
			markerLocationTR.setVisible(false);
			rect.setVisible(false);					
			$("#zoneForm input[type=hidden]").val('');
			$('#zoneForm').clearForm();
			$('#err').hide();
			$("#btnBack").hide();
			$('#zoneForm #nameGroup').removeClass("error");
			$('#zoneForm #addressGroup').removeClass("error");
			$('#zoneForm #TRGroup').removeClass("error");
			$('#zoneForm #BLGroup').removeClass("error");
			markerLocationBL.setVisible(false);
			markerLocationTR.setVisible(false);
			rect.setVisible(false);
		});


		/*bind form edition on the loaded datagrid event to avoid double loading*/
		$('#MyGrid').unbind('loaded').on('loaded',function(){
				// Edit Feed function
			$("#MyGrid .editZone").on('click', function(event){
				event.preventDefault();
				event.stopPropagation();
				editZone(this.id,0);
				
			});

			$("#MyGrid a.centerMap").on('click', function(event){
				event.preventDefault();
				event.stopPropagation();
				var latLng = new google.maps.LatLng($(this).attr('lat'), $(this).attr('lng'));
				map.panTo(latLng);
				markerLocation.setVisible(true);
				markerLocation.setPosition(latLng);
			});	
			
			$("#MyGrid a.duplicateItem").on('click', function(event){
				event.preventDefault();
				event.stopPropagation();
				editZone(this.id,1);
			});
		});
		

		function refreshDatagridAndMenu () {
			// Temporary refresh method for datagrid
			var $gridsearch = jQuery('#MyGrid').find('.search');
			var search = $gridsearch.find('input').val();
			$gridsearch.trigger('searched', search);
		}

		
		// Add ZOne function
		$("#btnAdd").click(function(event){
			$("#MyGrid").hide();
			$("#zoneForm")[0].reset();
			// We remove the error class when we open a form for creating a new place
			$('#zoneForm #nameGroup').removeClass("error");
			$('#zoneForm #addressGroup').removeClass("error");
			$('#zoneForm #TRGroup').removeClass("error");
			$('#zoneForm #BLGroup').removeClass("error");
			$("#btnBack").fadeIn();
			$("#zoneForm").fadeIn();
			$("#zoneForm legend").html("Ajouter une zone");
			$("#zoneForm #objid").val("");
			$('#err').hide();
			$("#zoneForm #name").focus();
			
			var mapCenter = map.getCenter();
			$("#zoneForm #latCT").val(mapCenter.lat());
			$("#zoneForm #lngCT").val(mapCenter.lng());
			$("#zoneForm #latTR").val(mapCenter.lat()+0.01);
			$("#zoneForm #lngTR").val(mapCenter.lng()+0.01);
			$("#zoneForm #latBL").val(mapCenter.lat()-0.01);
			$("#zoneForm #lngBL").val(mapCenter.lng()-0.01);
			
			var BLlatLng = new google.maps.LatLng(mapCenter.lat()-0.01,mapCenter.lng()-0.01);
			markerLocationBL.setPosition(BLlatLng);
			markerLocationBL.setVisible(true);

			var TRlatLng = new google.maps.LatLng(mapCenter.lat()+0.01,mapCenter.lng()+0.01);
			markerLocationTR.setPosition(TRlatLng);
			markerLocationTR.setVisible(true);
			
			rect.setVisible(true);
			drawRect();

			var CTlatLng = new google.maps.LatLng(mapCenter.lat(),mapCenter.lng());
			placeMarker(CTlatLng,markerLocation);
		});


		// Refresh on sort selection
		$('#filterStatus').live('change', function() {
			refreshDatagridAndMenu();
		});



		function editZone(id,flagDuplicate){
			event.preventDefault();

			$("#MyGrid").hide();
			// We remove the error class when we open a form for editing a place
			$('#zoneForm #nameGroup').removeClass("error");
			$("#btnBack").fadeIn();
			$("#zoneForm").fadeIn();
			$('#err').hide();
			$("#zoneForm legend").html("Editer une zone");
			
			
			var url = '/api/zone/'+id;

			// We search for the zone in mongo and we fill the form with the zone's values
			$.ajax({
				url: url,
				type: 'GET',
				async: false,
				success: function (response)
				{
					var zone = response.zone;
					var latlng = new google.maps.LatLng(zone.location.lat, zone.location.lng);
					map.setCenter(latlng);
					$("#zoneForm #name").val(zone.name);
					$('#zoneForm #numero').html('<br><b>Numéro : </b>'+zone.num);
					

					$("#zoneForm #latCT").val(zone.location.lat);
					$("#zoneForm #lngCT").val(zone.location.lng);
					$("#zoneForm #latTR").val(zone.box.tr.lat);
					$("#zoneForm #lngTR").val(zone.box.tr.lng);
					$("#zoneForm #latBL").val(zone.box.bl.lat);
					$("#zoneForm #lngBL").val(zone.box.bl.lng);
					if(flagDuplicate==1)
						$("#objid").val("");
					else	
						$("#zoneForm #objid").val(zone._id);
					$('input:radio[name=status][value='+zone.status+']').click();
					$("#zoneForm #name").focus();

					var BLlatLng = new google.maps.LatLng(zone.box.bl.lat,zone.box.bl.lng);
					markerLocationBL.setPosition(BLlatLng);
					markerLocationBL.setVisible(true);

					var TRlatLng = new google.maps.LatLng(zone.box.tr.lat,zone.box.tr.lng);
					markerLocationTR.setPosition(TRlatLng);
					markerLocationTR.setVisible(true);
					
					rect.setVisible(true);
					drawRect();

					var CTlatLng = new google.maps.LatLng(zone.location.lat,zone.location.lng);
					placeMarker(CTlatLng,markerLocation);


				}
			});

		}