
extends ../layout
block content
	include ../mixins/menu.jade
	include ../mixins/searchPanel.jade
	include ../mixins/newsLoader.jade
	include ../mixins/paging.jade
	include ../mixins/popup.jade
	include ../mixins/locationChooser.jade
	include ../mixins/forms/searchForm.jade

	mixin menu('feed')
	mixin locationChooser('feed')

	div.container-fluid
		div.row-fluid
			div.span4
			div.span4
				div#searchForm
					mixin searchForm('feed')
			div.span4	
		div.row-fluid#mainFeedWrapper
			div.span8
				div#feedContent
				div
					mixin paging()
			div.span4
				div.columnTitle TOPS
				div#topsFeed
		
	
	link(rel='stylesheet', href='/javascripts/lib/jquery/css/share.css')
	script(src="/javascripts/lib/jquery/js/timeago.js")	
	script(src="/javascripts/lib/jquery/js/share.js")	
	script(src="/javascripts/lib/jquery/js/jquery.livequery.js")
	script(src="/javascripts/json2.js")	
	
	script
		var conf = !{conf};
		var mainConf = !{mainConf};	
		var user =!{JSON.stringify(user)};
		var infoArray = [];
		var currentDate = new Date();
		var currentPage = 1;
		var range = 75;
		var skip = 0;
		var limit = mainConf.searchParams.limit;
		var subSize = mainConf.searchParams.subSize;
		var loading = $("<div />");
		var timer;
		var timestamp = Math.round(+new Date()/1000); 
		loading.attr("class", "loading");
		loading.css("textAlign", "center")
		loading.html("<img src='images/loader_big.gif' />");

		function setLiveUpdateTrigger()
		{
			if ($("#feedContent #liveupdate").length > 0)
				return;

			var urltosearch = '/api/geoinfos/48.851875/2.356374/5/null/0/0/1,2,3,4/null/5/0';

			$("#feedContent .hidden").remove();

			var liveupdate = $("<div />");

			var itemsCount = 0;

			liveupdate.attr("id", "liveupdate");

			liveupdate.click(function(){
				$("#feedContent .hidden").removeClass("hidden");
				$("#feedContent #liveupdate").remove();
			});

			$.getJSON(urltosearch ,function(data) {

				itemsCount = data.data.info.length;

				$.each(data.data.info, function(key,val) {
					var item = createFeedPageItem(val);
					item.addClass("hidden");
					
					$("#liveupdate").after(item);
				});

				liveupdate.html(itemsCount + " more news, click here to load");
			});

			
			$("#feedContent").prepend(liveupdate);
		}

		function createFeedPageItem(val)
		{
			item = $("<div />");
			item.attr("class", "myitem");

			/*define title element*/
			title = $("<div />");
			title.attr("class", "title");
			title.html("<img class='PersonImg' src='" + "/images/yakfav.png"+ "' />");

			/*create more linked element for title*/
			/*more = $("<a />");
			more.attr("class", "more");
			more.attr("href", val.outGoingLink);
			more.attr("target", "_blank");
			more.attr("rel", val._id);
			more.attr("data-toggle", "data-toggle");*/
			more = $("<span />");
			more.html(val.title);

			/*create posted by element*/
			postedby = $("<div />");
			postedby.attr("class", "postedby");
			/*convert date to french date*/
			date = new Date(val.pubDate).toLongFrenchFormat();

			if(val.origin != null)
				postedby.html("Posté par @" + val.origin + " le " + date);
			else
				postedby.html("Posté by @ananomys le " + date);

			//postedby.html(postedby.html().replace(/@(\S*)/g,'<a href="news/map/search/@$1">@$1</a>'))
			postedby.html(postedby.html().replace(/@(\S*)/g,'<a onclick="setSearchFor(this)">@$1</a>'));

			postedby.find("a").mouseenter(function(){
				changeTitle(postedby.find("a"));	
			});
			
			setToolTip(postedby.find("a"));
			/*create hot level element*/
			hot = $("<div />");
			hot.attr("class", "hot");
			hot.append("<div class='hotLevel' style='width: " + val.heat + "%'></div>");
			
			/*create time ago element*/
			
			
			/*create the yak image element*/
			yakimage = $("<span />");
			yakimage.html("<img class='yakImg' src='" + yakImages[val.yakType] + "' />");

			
			
			/*create info image*/
			img = $("<img />");
			img.attr("class", "img");
			//img.attr("src", conf.backurl + val.thumb);
			img.attr("src", val.thumb);
			
			/*create the read from source link*/
			outlink = $("<div />");
			outlink.html("<a></a>");
			outlink.find("a").attr("href", val.outGoingLink);
			outlink.find("a").attr("target", "_blank");
			outlink.find("a").html("read from source");

			/*create the expand button the +*/
			readmore = $("<a />");
			readmore.attr("class", "expand");
			readmore.css("cursor", "pointer");
			readmore.css("marginLeft", "12px");
			readmore.click(function(){

				var loading = $("<span />");

				loading.html("loading...");

				var readmore1 = $(this);

				readmore1.after(loading);

				readmore1.css("visibility", "hidden");

				$.getJSON('/api/afeed', { id: val._id} ,function(data) {

					var youtubes = findUrls(data.info[0].content);

					/*if (youtubes.length > 0) {

						for (var i = 0; i< youtubes.length; i++) {
							readmore1.parent().after('<a href="' + youtubes[i] +'" target="_blank" style="margin-right: 12px"><img src="http://img.youtube.com/vi/' + getVcode("v", youtubes[i])  + '/1.jpg" style="border: 0px;"></a>');	
						};
					};*/
					//var phones = phoniphy(data.info[0].content);
					//readmore1.parent().parent().parent().append(phones);
					readmore1.parent().html(data.info[0].content.linkify());
					
				});	
			});
			readmore.html("+");

			/*create the content element*/
			content = $("<div />");
			content.attr("class", "content");
			content.html("<div class='theContent'>" + val.content.substring(0, subSize) + "</div>");
			
			/*place image in content*/
			content.prepend(img);
			/*append the read more*/
			content.find(".theContent").append(readmore);

			content.append("<br />");
			
			/*create the types elements*/
			type = $("<div />");
			type.attr("class", "type");
			type.html("Type: " + val.yakType);

			/*create the cats elements*/
			cat = $("<div />");
			cat.attr("class", "cat");
			var yakCatNames = "";
			$.each(val.yakCatName, function(key, val){
				yakCatNames += "#" + val + " "
			});
			//yakCatNames = yakCatNames.replace(/#(\S*)/g,'<a href="news/map/search/%23$1">#$1</a>');
			cat.html(yakCatNames.linkify("/news/map/search/%23", 1));

			/*create the address element*/
			address = $("<span />");
			address.attr("class", "address");
			address.html(val.address);


			/*create the freetags element*/
			freetags = $("<div />");
			freetags.attr("class", "freetags");
			var freetagNames = "";
			$.each(val.freeTag, function(key, val){
				freetagNames += "#" + val.replace(" ", "&nbsp;") + " "
			});
			//freetagNames = freetagNames.replace(/#(\S*)/g,'<a href="news/map/search/%23$1">#$1</a>');
			freetags.html(cat.html() +freetagNames.linkify("/news/map/search/%23", 1));
			

			/* create the likes system */ 
			var yakLikes = $("<span />");
			yakLikes.attr("class", "yakLikes");
			yakLikes.attr("rel", val._id);

			var yakComments = $("<span />");
			yakComments.attr("class", "yakComments");
			yakComments.attr("rel", val._id);
			//console.log(val.yakComments);
			yakComments.html("Il y en a " + val.yakComments.length + " comments");

			yakComments.click(function(){
				if ($(this).parent().find(".commentBox").length > 0)
				{
					return;
				}
					
				var currEleComment = $(this);
				var divComment = $("<div />");
				divComment.attr("class", "commentBox");
				$(this).append('<img class="loadingMore" src="images/loader_big.gif">');
				$.getJSON('/api/afeed', { id: $(this).attr("rel")} ,function(data) {
						$.each(data.info[0].yakComments, function(key, val){
							divComment.append(drawAComment(val));
						});
						divComment.append('<textarea></textarea>');
						divComment.find("textarea").keypress(function(event){
							if (event.keyCode == 13) {
								var comment = $(this).val();
								var theArea = $(this);
								$(this).val("posting...Please wait");
								$(this).attr("disabled", "disabled");
								var newComment = new Array();
								newComment.username = user.login;
								newComment.userid = user._id;
								newComment.comment = comment;
								$.post('/setComment', {infoId : currEleComment.attr("rel"), username: user.login, comment: comment} , function(res){
									if (res == 'updated')
									{
										theArea.val("Posted...");
										theArea.removeAttr("disabled");
										theArea.before(drawAComment(newComment));
									}

				});
							};
						});
						currEleComment.find(".loadingMore").remove();
						currEleComment.after(divComment);
				});	
			});

			var thumbsUp = "<i class='icon-thumbs-up'></i>";
			var thumbsDown = "<i class='icon-thumbs-down'></i>";
			if($.inArray(user._id, val.yaklikeUsersIds) > -1)
			{
				thumbsUp = "you like this";
			}

			if($.inArray(user._id, val.yakunlikeUsersIds) > -1)
			{
				thumbsDown = "you dislike this";
			}

			if($.inArray(user._id, val.yaklikeUsersIds) > -1 && $.inArray(user._id, val.yakunlikeUsersIds) == -1)
			{
				yakLikes.append("déjà aimé " + "<span class='theUps'>" + val.likes + "</span> likes- " + "" + "<span class='theDowns'>" + val.unlikes +"</span> dislikes");			

			}
			else if($.inArray(user._id, val.yaklikeUsersIds) == -1 && $.inArray(user._id, val.yakunlikeUsersIds) > -1)
			{
				yakLikes.append("déjà détesté " + "<span class='theUps'>" + val.likes + "</span> likes- " + "" + "<span class='theDowns'>" + val.unlikes +"</span> dislikes");							
			}
			else
			{

			yakLikes.append(thumbsUp + "<span class='theUps'>" + val.likes + "</span> likes- " + thumbsDown + "<span class='theDowns'>" + val.unlikes +"</span> dislikes");			

			}


			/*append the more yakimage ago and posted by to title*/
			title.append(more);
			title.append(yakimage);
			title.append(buildItemDate(val));
			title.append(postedby);

			/*append title to item*/
			item.append(title);
			//content.append(address);
			//content.append("<div class='shareMe'>Partager <i class='icon-share' title='Share Me'></i></div>");
			content.append("<div class='shareMe'><i style='background: none' class='icon-share' title='Share Me'><img src='images/ftg.png' class='ftgIcon' /> </i></div>");
			item.append(content);
			item.append(freetags);
			item.append(address);
			item.append(yakLikes);
			item.append(yakComments);
			return item;	
		}

		function createTopsItem(val)
		{
			item = $("<div />");
			item.attr("class", "myitem");

			/*define title element*/
			title = $("<div />");
			title.attr("class", "title");
			title.html("<img class='PersonImg' src='" + "/images/yakfav.png"+ "' />");

			/*create more linked element for title*/
			more = $("<a />");
			more.attr("class", "more");
			more.attr("href", "/news/feed?id=" + val._id);
			more.attr("rel", val._id);
			more.attr("data-toggle", "data-toggle");
			more.html(val.title);

			/*create posted by element*/
			postedby = $("<div />");
			postedby.attr("class", "postedby");
			/*convert date to french date*/
			date = new Date(val.pubDate).toLongFrenchFormat();

			if(val.origin != null)
				postedby.html("Posté par @" + val.origin + " le " + date);
			else
				postedby.html("Posté by @ananomys le " + date);

			//postedby.html(postedby.html().replace(/@(\S*)/g,'<a href="news/map/search/@$1">@$1</a>'))
			postedby.html(postedby.html().replace(/@(\S*)/g,'<a onclick="setSearchFor(this)">@$1</a>'));

			
			/*create time ago element*/
			ago = $("<abbr />");
			ago.attr("class", "timeago");
			ago.css("float", "right");
			ago.css("marginRight", "8px");
			ago.css("fontSize", "11px")
			ago.attr("title", val.pubDate);

			/*create the yak image element*/
			yakimage = $("<span />");
			yakimage.html("<img class='yakImg' src='" + yakImages[val.yakType] + "' />");

			
			
			/*create info image*/
			img = $("<img />");
			img.attr("class", "img");
			//img.attr("src", conf.backurl + val.thumb);
			img.attr("src", val.thumb);
			
			
			/*create the expand button the +*/
			readmore = $("<a />");
			readmore.attr("class", "expand");
			readmore.css("cursor", "pointer");
			readmore.css("marginLeft", "12px");
			readmore.click(function(){

				var loading = $("<span />");

				loading.html("loading...");

				var readmore1 = $(this);

				readmore1.after(loading);

				readmore1.css("visibility", "hidden");

				$.getJSON('/api/afeed', { id: val._id} ,function(data) {

					var youtubes = findUrls(data.info[0].content);

					if (youtubes.length > 0) {

						for (var i = 0; i< youtubes.length; i++) {
							readmore1.parent().after('<a href="' + youtubes[i] +'" target="_blank" style="margin-right: 12px"><img src="http://img.youtube.com/vi/' + getVcode("v", youtubes[i])  + '/1.jpg" style="border: 0px;"></a>');	
						};
					};
					var phones = phoniphy(data.info[0].content);
					//alert(phones.html());
					readmore1.parent().parent().parent().append(phones);
					readmore1.parent().html(data.info[0].content.linkify());
					
				});	
			});

			//readmore.html("+");

			/*create the content element*/
			content = $("<div />");
			content.attr("class", "content");
			//content.html("<div class='theContent'>" + val.content.substring(0, subSize) + "...</div>");
			
			/*place image in content*/
			//content.prepend(img);
			/*append the read more*/
			content.find(".theContent").append(readmore);

			//content.append("<br /><br />");
			
			/*create the types elements*/
			type = $("<div />");
			type.attr("class", "type");
			type.html("Type: " + val.yakType);

			/*create the cats elements*/
			cat = $("<div />");
			cat.attr("class", "cat");
			var yakCatNames = "";
			$.each(val.yakCatName, function(key, val){
				yakCatNames += "#" + val + " "
			});
			//yakCatNames = yakCatNames.replace(/#(\S*)/g,'<a href="news/map/search/%23$1">#$1</a>');
			cat.html(yakCatNames.linkify("/news/map/search/%23", 1));

			/*create the freetags element*/
			freetags = $("<div />");
			freetags.attr("class", "freetags");
			var freetagNames = "";
			$.each(val.freeTag, function(key, val){
				freetagNames += "#" + val.replace(" ", "&nbsp;") + " "
			});
			//freetagNames = freetagNames.replace(/#(\S*)/g,'<a href="news/map/search/%23$1">#$1</a>');
			freetags.html(cat.html() +freetagNames.linkify("/news/map/search/%23", 1));

			/*create the address element*/
			address = $("<div />");
			address.attr("class", "address");
			address.html(val.address);

			/*append the more yakimage ago and posted by to title*/
			title.append(more);
			//title.append(yakimage);
			//title.append(ago);
			//title.append(postedby);

			/*append title to item*/
			item.append(title);
			//content.append(address);
			content.append(postedby);
			//content.append("<div class='shareMe'>Partager <i class='icon-share' title='Share Me'></i></div>");
			item.append(content);
			//item.append(freetags);

			return item;
		}

		$(document).ready(function() {
			//console.log(user);
			/*init position from cookie or db*/
			
			range = rangeFromZ();
			
			$('#arroundme').click(function(){

				if(user.location){
					var latLng = new google.maps.LatLng(user.location['lat'],user.location['lng']);
					curPos.name = user.formatted_address;
					curPos.x =  user.location.lat;
					curPos.y =  user.location.lng;
					curPos.z = mainConf.searchParams.sliderDefault;
					$("#searchPlaceStr").val(curPos.name);
					$("#rangeSelector").find("a.ui-slider-handle").css("left", curPos.z + "%");
					$("#rangeSelector").find("div.ui-slider-range").css("width", curPos.z + "%");
					setLocalnessSliderText(curPos.z);
					changeRange();
					//map.setCenter(latLng);
				}else{
					window.location = '/settings/profile';
				}
			});

			$('.typeahead').typeahead();
			$('.btn-group1').button();
			getAndPrintInfo(0);
			//triggerSearch(currentPage, 0);

			//for testing
			loadTops();

			/* Controlling the more flow */
			$(window).scroll(function(){
				if (isScrolledIntoView($(".next"))) {
						getAndPrintInfo(1);
					}
			});

			/* Controlling the silent Updater */
			timer = setInterval( getSilentUpdate, 30000);
		});

		function rangeFromZ(){
			return (-1)*0.0099/1*(curPos.z)+1;
		}

		/*function zFromRange(){
			return (-1)/0.0099*(range-1);
		}*/

		function changeRange(){
			range = rangeFromZ();
			$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000, path : '/' });

			getAndPrintInfo(0);
			
		};

		function changeLocation(location){
			var locationObj = JSON.parse(location);
			curPos.x = locationObj.lat;
			curPos.y=locationObj.lng;
			getAndPrintInfo(0);	
		}		
		
		

		function getAndPrintInfo (next, silentUpdate)
		{
		
			if (next == 1)
			{	
				skip = skip + limit;
				$("#feedContent").append(loading)
			}else
			{

				$("#feedContent").html("");
			}
			range = rangeFromZ();
			
			if(typeof(yakType) == 'undefined' ||  yakType.length == 0){
				$("#feedContent").html("Choisissez un type d'info.");
				return;
			}
			// searching throuhg cirle 
			var urltouse = 'api/geoinfos/';
			urltouse += curPos.x + "/"
			urltouse += curPos.y	 + "/" 
			urltouse += range + "/" 
			urltouse +=  "null/" 
			urltouse += dateFrom + "/" 
			urltouse += "0/" 
			urltouse += yakType + "/" // type;
			urltouse += searchString + "/" // str;
			urltouse += limit + "/"  // limit;
			urltouse += skip + "/" // skip;
			
			//console.log(urltouse);
			$.getJSON(urltouse ,function(data) {
		
				if((typeof(data.data) == 'undefined' ||  data.data.info.length == 0) && next != 1){
					$("#feedContent").html("Aucune infos");
					return;
				}


				var len = data.data.info.length;

				$.getJSON('/api/afeed', { id: getVcode("id", window.location)} ,function(data1) {
				
				data = mergeDeep(data, data1);
				
				$.each(data.data.info, function(key,val) {
					/*define item element*/
					
					var item = createFeedPageItem(val);
					$("#feedContent").append(item);

					$("#resultSet").html(currentPage);
					$(".next").show();
					$("#loading").html("");
					
				});
				setClickableArea();
				setshortUrl();
				setLikeSystem();
				//setInterval("setLiveUpdateTrigger()", 30000);
				$("#feedContent .loading").remove();

				$("abbr.timeago").timeago();
				if(typeof(data1.info) === 'undefined')
				{
					
				}
				else
				{
					if(data1.info.length == 1)
							colorFirstRecord();
				}
				});
			});
		
		}

		function setLikeSystem()
		{
			$(".icon-thumbs-up").click(function(){

				var currEl = $(this);
				var thumbs = $(this).parent().find(".theUps");

				var currentLikes = parseInt(thumbs.html());
				$.post('/setLikes', {infoId : $(this).parent().attr("rel"), islike: 'like'} , function(res){
					if (res == 'updated')
					{
						thumbs.html(currentLikes + 1);
						currEl.parent().find("i").eq(0).before("déjà aimé");
						currEl.parent().find("i").remove();
					}

				});
			});

			$(".icon-thumbs-down").click(function(){
				var currEl = $(this);
				var thumbs = $(this).parent().find(".theDowns");
				var currentLikes = parseInt(thumbs.html());
				$.post('/setLikes', {infoId : $(this).parent().attr("rel"), islike: 'dislike'} , function(res){
					if (res == 'updated')
					{
						thumbs.html(currentLikes + 1);
						currEl.parent().find("i").eq(0).before("déjà détesté");
						currEl.parent().find("i").remove();
					}
				});
			});
		}

		



		function getSilentUpdate(){

			$("#feedContent .hidden").remove();

			if ($("#feedContent .silentUpdates").length == 0) {
				var silentUpdates = $("<div />");
				silentUpdates.attr("class", "silentUpdates");
				silentUpdates.hide();
				$("#feedContent").prepend(silentUpdates);
			}

			

			var urltouse = 'api/geoinfos/';
			urltouse += curPos.x + "/"
			urltouse += curPos.y	 + "/" 
			urltouse += range + "/" 
			urltouse +=  "null/" 
			urltouse += dateFrom + "/" 
			urltouse += timestamp + "/" 
			urltouse += yakType + "/" // type;
			urltouse += searchString + "/" // str;
			urltouse += limit + "/"  // limit;
			urltouse += skip + "/" // skip;	
			//console.log(timestamp);
			$.getJSON(urltouse ,function(data) {

				var len = data.data.info.length;

				$.each(data.data.info, function(key,val) {
					var item = createFeedPageItem(val);
					item.addClass("hidden");
					$("#feedContent .silentUpdates").after(item);
				});

				setClickableArea();
				setshortUrl();

				if (len > 0) {
					$("#feedContent .silentUpdates").show();
					$("#feedContent .silentUpdates").html("Il y'en a " + len + " nouvelles infos");
					$("#feedContent .silentUpdates").click(function(){
						$("#feedContent .hidden").removeClass("hidden");
						$("#feedContent .silentUpdates").remove();
						clearInterval(timer);
						timer = setInterval( getSilentUpdate, 30000);
					});
				}
				else
				{
					$("#feedContent .silentUpdates").hide();
				}
			});
		}

		//for testing
		function loadTops()
		{
			var urltouse = '/api/geoinfos/48.851875/2.356374/5/0/null/0/0/1,2,3,4/null/5/0';
			/*urltouse += x1 + "/" // x1;
			urltouse += y1	 + "/" // y1;
			urltouse += x2 + "/" // x2;
			urltouse += y2 + "/" // y2;
			urltouse += heat + "/" // heat;
			urltouse += type + "/" // type;
			urltouse += str + "/" // str;
			urltouse += skip + "/" // skip;
			urltouse += limit // limit; */

			$.getJSON(urltouse ,function(data) {
				$.each(data.data.info, function(key,val) {
					var item = createTopsItem(val);
					$("#topsFeed").prepend(item);
				});
			});

		}