
extends ../layout
block content

	include ../mixins/menu.jade
	include ../mixins/searchPanel.jade
	include ../mixins/newsLoader.jade
	include ../mixins/paging.jade
	include ../mixins/popup.jade

	mixin menu('feed')
	div#mainFeedWrapper.row
		mixin searchPanel()
		mixin newsLoader()
		div#feedContent
		mixin paging()
		mixin popup()
	
	link(rel='stylesheet', href='/javascripts/lib/jquery/css/share.css')
	script(src="/javascripts/lib/jquery/js/timeago.js")	
	script(src="/javascripts/lib/jquery/js/share.js")	
	script 
		var conf = !{conf};
	script(src='/javascripts/feedpage.js')


    


	
		
		