
extends ../layout
block content

	include ../mixins/menu.jade
	include ../mixins/searchPanel.jade
	include ../mixins/newsLoader.jade
	include ../mixins/paging.jade
	include ../mixins/popup.jade
	include ../mixins/locationChooser.jade

	mixin menu('feed')
	mixin locationChooser('feed')

	div#mainFeedWrapper.row
		mixin searchPanel()
		mixin newsLoader()
		div.row-fluid
			div.span8
				div#feedContent
			div#topsFeed.span4.alwaysShown
				//
					img(src="images/rightcoltest.png")
					img(src="images/rightcoltest.png")
		mixin paging()
		mixin popup()
	
	link(rel='stylesheet', href='/javascripts/lib/jquery/css/share.css')
	script(src="/javascripts/lib/jquery/js/timeago.js")	
	script(src="/javascripts/lib/jquery/js/share.js")	
	script(src="/javascripts/lib/jquery/js/jquery.livequery.js")	
	script 
		var conf = !{conf};
		var mainConf = !{mainConf};	
	script(src='/javascripts/feedpage.js')
	script(src='/javascripts/json2.js')


    


	
		
		