
extends ../layout
block content
	include ../mixins/menu.jade
	include ../mixins/searchPanel.jade
	include ../mixins/newsLoader.jade
	include ../mixins/paging.jade
	include ../mixins/popup.jade
	include ../mixins/locationChooser.jade
	include ../mixins/forms/searchForm.jade

	mixin menu('feed')
	mixin locationChooser('feed')

	div.container-fluid
		div.row-fluid
			div.span4
			div.span4
				div#searchForm
					mixin searchForm('feed')
			div.span4	
		div.row-fluid#mainFeedWrapper
			div.span8
				div#feedContent
				div
					mixin paging()
			div.span4#topsFeed.alwaysShown
		
	
	link(rel='stylesheet', href='/javascripts/lib/jquery/css/share.css')
	script(src="/javascripts/lib/jquery/js/timeago.js")	
	script(src="/javascripts/lib/jquery/js/share.js")	
	script(src="/javascripts/lib/jquery/js/jquery.livequery.js")
	script(src="/javascripts/json2.js")	
	
	script
		var conf = !{conf};
		var mainConf = !{mainConf};	
		var user =!{JSON.stringify(user)};
		var infoArray = [];
		var currentDate = new Date();
		var currentPage = 1;
		var range = 75;
		var skip = 0;
		var limit = mainConf.searchParams.limit;
		var subSize = mainConf.searchParams.subSize;
		var loading = $("<div />");
		loading.attr("class", "loading");
		loading.css("textAlign", "center")
		loading.html("<img src='images/loader_big.gif' />");

		function setLiveUpdateTrigger()
		{
			if ($("#feedContent #liveupdate").length > 0)
				return;

			var urltosearch = '/api/geoinfos/48.851875/2.356374/5/null/0/1,2,3,4/null/10/0';

			$("#feedContent .hidden").remove();

			var liveupdate = $("<div />");

			var itemsCount = 0;

			liveupdate.attr("id", "liveupdate");

			liveupdate.click(function(){
				$("#feedContent .hidden").removeClass("hidden");
				$("#feedContent #liveupdate").remove();
			});

			$.getJSON(urltosearch ,function(data) {

				itemsCount = data.data.info.length;

				$.each(data.data.info, function(key,val) {
					var item = createFeedPageItem(val);
					item.addClass("hidden");
					
					$("#liveupdate").after(item);
				});

				liveupdate.html(itemsCount + " more news, click here to load");
			});

			
			$("#feedContent").prepend(liveupdate);
		}



		$(document).ready(function() {

			/*init position from cookie or db*/
			
			range = rangeFromZ();
			$("#rangeSelector").slider( "option", "step", Math.floor(10));

			$('.typeahead').typeahead();
			$('.btn-group1').button();
			getAndPrintInfo(0);
			//triggerSearch(currentPage, 0);

			//for testing
			loadTops();

			/* Controlling the more flow */
			$(window).scroll(function(){
				if (isScrolledIntoView($(".next"))) {
						getAndPrintInfo(1);
					}
			});
			
		});



		function rangeFromZ(){
			return (-1)*0.0099/1*(curPos.z)+1;
		}

		/*function zFromRange(){
			return (-1)/0.0099*(range-1);
		}*/

		function changeRange(){
			range = rangeFromZ();
			$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000, path : '/' });

			getAndPrintInfo(0);
			
		};

		function changeLocation(location){
			var locationObj = JSON.parse(location);
			curPos.x = locationObj.lat;
			curPos.y=locationObj.lng;
			getAndPrintInfo(0);	
		}		
		
		

		function getAndPrintInfo (next)
		{

			if (next == 1)
			{	
				skip = skip + limit;
				$("#feedContent").append(loading)
			}else
			{

				$("#feedContent").html("");
			}
			range = rangeFromZ();
			
			// searching throuhg cirle 
			
			var urltouse = 'api/geoinfos/';
			urltouse += curPos.x + "/"
			urltouse += curPos.y	 + "/" 
			urltouse += range + "/" 
			urltouse +=  "null/" 
			urltouse += dateFrom + "/" 
			urltouse += yakType + "/" // type;
			urltouse += searchString + "/" // str;
			urltouse += limit + "/"  // limit;
			urltouse += skip + "/" // skip;
			
			//console.log(urltouse);
			$.getJSON(urltouse ,function(data) {
		
				if((typeof(data.data) == 'undefined' ||  data.data.info.length == 0) && next != 1){
					$("#feedContent").html("Aucune infos");
					return;
				}


				var len = data.data.info.length;

				$.getJSON('/api/afeed', { id: getVcode("id", window.location)} ,function(data1) {
				
				data = mergeDeep(data, data1);
				
				$.each(data.data.info, function(key,val) {
					/*define item element*/
					
					var item = createFeedPageItem(val);

					if(next != 1)
					{
						$("#feedContent").prepend(item);
					}
					else
					{
						$("#feedContent").append(item);
					}

					//for testing 
					//$("#topsFeed").prepend(item2);

					$("#resultSet").html(currentPage);
					$(".next").show();
					$("#loading").html("");
					
				});
				setClickableArea();
				setshortUrl();
				//setInterval("setLiveUpdateTrigger()", 30000);
				$("#feedContent .loading").remove();

				$("abbr.timeago").timeago();
				if(typeof(data1.info) === 'undefined')
				{
					
				}
				else
				{
					if(data1.info.length == 1)
							colorFirstRecord();
				}
				});
			});
		}

		//for testing
		function loadTops()
		{
			var urltouse = '/api/geoinfos/48.851875/2.356374/5/null/0/1,2,3,4/null/10/0';
			/*urltouse += x1 + "/" // x1;
			urltouse += y1	 + "/" // y1;
			urltouse += x2 + "/" // x2;
			urltouse += y2 + "/" // y2;
			urltouse += heat + "/" // heat;
			urltouse += type + "/" // type;
			urltouse += str + "/" // str;
			urltouse += skip + "/" // skip;
			urltouse += limit // limit; */

			$.getJSON(urltouse ,function(data) {
				$.each(data.data.info, function(key,val) {
					var item = createTopsItem(val);
					$("#topsFeed").prepend(item);
				});
			});

		}