extends ../layout
block content

	include ../mixins/menu.jade
	include ../mixins/locationChooser.jade
	include ../mixins/searchPanel.jade

	mixin menu('feed')
	mixin locationChooser()
	div#mainFeedWrapper
		mixin searchPanel()
		div#newsLoader
			|More recent news to load click here to refresh 
			i(class="icon-refresh")
		div#feedContent
		div.paging
			a.next.btn load more 
			span#loading 
		div.sets
			span#resultSet 1
			|&nbsp;set of results loaded&nbsp;
		div#PopupContainer
			div(id="myModal", class="modal hide fade", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true", style="width: 80%")

	script

		var limit = 10;

		var subSize = 200;

		var currentPage = 1;

		$(document).ready(function() {

			//setInterval("setRefreshNews()", 30000);

			$('.typeahead').typeahead();

			$('.btn-group1').button();

			$('.btn-group2').button();

			$('.searchButton').trigger('click', [currentPage]);

		});
			
			
			
		$(".next").click(function(){

			currentPage = currentPage + 1;

			var skip = (currentPage - 1)*limit;
			
			$('.searchButton').trigger('click', [currentPage]);
			
			var height = $('#feedContent')[0].scrollHeight;

			$("html, body").animate({ scrollTop: $(document).height() }, 1000);
		});
		
		$(".searchButton").click(function(event, currentpage){

			if(event.which)
			{
				currentPage = 1;
				$("#feedContent").html("");
			}

			var skip = (currentPage - 1)*limit;

			
			
			var yaktype = "";

			var depuis = "";

			if($("#daynumber").val() =="" || $("#daynumber2").val() == "")
			{
				depuis = "3,3";
			}
			else
			{
				depuis = $("#daynumber2").val() + "," + $("#daynumber").val();
			}
			
			$(".searchTypes .active").each(function(){
				yaktype += $(this).attr("type") + ",";
			});

			var lnglat = $.parseJSON($("#locationInput").attr("value"));
			
			var lngslatstr = "";

			if(lnglat != null)
				lngslatstr = lnglat.lat + "," + lnglat.lng;



			//apage, askip, alimit, next, _id='', loadmore=0, what='', where='', yaktype=''
			loadData(1, skip, limit, 0 , "", 0, $("#SearchWhat").attr("value"), lngslatstr, yaktype, depuis, "");

		});
		function setClickableArea()
		{
			$(".more").click(function(e){

				e.preventDefault();

				var relid = $(this).attr("rel");

				$("#myModal").html("");

				$("#myModal").load("/txt/loadingModal.txt", function(){

					$("#myModal").modal();

					$('#myModal').on('shown', function () {
						$.getJSON('/api/afeed', { id: relid} ,function(data) {

							$("#myModalLabel").html(data.info[0].title);

							$(".modal-body").html("<div>" + data.info[0].content + "</div>");

						});	
					})
				});
				
			});
		}
		function gup( name )
		{
		name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
		var regexS = "[\\?&]"+name+"=([^&#]*)";
		var regex = new RegExp( regexS );
		var results = regex.exec( window.location.href );
		if( results == null )
		return "";
		else
		return results[1];
		}

		function setRefreshNews()
		{
			
			if($("#newsLoader").css("visibility") == "visible")
				return;
			else
				{
					
					$("#newsLoader").css("visibility", "visible");

					$("#newsLoader").click(function(){

						var _id = $("#feedContent .more").eq(0).attr("rel");
						//alert(_id);

						$(".graybg").attr("class", "myitem");

						$("#newsLoader").html('Downloading please wait <i class="icon-download"></i>');

						var what = $("#locationInput").val();
						var where = $("#SearchWhere").val();
						var yaktype = "";
						$(".searchTypes active").each(function(){
							yaktype += $(this).attr("type") + ",";
						});
			
						loadData(0, 0, limit, 2, what , where, yaktype);

						//loadData(0, 0, limit, 2, _id, 1);

						$("#newsLoader").html('More recent news to load click here to refresh <i class="icon-refresh"></i>');

						$("#newsLoader").css("visibility", "hidden");

					});
				}
		}

		function loadData(apage, askip, alimit, next, _id='', loadmore=0, what='', where='', yaktype='', depuis=3, cattype='')
		{
			var currentPage = parseInt($("#resultSet").html().trim());

			currentPage = currentPage + 1;

			var skip = (currentPage - 1)*limit;

			if (next == 1)
			{
				$(".next").hide();

				$("#loading").html("loading...");

			}

		
			
			$.getJSON('/api/feeds', { page : currentPage, skip: askip, limit: alimit,  yaktype: yaktype, _id: _id, loadmore: loadmore, what: $("#locationInput").val(), what: what, where: where, depuis: depuis, cattype: cattype} ,function(data) {
				var len = data.info.length;
				
				if(len == 0)
					$("#newsLoader").css("visibility", "hidden");

				if(next == 1 && data.info.length == 0)
				{
					$("#loading").html("no more results to load");
					return;
				}
				var item, title, content, address, more, postedby, date, type, cat;

				$.each(data.info, function(key,val) {

					item = $("<div />");
					if (next == 2 || next == 1)
						item.attr("class", "myitem graybg");
					else
						item.attr("class", "myitem");

					more = $("<a />");
					more.attr("class", "more");
					more.attr("href", "news/afeed?id=" + val._id);
					more.attr("rel", val._id);
					more.attr("data-toggle", "data-toggle");
					more.html(val.title);

					title = $("<div />");
					title.attr("class", "title");
					title.html("<img class='yakImg' src='/images/yakfav.png' />");
					title.append(more);
					
					postedby = $("<div />");
					postedby.attr("class", "postedby");
					
					date= new Date(val.pubDate);
					postedby.html("Posted by " + val.origin + " at " + date);
					
					title.append(postedby);
					
					
					
					content = $("<div />");
					content.attr("class", "content");
					content.html(val.content.substring(0, subSize));
					//content.append(more);
					content.append("<br /><br />");
					
					type = $("<div />");
					type.attr("class", "type");
					type.html("Type: " + val.yakType);
					
					cat = $("<div />");
					cat.attr("class", "cat");
					cat.html("Category: " + val.yakCat);
					
					//content.append(type);
					//content.append(cat);
										
					address = $("<div />");
					address.attr("class", "address");
					address.html(val.address);
					
					item.append(title);
					item.append(content);
					item.append(address);
					
					if(next != 1)
						$("#feedContent").prepend(item);
					else
						$("#feedContent").append(item);

					$("#resultSet").html(currentPage);
					$(".next").show();
					$("#loading").html("");

					
					
				});
				if(next == 1)
					{
						var height = $('#feedContent')[0].scrollHeight;
						$("html, body").animate({ scrollTop: $(document).height() });
					}
				setClickableArea();
			});
		}

		