
/* MAP
----------------------------------------------------*/
#mymap {position: absolute;top: 0px;right: 0px;left: 0;height: 100%;z-index:0;}


/* GENERAL
-------------------------------------------------- */
#alertInfo{display:none;position:relative;z-index:20000000;}
.icon-pointer{cursor:pointer;margin:2px;}
.icon-pointer:hover{opacity:0.7;}

.searching{background-image:url('images/loader.gif');padding-left:20px;}
.searchInput{background-repeat:no-repeat;background-position: 0px 5px;padding-left:0px;background-image: none;}

input.error{background-color:#FF0000;}

/*bootsrap fixes*/
@media (max-width: 979px) {
  .navbar-fixed-top {margin-bottom: 0px;}
}
.row-fluid [class*="span"] {min-height: 1px;}
.fuelux .datagrid thead .datagrid-header-left .search{margin-left: 0px;}
.fuelux .grid-pager input{line-height: 30px;margin-top: 0px;height: 30px;}

table.table-nohover tbody tr td:hover,  table.table-nohover thead tr th:hover {background:#f89406;cursor:pointer;color:#FFF;} 

table tr.warning{background-color: #FCF8E3;}
table tr.error{background-color: #F2DEDE;}

/*location chooser */
#locationChooser{top:40%;}
#locationChooser .modal-body {max-height: 420px;}
#locationChooser .redstar { position: relative; top: 3px; margin-right: 12px;}
#locationChooser .plussign { position: relative; top: 17px; margin-right: 12px;}
#locationChooser .icon-home { position: relative; top: 3px; margin-right: 12px; }
#locationChooser .icon-pointer { float: right;}
#locationChooser .searchInput { position: relative; top: 10px}
#locationChooser .zoneLoc{cursor:pointer;}
#locationChooser .zoneLoc:hover{text-decoration : underline;}
.dropdownRangeSelector {width: 33%; background: #f6f6f6; border: 0px; float: right; position: relative; right: 18%; }
.favplacelist li { padding:10px 0px; border-bottom: 1px solid #cecece;  width: 100%;height:25px; cursor: default;}
.favplacelist li span { cursor: pointer;}

/*FEED FORM*/
.colTableParsingOn{background-color:#f89406;color:#FFF;}
#parsingEditor{font-size:10px;}

/*FORMS*/
legend.mainlegend{color:#d51820;font-weight:bold;border-bottom:0px;}
.fuelux .btn .caret {margin-top: 8px;margin-left: 8px;}
.fuelux .modal.fade.in.big {width:90%;top:40%;left:23%;}
.fuelux .modal.fade.in.big .modal-body {max-height: 500px;}
.fuelux .modal.fade.in {top: 50%;}
.fuelux select.big {width:100%;}
.bar {height: 18px;background: green;}
/*HEADER*/
.customprofile img.avatar{height:24px;}
#picturePreview{float:left;margin-right:3px;width:48px;}
.fuelux .yakForm .radio.inline{padding-top:0px;padding-bottom:5px;}
.fuelux .yakForm{margin-left:5%;}
.fuelux .yakForm .control-group { margin: 0;}
.fuelux .yakForm label { font-size: smaller; font-weight: bold; color: #666666; margin-top: 5px;}
.fuelux .yakForm .clearBoth {clear: both;}
.fuelux .yakForm .clearRight {clear: right;}
.fuelux .yakForm .col {display: block; float: left; margin-right: 10px;width: 48%;min-height: 70px}
.fuelux .yakForm .input-append{width:90%;}
.fuelux .yakForm input[type=text] { width: 90%;}
.fuelux .yakForm input[type=text].big { width: 85%; }
.fuelux .yakForm input[type=text].small { width: 25%; }
.fuelux .yakForm label.radio.inline { margin-right: 10px; }
.fuelux .yakForm textarea {width: 85%;}
.fuelux .yakForm legend { padding-left: 15px; margin-top: 0px; padding-bottom: 0px;}
.fuelux .yakForm .btn.btn-large {margin-top: 20px;}
#MyGrid thead tr.headerControle {background: url(../images/texture.png) repeat; border: none;}
#MyGrid thead td {border-top: none;}
#MyGrid thead a {font-size: smaller;}
#MyGrid thead .searchPanel {background-color: rgba(255,255,255,0.6);}
#MyGrid i.status {margin-right: 5px;}
#MyGrid .liens {float: right; display: block;}
#MyGrid .editFeed{cursor:pointer;}
#MyGrid #iconSearchPanel {margin-top: -1px;}
#MyGrid input#yakCat {display: inline;}
#MyGrid .pillbox#yakCatFilter, #MyGrid input#userFilter, #MyGrid .pillbox#userFilter {display: inline-table; margin-top: 5px;}
#MyGrid a.listIcon {padding: 5px;}
#MyGrid .batchActions {padding-bottom: 11px; margin-right: 3px;}
#MyGrid .batchActions > button {height: 30px;}
#MyGrid tr.headerControle > td > select {max-width: 2000px;}
#MyGrid select#sortPlaces {width: 150px;}
#MyGrid select{margin-bottom: 0px;font-size:12px;}

/* MAP
-------------------------------------------------- */
  /*TOP SEARCH LOCATION BOX*/
  #searchPlaceStr { height: 26px;position:relative;top:5px;left:-15px;}

	/*MAP TOP CONTROLLER*/
#newsfeedMenu{margin:10px auto;padding:10px;text-align:center;width:100%;float:left;opacity:0.85;background:#FFFFFF;}
		/*heat module*/
#newsfeedMenu #heatModule{margin:10px 20px 10px 0px;padding:7px 15px;}
#newsfeedMenu #heatModule #dayPrinter{padding: 3px;}
#newsfeedMenu #heatModule #heatSelector{height: 2px;}
.ui-slider-horizontal {height: 2px;}
.ui-slider .ui-slider-handle {position: absolute;z-index: 2;width: 10px;height: 10px;cursor: default;}
		/*type module*/
#newsfeedMenu span.btn{}
#newsfeedMenu span.btn.active{
	background-color: #C9C9C9;
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
	/*MAP TAB MENU*/
#newsNav{width:100%;margin:0px auto;padding:0px;float:left;opacity:0.95;background:#FFFFFF;}
.nav-tabs li{width:25%;text-align:center;background-color:#F2F2F2;}
.nav-tabs li:hover{background-color:##B2B2B2;}
.nav-tabs li a{color:#333333;}



	/*MAP TAB CONTENT*/
#newsfeedContainer{height:auto;background-color:#FFF;opacity:1;position:relative;margin-top:0px;}
.tabContent{width:100%;display: none;background: white;float: left;padding: 0px 0px;}
.mCSB_scrollTools .mCSB_draggerRail {width: 7px;}
.mCSB_scrollTools .mCSB_buttonUp {background-position: -80px 0;}
.mCSB_scrollTools .mCSB_buttonDown {background-position: -80px -20px;}
		/*NEWS FEED*/
#newsfeedContent{display:block;}
.mapHighlighter{cursor:pointer;-webkit-border-radius: 2px;border-radius: 2px;}
.mapHighlighter:hover{background-color:#F0F0F0;}
.mapHighlighterDetails{display:block;}
ul#newsfeed{display:block;list-style-type:none;width:100%;margin:0px auto;padding:10px 0px;float:left;opacity:0.95;background:#FFFFFF;}
ul#newsfeed li{width:100%;}
ul#newsfeed li.highlighted .mapHighlighter{background-color:#F0F0F0;}
.infowindow{
	width:95%;margin:5px 5px;font-size:0.95em;
	-webkit-transition: .1s border-color;
	-moz-transition: .1s border-color;
	transition: .1s border-color;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #DDD;
	-webkit-box-shadow: 0 1px 0 #DDD;
	-moz-box-shadow: 0 1px 0 #ddd;
	box-shadow: 0 1px 0 #DDD;
	background: white;
}
.infowindow{border-color: #BBB;}
.infowindow .readmore{float:right;margin:5px 0px 5px 0px;font-style:italic;font-size:0.8em;}
.infowindow .readmore a{color:#0C0C0C;}
.infowindow img {float: left;margin: 0 5px 0px 0;}

/*POST*/
/*#newsPostContainer{overflow:auto;height:auto;}
#newsPostContainer #newsPostForm{margin:0px auto;padding:10px;text-align:left;opacity:0.95;background:#FFFFFF;}*/
#newspostContent, #addplaceContent{display:none;background:#ffffff;float:left;padding:0px 10px;margin:0px;width:95%;}
span.help-inline.small{font-size:0.65em;font-style:italic;}

		/*SEARCH*/
#searchContent{display:none;background:#ffffff;float:left;padding:0px 10px;}
		/*MY POSTS*/
#mypostsContent{display:none;background:#ffffff;float:left;padding:0px 10px;}


/* MAIN MENU
-------------------------------------------------- */
.nav-collapse .badge-important {position: relative; top: 7px; left: 1 px;  }



/* Settings Profile
-------------------------------------------------- */
#cityTarget{font-size:12px;font-weight:bold;}
/* Settings Alert
-------------------------------------------------- */
.form-horizontal .control-label.label-xlarge {
width: 270px;
}

/* image size
-------------------------------------------------- */
.size100{
	width:100px;
	height:100px;
}

/* Sidenav
-------------------------------------------------- */

.yak-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.yak-sidenav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.yak-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.yak-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.yak-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.yak-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.yak-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.yak-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.yak-sidenav .active .icon-chevron-right,
.yak-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../images/glyphicons-halflings-white.png);
  opacity: 1;
}
.yak-sidenav.affix {
  top: 40px;
}
.yak-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

