body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}




.mapHighlighter{cursor:pointer;padding:3px;-webkit-border-radius: 2px;border-radius: 2px;}
.mapHighlighter:hover{background-color:#F0F0F0;}
.mapHighlighterDetails{display:none;}
.highlighted{color:red;}


#newsfeedContainer{overflow:auto;height:auto;background-color:#FFF;opacity:0.90;}
#newsPostContainer{overflow:auto;height:auto;}
#newsPostContainer #newsPostForm{margin:0px auto;padding:10px;text-align:left;opacity:0.95;background:#FFFFFF;}
#newsfeedMenu{margin:10px auto;padding:10px;text-align:center;width:100%;float:left;opacity:0.85;background:#FFFFFF;}
#newsfeedMenu #heatModule{margin:10px 20px 10px 0px;padding:7px 15px;}
#newsfeedMenu #heatModule #dayPrinter{padding: 3px;}
#newsfeedMenu #heatModule #heatSelector{}

ul#newsfeed{list-style-type:none;width:100%;margin:10px auto;padding:10px 3px;float:left;opacity:0.95;background:#FFFFFF;}
