body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul#newsfeed{list-style-type:none;}
.highlighted{font-weight:bold;color:red;}
.row-fluid  .leftOverMapBox{z-index:1;position:relative;background-color:#FFFFFF;padding:15px;}
.row-fluid  .rightOverMapBox{z-index:1;position:relative;background-color:#FFFFFF;padding:15px;float:right;}
