body {
  padding:0px;
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
}

.navbar-fixed-top {
  position:relative;
  z-index:2000;
}
img{border:0px;}

/* GENERAL
-------------------------------------------------- */
h4, h3, h2 , h1{margin-bottom:5px; color: #d51820; margin-top: 30px;}
.icon-pointer{cursor:pointer;margin:2px;}
.icon-pointer:hover{opacity:0.7;}

//input[type="search"]{padding-left:13px;}
input[type="search"].searching{background-image:url('../images/loader.gif');background-repeat:no-repeat;background-position: right; }
.searchInput{background-repeat:no-repeat;background-position: 0px 5px;padding-left:0px;background-image: none;}

.pillItem{display: inline-block;float: left;padding: 1px 4px 2px;margin: 2px;font-size: 11.844px;font-weight: bold;line-height: 15px;color: white;vertical-align: baseline;cursor: pointer;background-color: #d8242b;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}

.timeago {color: #B7B7B7;cursor:default;font-size:0.85em;font-weight:bold;}

.columnTitle{font-weight: bold;margin:4px 5px 0px 0px;}

.subheader { color: #aaaaaa;}

abbr[title] {
    border-bottom: 0px ;
    cursor: default;
}
.modal.fade.in {
	top: 55%;
	z-index:2001;
}
.searchYakwala .ui-widget-header {
	background:transparent;

}
.searchYakwala .ui-slider .ui-slider-handle {
	width:3px;
}
.searchYakwala .ui-slider-horizontal .ui-slider-handle{
	margin-left:0px;
}

.searchYakwala .btn .caret{
	margin-left:6px;
}
/* THE FEED PAGE
---------------------------------------------------*/
#mainFeedWrapper {border: 0px solid #292929; background: #E8E8E8; font-family: helvetica,arial,sans-serif;}
#search { padding-top: 0px; padding-left: 0px; background: #dedede; width: 100%}  
#search .searchInput { }
#search .searchInput2 { }
#search .searchTypes { }


#search .searchFilters { float: left; margin: 12px; position: relative; top: -10px; left: 25px;}
#search .searchFilters .btn { width:  10px; height: 20px;}
#search .searchFilters .filterLabel { float: left;}

#search .searchPlaces { }
#search .searchPlaces .aplace .theplace { margin-left: 12px;} 
#search .searchPlaces .aplace .thedelete { color: red; cursor: pointer; float: right; margin-right: 12px;} 

.btn-group1, .btn-group2 { text-align: center;}
.btn-group1 img { }
#search .searchButton { float: left; position: relative; top: 6px; float: right; right: 12px; margin: 12px; }
#feedContent #liveupdate { text-align: center; color: #D71921; padding-top: 12px; padding-bottom: 12px; font-size: 14px; font-weight: bold; cursor: pointer;}
#feedContent #liveupdate:hover { text-decoration: underline;}
#feedContent .hidden { display: none;}
#feedContent{ clear: both; padding-top: 12px; background: white; border-radius: 5px 5px 5px 5px; box-shadow: 0 1px 0 #DDDDDD; margin-top: 20px; padding-right: 12px; margin-left: 12px; float: left;}
#feedContent .item{margin:5px;}
#feedContent .title{font-size:0.85em;font-weight:bold;cursor:default;}
#feedContent .title a { color: #4A4A4A;}
#feedContent .title a:hover { color: #D71921;}
#feedContent .content{font-size:0.6em;}
#feedContent .address{font-size:11px;font-style:italic; position: relative; clear: both; width: auto; float: right; right: 12px;}
#feedContent .yakLikes{font-size:11px;font-style:italic; position: relative; clear: both; width: auto; float: left; left: 12px; top: 12px; color: #D71920;}
#feedContent .yakComments{font-size:11px;font-style:italic; position: relative; clear: both; width: auto; float: left; left: 12px; top: 12px; color: #D71920; cursor: pointer;}
#feedContent .commentBox .aComment { clear:  both;}
#feedContent .commentBox .aComment .timeago{margin-left:5px;}
#feedContent .commentBox {font-style:italic; position: relative; clear: both; width: auto; float: left; left: 12px; top: 12px; color: #D71920; cursor: pointer; background: #F1F2F6; width: 98%; margin-bottom: 10px;}
#feedContent .commentBox .username { color: #3B5998; cursor: pointer;}
#feedContent .commentBox .username:hover { text-decoration: underline;}
#feedContent .commentBox .userthumb { height: 100px; width: 100px; float: left; }
#feedContent .commentBox .comment { color: black; margin-bottom: 12px;}
#feedContent .commentBox textarea { width: 40%; height: 100px; margin-top: 12px; margin-left: 12px;}

#feedContent .shareMe { text-align: right; margin-top: -27px; position: relative; right: 10px; width: 100%;} 
#feedContent .shareMe i {cursor: pointer; position: relative; right: 95px;}
#feedContent .img { float: left; margin-right: 12px;}
#feedContent .myitem { margin: 10px 10px 10px 10px; color: #4A4A4A; width: 99%; border-bottom: 0px dotted #000000; min-height: 200px;}
#feedContent .myitem .title { font-size: 14px; font-weight: bold; padding-bottom: 10px;}
#feedContent .myitem .title .postedby { font-size: 12px; font-style: italic; font-weight: normal; color: #87888B; margin-top: 5px;}
#feedContent .myitem .title .postedat { font-size: 11px; }
#feedContent .myitem .title .more { display: block; width: 75%; }
#feedContent .myitem .title .timeago { float: right; margin: 0px 8px 0px 0px;}
#feedContent .myitem .title .hot { width: 200px; background: #cecece; height: 8px; clear: both; left: 40px; position: relative;; top: -3px;}
#feedContent .myitem .title .hot .hotLevel{ background: #D71921;  height: 8px;}
#feedContent .myitem  .content { font-size: 13px; line-height: 18px; z-index: 11}
#feedContent .myitem  .content .more { float: right;}
#feedContent .myitem .title .yakImg { float: right; padding-right: 10px;margin: 0px 8px 0px 0px; }
#feedContent .myitem .title .PersonImg { float: left; padding-right: 10px;width:25px; }
#feedContent .myitem .freetags { clear: both; float: left;margin:10px;}
#feedContent .myitem .freetags a { color: #DC1227; font-size: 13px; margin-right: 10px;cursor:pointer;}
#feedContent .myitem .phoneNumbers { clear: both; position: relative; margin-top: 12px; left: 0px;}
#feedContent .myitem .phoneNumbers a { color: #3CB413; font-size: 12px; margin-right: 10px; position: relative; top: -4px; left: -9px;}
#feedContent .myitem .loadingMore { height: 18px; position: absolute; left: 101px;}  
#feedContent .myitem hr { border-bottom:  1px solid dotted; height: 1px; width: 100%; float: left;}
#feedContent .silentUpdates { text-align: center; background: #D71921; margin-left: 9px; color: white; padding-bottom: 6px; padding-top: 6px; font-weight: bold; cursor: pointer;}
.expand { z-index: 1111};
#search #heatModule { text-align: center;}
#search #heatModule .upperHeight { height: 5px; margin-top: 9px;}
.dayPrinter { margin-top: 0px; text-align: right;}
.paging { width: 100%; text-align: center; background: #F4F4F4; padding-bottom: 10px; padding-top: 10px;}
.sets {width: 100%; text-align: center; background: #292929; padding-bottom: 10px; padding-top: 10px; color: white; visibility: hidden;}


#newsLoader { text-align: right; float: right; background: #D71921; color: white; font-weight: bold; cursor: pointer; visibility: hidden;}
.graybg { background: #E8E8E8;}
.theslider { width: 200px;}

.typeaheadImg { height: 25px; float: left;}
.ftgIcon { height: 14px; position: relative; top: 2px;}
#topsFeed { margin: 0px 10px 0px -20px; background: white; border: 1px solid #cecece; float: right; overflow: hidden;  border-radius: 5px 5px 5px 5px; box-shadow: 0 1px 0 #DDDDDD;}
#topsFeed .myitem { margin:  12px; border-bottom: 1px dotted #cecece; background: white;}
#topsFeed .myitem:even { background-color:  white;}
#topsFeed .postedby {font-size:9px;font-style:italic; right: 10px; top: 0px; position: relative; clear: both; text-align: right;}
#topsFeed .title{font-size:0.85em;font-weight:bold;}
#topsFeed .title a { color: #4A4A4A;}
#topsFeed .title a:hover { color: #D71921;}
#topsFeed .myitem .title .PersonImg { float: left; padding-right: 10px; height: 25px;}
#topsFeed .content{font-size:11px; margin-top: 11px;}
#topsFeed .myitem .freetags { clear: both; position: relative; top: 0px; left: 0px; font-size: 11px;}
#topsFeed .myitem .freetags a { color: #D81A21; font-size: 11px; margin-right: 10px;}

.localnessPrinter {position: relative; top: -13px; left: 209px;}
.alreadyVoted { color: green;}
/* THE MAP
-------------------------------------------------- */
	/*MAP TOOLS CONTROLLERS*/

#zoomnavigation {background-image: url(/images/styles.png);background-position: -112px -639px;bottom: 50px;height: 113px;margin-left: 0px;position: absolute;width: 65px;z-index: 200;}
#zoomminus {background-image: url(/images/styles.png);background-position: -50px -866px;bottom: 25px;cursor: pointer;cursor: hand;display: block;height: 35px;margin-left: 11px;margin-top: 17px;width: 37px;z-index: 200;}
#zoomplus {background-image: url(/images/styles.png);background-position: -45px -814px;bottom: 25px;display: block;height: 35px;margin-left: 11px;margin-top: 10px;width: 37px;z-index: 200;cursor: pointer;cursor: hand;}

/*MAP TOP CONTROLLER*/
#newsfeedContainer #boxOpener{position: relative;text-align: center; font-weight:bold;line-height:18px;color:white;background-color:#D8242B;cursor:pointer} 
#newsfeedContainer{position:relative;overflow:auto;height:auto;margin: 10px 5px 0 0;opacity:0.95; overflow-x: hidden;}

#newsfeedMenu #searchBox { position: relative;text-align: center; height: 28px;}

#newsfeedMenu{position:relative;margin:0px;padding:0px 0px;text-align:center;width:100%;float:left;opacity:1;background:#FFFFFF;}	
#newsfeedMenu .row{margin:3px 20px 4px 0px;padding:0px 15px;}
		/*heat module*/
#newsfeedMenu .sliderText{padding: 1px 0px 0px 0px;font-weight: bold;font-size: 0.9em;}
#newsfeedMenu #heatModule #heatSelector{height: 2px;}
.ui-slider-horizontal {height: 2px;}
.ui-slider .ui-slider-handle {position: absolute;z-index: 2;width: 5px;height: 8px;cursor: default;}
		/*search module*/
#newsfeedMenu #searchBox .input-append .btn {
  -webkit-border-radius: 0 14px 14px 0;
     -moz-border-radius: 0 14px 14px 0;
          border-radius: 0 14px 14px 0;
}
		/*type module*/
#newsfeedMenu #typeContainer{}
#newsfeedMenu span.btn{}
#newsfeedMenu span.btn.active{
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}	

#newsfeedMenu span.btn.active img { opacity: 1;}
	/*MAP TAB MENU*/
#newsNav{width:100%;margin:10px auto 0px;padding:0px;float:left;opacity:0.95;background:#FFFFFF;}
#newsNav ul.nav {margin-bottom:5px;}
.nav-tabs li{width:50%;text-align:center;background-color:#c81119;}
.nav-tabs li:hover{background-color: c81119;}
.nav-tabs li a{color:#333333;text-decoration:none;}
.nav-tabs li a:hover{background:#c81119;border:1px solid #c81119;text-decoration:none;}


	/*MAP TAB CONTENT*/
.tabContent{width:100%;display: none;background: white;float: left;padding: 0px 0px;}
.mCSB_scrollTools .mCSB_draggerRail {width: 7px;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {width: 6px;background-color:#D71921;}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background:rgba(215,25,33,0.85);
	filter:"alpha(opacity=85)"; -ms-filter:"alpha(opacity=85)"; /* old ie */
}
.mCSB_scrollTools .mCSB_buttonUp {background-position: -80px 0;}
.mCSB_scrollTools .mCSB_buttonDown {background-position: -80px -20px;}
.mCSB_container {margin-right: 5px;}
		/*NEWS FEED*/
#newsfeedContent{position:relative;display:block;overflow:auto;height:0px;z-index:2000; overflow-x: hidden}
.mapHighlighter{cursor:pointer;-webkit-border-radius: 2px;border-radius: 2px;}
.mapHighlighter:hover{background-color:#F0F0F0;}
.mapHighlighterDetails{display:block;}
ul#newsfeed{display:block;list-style-type:none;width:100%;margin:0px auto;padding:0px 0px;position:relative;opacity:1;z-index:2000;background:#FFFFFF;}
ul#newsfeed li{width:100%;}
ul#newsfeed li.highlighted .mapHighlighter{background-color:#F0F0F0;}

ul#newsfeed li .loadingMore { height: 20px; float: right; width: auto; clear: both; padding-left: 3px; padding-right: 3px;}
.infowindow .myitem {clear: both; position: relative; top: 12px; text-align: justify;}
.infowindow .myitem .shareMe { width: auto; float: right; clear: both; top: -17px; position: relative; right: 85px;}
.infowindow .myitem .ftgIcon { height: 14px; position: absolute; top: 4px; float: left; clear: both;}
.infowindow .myitem .yakLikes {top: -33px; position: relative; float: left; clear: both; }
.infowindow .myitem .buttons { z-index:  11;}

.infowindow .myitem .yakLikes{font-size:11px;font-style:italic; position: relative; clear: both; width: auto; float: left; color: #D71920;}
.infowindow .myitem .yakComments{font-size:11px;font-style:italic; position: relative; clear: both; width: auto; float: left; left: 0px; top: -33px; color: #D71920; cursor: pointer;}
.infowindow .myitem .commentBox .aComment { clear:  both; padding-bottom: 12px;}
.infowindow .myitem .commentBox .timeago{ margin-left:5px;}
.infowindow .myitem .commentBox {font-style:italic; position: relative; clear: both; width: auto; float: left; left: 0px; top: -30px; color: #D71920; cursor: pointer; background: #F1F2F6; width: 100%; margin-bottom: 10px;}
.infowindow .myitem .commentBox .username { color: #3B5998; }
.infowindow .myitem .commentBox .username:hover { text-decoration: underline;}
.infowindow .myitem .commentBox .userthumb { height: 50px; width: 50px; float: left; }
.infowindow .myitem .commentBox .comment { color: black; margin-bottom: 12px;}
.infowindow .myitem .commentBox textarea { width: 97%; height: 50px; margin-top: 2px; margin-left: 0px; } /*z-index for stop scroll*/
.infowindow .myitem i.icon-chevron-up { }


.infowindow{
	width:95%;margin:5px 5px;font-size:0.95em;
	
	
	box-shadow: 0 1px 0 #DDD;
	background: white;
	border-color: #BBB;
	color: #505050;
}
.infowindow.loadingfeeditem{
	padding:30px 0px;
	text-align: center;
	background-image: url(../images/loader_big.gif);
	background-position: center center;
	background-repeat: no-repeat;
}
.infowindow.emptyfeeditem{
	padding:12px 3px;
	text-align: center;	
	font-weight:bold;
	background-color: #ba0911;
	font-size: 14px;
	color: white;
}

.infowindow .date{color: #87888B;margin-right:5px;}
.infowindow .date .timeago { margin-top: -28px; margin-right: 8px;}
.infowindow .links{float:right;margin-right:3px;text-align:right;font-style:italic;font-size:0.8em;line-height: 1.5em;}

.infowindow .yakTypeImg{width:15px;height:22px; float: right;}
.infowindow .titleLeft { float: left; width: 50%;}
.infowindow .titleRight { float: right; width: 50%;}
.infowindow .infofooter{float:left:width:100%;margin:5px 0px 5px 0px;}

		/*POST*/

.infowindow .yakTypeImage { float: left; width:100%;height:22px; z-index: 111; position: absolute;}
.infowindow .yakTypeImage img { float: left; width:15px;height:22px;}

.infowindow .thumbImage { float: left;  margin-left: 0px;}
.infowindow .thumbImage img { float: left; width:auto;height:75;}

.infowindow .itemTitle { font-size: 13px; font-weight: bold; color: #5D5D5D; left: 12px; padding-right: 29px; position: relative; text-align: justify;}

.infowindow .postedBy { position: relative; left: 12px; padding-right: 12px; font-size: 11px;}

.infowindow .tags{float:left;margin-left:3px;text-align:left;font-style:italic;font-size:0.8em;line-height: 1.5em; clear: both; margin-top: 6px; margin-bottom: 3px;}

.infowindow .infodetail{float:left;width:100%;font-style:italic;font-size:0.8em;line-height: 1.5em; clear: both;}
.infowindow .infodetail a{color:#0C0C0C;}
.infowindow .icon-remove { float: right; clear: both;  position: absolute; right: 5%;}




/*currentDetails*/
.currentDetails .myitem {clear: both; position: relative; top: 12px; text-align: justify;}
.currentDetails .myitem .shareMe { width: auto; float: right; clear: both; top: -17px; position: relative; right: 85px;}
.currentDetails .myitem .ftgIcon { height: 14px; position: absolute; top: 4px; float: left; clear: both;}
.currentDetails .myitem .yakLikes {top: -33px; position: relative; float: left; clear: both; }
.currentDetails .myitem .buttons { z-index:  11;}

.currentDetails .myitem .yakLikes{font-size:11px;font-style:italic; position: relative; clear: both; width: auto; float: left; color: #D71920;}
.currentDetails .myitem .yakComments{font-size:11px;font-style:italic; position: relative; clear: both; width: auto; float: left; left: 0px; top: -33px; color: #D71920; cursor: pointer;}
.currentDetails .myitem .commentBox .aComment { clear:  both; padding-bottom: 12px;}
.currentDetails .myitem .commentBox .timeago{ margin-left:5px;}
.currentDetails .myitem .commentBox {font-style:italic; position: relative; clear: both; width: auto; float: left; left: 0px; top: -30px; color: #D71920; cursor: pointer; background: #F1F2F6; width: 100%; margin-bottom: 10px;}
.currentDetails .myitem .commentBox .username { color: #3B5998; }
.currentDetails .myitem .commentBox .username:hover { text-decoration: underline;}
.currentDetails .myitem .commentBox .userthumb { height: 50px; width: 50px; float: left; }
.currentDetails .myitem .commentBox .comment { color: black; margin-bottom: 12px;}
.currentDetails .myitem .commentBox textarea { width: 97%; height: 50px; margin-top: 2px; margin-left: 0px;}
.currentDetails .myitem i.icon-chevron-up { }
.currentDetails .icon-remove { float: right; clear: both;  position: absolute; right: 5%;}


.currentDetails{
	width:95%;
	margin:5px 5px;
	font-size:13px;
	float: left;
	
	box-shadow: 0 1px 0 #DDD;
	background: white;
	border-color: #BBB;
	color: #505050;
}
.currentDetails.loadingfeeditem{
	padding:30px 0px;
	text-align: center;
	background-image: url(../images/loader_big.gif);
	background-position: center center;
	background-repeat: no-repeat;
}
.currentDetails.emptyfeeditem{
	padding:20px 0px;
	text-align: center;	
	font-weight:bold;
}
.currentDetails .date{color: #87888B;margin-right:5px;}
.currentDetails .date .timeago { margin-top: -28px; margin-right: 8px;}
.currentDetails .links{float:right;margin-right:3px;text-align:right;font-style:italic;font-size:0.8em;line-height: 1.5em;}

.currentDetails .yakTypeImg{width:15px;height:22px; float: none;}
.currentDetails .titleLeft { float: left; width: 50%;}
.currentDetails .titleRight { float: right; width: 50%;}
.currentDetails .infofooter{float:left:width:100%;margin:5px 0px 5px 0px;}

		/*POST*/

.currentDetails .yakTypeImage { float: none; width:15px;height:22px; z-index: 111;}
.currentDetails .yakTypeImage img { float: left; width:15px;height:22px;}

.currentDetails .thumbImage { float: left;  width: 100%; padding-top: 6px;}
.currentDetails .thumbImage img { float: left; width:99%;height:auto; border: 1px solid #cecece;}

.currentDetails .itemTitle { font-size: 16px; font-weight: bold; color: #5D5D5D; left: 0px; padding-right: 12px; position: relative; text-align: justify; float: none; width: 100%; padding-top: 6px}

.currentDetails .postedBy { position: relative; left: 0px; padding-right: 12px; font-size: 12px; float: none; padding-top: 6px;}

.currentDetails .tags{float:none;margin-left:3px;text-align:left;font-style:italic;font-size:0.8em;line-height: 1.5em; clear: both; margin-top: 6px; margin-bottom: 3px; width: 100%; padding-top: 6px; padding-bottom: 6px;}

.currentDetails .infodetail{float:left;width:100%;font-style:italic;font-size:11px;line-height: 1.5em; clear: both;}
.currentDetails .infodetail a{color:#0C0C0C;}

/*end current Details */


/*#newsPostContainer{overflow:auto;height:auto;}
#newsPostContainer #newsPostForm{margin:0px auto;padding:10px;text-align:left;opacity:0.95;background:#FFFFFF;}*/
#postForm {position:relative;opacity:1;z-index:2000;background:#FFFFFF;display: block;height:auto;width: 93%;padding: 0px;margin: 0px 0px 1% 2%;}
#postForm legend{font-size: 18px;line-height: 28px;color: #333333;border: 0;border-bottom: 1px solid #e5e5e5;}
#postForm #eventDateController{display: none;}
#ui-datepicker-div{font-size:0.9em;}
#newspostContent{display:none;position:relative;height:0px;width:100%;}

span.help-inline.small{font-size:0.65em;font-style:italic;}

		/*SEARCH*/
#searchContent{display:none;background:#ffffff;float:left;padding:0px 10px;}
		/*MY POSTS*/
#mypostsContent{display:none;background:#ffffff;float:left;padding:0px 10px;}
		











/* Settings Profile
-------------------------------------------------- */
#cityTarget{font-size:12px;font-weight:bold;}
/* Settings Alert
-------------------------------------------------- */
.form-horizontal .control-label.label-xlarge {
width: 270px;
}

/* image size
-------------------------------------------------- */
.size100{
	width:100px;
	height:100px;
}

/* bootsrap override

*/
.yakbtn { background-color: #cd131b; width: 140px; padding-top: 6px; padding-bottom: 6px; color: #fae8e8; text-transform: uppercase; border: 0px; font-weight: bold; margin-bottom: 50px;}
.yakbtn:hover { background-color: #fae8e8; color: #cd131b}
#passwordForm label { color: #000000; font-weight: bold;}
#formProfile .control-group { width: 100%; float: left; border-bottom: 1px solid #eeeeee; padding-top: 28px; padding-bottom: 28px;}
#formProfile label { font-weight: bold; color: #000000; float: left; display: block; width: 140px;}
#formProfile input[type=text] { width: 30%; }
#formProfile select { width: 30%; }
#formProfile textarea { width: 30%; height: 100px;}
#formProfile #avatarPreview { margin-top: -90px; position: relative; top: 50px;}

/* Sidenav
-------------------------------------------------- */
.yak-sidebar { margin-right: -22px}
.yak-sidenav {
  position: relative;
  left: -20px;
  padding-right: 0px;
  border-right: 1px solid #e5e5e5;
}


.yak-sidenav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 20px 14px;
  border: 0px solid #e5e5e5;
  color: #5e5e5e;
  font-size: 16px;
  border-bottom: 1px solid #e5e5e5;
}
.yak-sidenav > li:first-child > a {
 	 border-bottom: 1px solid #e5e5e5; 
 	 border-top: 1px solid #e5e5e5;
}
.yak-sidenav > li:last-child > a {
   border-bottom: 1px solid #e5e5e5;
}
.yak-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 20px 15px;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  
  
}
/* Chevrons */
.yak-sidenav .icon-chevron-right, .yak-sidenav .icon-chevron-down {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
  display: none;
}
.yak-sidenav > .active > a, .nav-list > .active > a:hover
{
	background-color: #fafafa;
	color: #bebebe;
}
.yak-sidenav > li > a:hover {
  background-color: #fafafa;
}
.yak-sidenav a:hover .icon-chevron-right, .yak-sidenav a:hover .icon-chevron-down {
  opacity: .5;
}
.yak-sidenav .active .icon-chevron-right,
.yak-sidenav .active a:hover .icon-chevron-right,
.yak-sidenav .active .icon-chevron-down,
.yak-sidenav .active a:hover .icon-chevron-down {
  background-image: url(../images/glyphicons-halflings-white.png);
  opacity: 1;
}
.yak-sidenav.affix {
	left: -35px;
}
.yak-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}
.yak-sidenav ul.nav-sublist{
	display:none;
}

/* DOC
----------------------------------------------------*/
.yak-sidenav-fixed {
     position:fixed;
     top:60px;
     left:50px;
     
 }

 @media (max-width: 767px) {
     .yak-sidenav-fixed {
         width:auto;
         position:static;

     }
 }

 @media (max-width: 979px) {
     .yak-sidenav-fixed {
         margin-top:100px;
        width: auto;
     }
 }
 td#highlight{
 	background-color: #F7F7F9;
 	font-weight:bold;
 }

 /* Header Yakwala */
.dropdownRangeSelector {width: 136px; background: #f6f6f6; border: 0px; float: right; position: relative; right: 169px; }
.favplacelist li { padding-bottom: 10px; padding-top: 10px; border-bottom: 1px solid #cecece; float: left; width: 100%; cursor: default;}
.favplacelist li span { cursor: pointer;}
.headerYakwala { background-color: white; }
.headerYakwala .leftlink img { float: left; padding: 6px;}
.headerYakwala .dropdown-toggle { float: right; margin-top: 19px;}
.headerYakwala .pull-right { margin-top: 15px;}
.headerYakwala .rightlink .caret { top: 7px; left: 2px; position: relative;}
.headerYakwala .logolink { margin: 0 auto; width: auto; text-align: center;}

.searchYakwala { background-color: #f6f6f6; height: 40px; float: left;}  
.searchYakwala #searchBtn {background-image:url('../images/new/go.png'); width: 27px; height: 27px; border: 0px; margin: 7px; float: left;}
.searchYakwala .customInput{ width: 150px; margin-top: 6px; float: left; margin-left: 6px;}
.searchYakwala .myi { position: relative; top: 12px; float: left;margin:0 2px;}
.searchYakwala .verticalSplitter { width: 1px; height: 43px; background-color: #cecece; margin-left: 12px;}
.searchYakwala .filterText { position: relative; top: 11px; float: left; margin-left: 12px; font-size: 14px;}
.searchYakwala #filterTypes { cursor: pointer;}
.searchYakwala #newsfeedMenu { width: auto; background-color: transparent;}
.searchYakwala #typeContainer { display: block;}
.searchYakwala #typeContainer img { height: 24px; opacity: 0.3}
.searchYakwala #typeContainer .btn { padding: 0px; background-color: transparent; margin-bottom: 3px; background-image: none; border: 0px}
.searchYakwala #heatModule { display: none; position: absolute; top: 42px; left: 24px; width: 100%;}
.searchYakwala #rangeSelector { display: none; position: absolute; top: 42px; left: 24px; width: 100%;}
.searchYakwala #dropdownTimeSelector { width: 100%; height: 300px; overflow: auto;}
.searchYakwala #btnMesalertes { float: right;}
.searchYakwala #zoneLocButton { float: right;}
.searchYakwala #btnMesalertes img {height: 20px;}
.searchYakwala #rangeSelectorTrigger { background: transparent; border: 0px;}
.searchYakwala #rangeSelectorTrigger:hover { background: #f5f5f5; border: 1px;}
.typeahead { position: absolute; z-index:  111111; display: none;}
.searchYakwala .dropdown-menu li:hover { color: #d3171f;}


#footer { background-color: #ffffff; height: 20px; font-size: 12px; padding-top: 2px;}
#footer .copyright { color: #b3b3b3; margin-left: 12px; padding-right:12px;  border-right: 1px solid #b3b3b3}
#footer .alink { color: #505050; margin-left: 12px; padding-right: 12px; border-right: 1px solid #505050}


/*location chooser */
#locationChooser .redstar { position: relative; top: 3px; margin-right: 12px;}
#locationChooser .plussign { position: relative; top: 17px; margin-right: 12px;}
#locationChooser .icon-home { position: relative; top: 3px; margin-right: 12px; }
#locationChooser .icon-pointer { float: right;}
#locationChooser .searchInput { position: relative; top: 10px}

/* calendar custom date*/
.customDates { position: relative;; left: 10px; top: -2px; cursor: pointer;}
.customprofile { margin-right: 12px; cursor: pointer; margin-top: -6px; padding: 3px;}
.delComment { float: right; position: relative; right: 12px;}
