mixin map()
	div#mymap
	div#searchPlaceInput
		input.search-query.customInput#searchPlaceStr(type="search",placeholder="Où ?",autocomplete="off", data-provide="typeahead")
	script

		/*INIT*/
		var conf = !{conf};
		var logged = 0;

		var curPos = ($.isEmptyObject($.cookie("geoloc")))?{'x':user.location.lat,'y':user.location.lng,'z':mainConf.rangeDefault,'name':user.formatted_address}:JSON.parse($.cookie("geoloc"));
		var geolocalized = 0;
		var infowindow = null;
		var bounds = new Array();
		var markers = [];
		var infoArray = [];
		var markerLocation = null;

		
		var heat = 3;
		//var type = [1];
		var type = [!{type}];

		var infoContent = '';
		var rule = new RegExp('#([^\\s]*)','g');
		var rule2 = new RegExp('[#]','g');
		var postFlag = 0;
		var listenerHandle = null;

		var map = new google.maps.Map(document.getElementById('mymap'), {
			mapTypeId: google.maps.MapTypeId.ROADMAP,
			scrollwheel: true,
			maxZoom: 16,
			minZoom: 5,
		});


		var psClick = 0;
		var oldLocation = {lat:0,lng:0};

		
		
		/*READY FUNCTIONS*/
		$(document).ready(function() {

			
				/*SEARCH LOCATION INPUT*/
			$('#searchPlaceStr').val(curPos.name);
			$('#searchPlaceStr').unbind("click").on('click',function(){
					$(this).select();
			});


			// autocomplete Place
			$('#searchPlaceStr').typeahead({
				minLength : 3,							
				source: function (typeahead, query) {
					if(query.length >= 3){
						encodeURIComponent(query);
						$("#searchPlaceStr").addClass('searching');
						var addressQuery = {"address": query ,"region":"fr","language":"fr"};
						var geocoder = new google.maps.Geocoder();
						geocoder.geocode( addressQuery, function(results, status) {						
						if (status == google.maps.GeocoderStatus.OK) {
							typeahead.process(results);
							$("#searchPlaceStr").removeClass('searching');
						} 
						});
					}
				},
				property: "formatted_address",
				onselect: function(obj) { 
					psClick = 1;
					$("#searchPlaceStr").removeClass('searching');
					var placeGmap = getPlaceFromGmapResult(obj);

					curPos.x = placeGmap.location.lat;
					curPos.y = placeGmap.location.lng;
					curPos.name = placeGmap.formatted_address;
					var location = JSON.stringify({lat:curPos.x,lng:curPos.y});				
					$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000, path : '/' });
					var locationObj = JSON.parse(location);
					if(location != '' && oldLocation.lat != locationObj.lat && oldLocation.lng != locationObj.lng){
						var latLng = new google.maps.LatLng(locationObj.lat,locationObj.lng);
						markerHL.setPosition(new google.maps.LatLng(locationObj.lat,locationObj.lng));
						markerHL.setVisible(true);
						markerHL.setMap(map);
						markerHL.setOptions({icon:"/images/markers/target3.png"});
						setTimeout(function() {
							markerHL.setMap(null);
						}, 3000);
						map.panTo(latLng);
						oldLocation = locationObj;
						curPos.x = locationObj.lat;
						curPos.y = locationObj.lng;

					}

				}
			});
				/*END SEARCH LOCATION INPUT*/

			$('#mymap').css('width',($(window).width() - $('#newsfeedContainer').width())-20);

			// init news feed (Setting the scroll bar)
			drawNewsFeed();

			$('#newsfeedContainer').mCustomScrollbar({mouseWheel:true,scrollButtons:{enable:true,scrollType:"continuous",},advanced:{autoExpandHorizontalScroll:true,updateOnContentResize: true,updateOnBrowserResize:true}});
			$(window).resize(function(){drawNewsFeed();});

			$('#newsfeed').delegate(".mapHighlighter",'click', function () {
				unhighlightInfo($(this),highlightInfo);
			});

			/*cookies for navigation*/
			if($.cookie("geoloc")){
				curPos = JSON.parse($.cookie("geoloc"));
				google.maps.event.addDomListener(window, 'load', initialize(curPos.x,curPos.y,curPos.z));
			}else{
				x = 48.851875;
				y = 2.356374;
				z = 13;
				curPos = {'x':x,'y':y,'z':z};
				google.maps.event.addDomListener(window, 'load', initialize(curPos.x,curPos.y,curPos.z));
			
			}


			markerLocation = new google.maps.Marker({
				visible:false,
				map:map,
				draggable:true,
				icon:'/images/back/marker3.png',
			});


			

		});/*END READY*/

		function drawNewsFeed(){
			$('#mymap').css('width',($(window).width() - $('#newsfeedContainer').width())-20);
			var newsfeedContainerHeight = window.innerHeight-$('#newsfeedContainer').offset().top-10+'px';
			$('#newsfeedContainer').css('height',newsfeedContainerHeight);
		}

		function initialize(x,y,z){

			// set user cookies
			$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000, path : '/'  });
			//console.log(JSON.parse($.cookie("geoloc")));

			var center = new google.maps.LatLng(x,y);
			infowindow = new google.maps.InfoWindow({content: ".",maxWidth : 300});
			map = new google.maps.Map(document.getElementById('mymap'), {
				zoom: z,
				center: center,
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				panControl: false,
				scaleControl: false,
				streetViewControl: false,
				zoomControl: true,
				zoomControlOptions: {
					style: google.maps.ZoomControlStyle.LARGE,
					position: google.maps.ControlPosition.LEFT_BOTTOM
				},
			});

			
			markerHL = new google.maps.Marker({position: center,map:map,visible:false});

			google.maps.event.addListenerOnce(map, 'idle', function(){
				bounds = this.getBounds();
			});


			google.maps.event.addListener(map, 'dragend', function() {
				bounds = this.getBounds();
				center = this.getCenter();
				curPos.x = center.lat();
				curPos.y = center.lng();
				
				var geocoder = new google.maps.Geocoder();
				var curLatLng = new google.maps.LatLng(curPos.x, curPos.y);
				geocoder.geocode( {'latLng': curLatLng}, function(results, status) {						
					if (status == google.maps.GeocoderStatus.OK) {
						var placeGmap = getPlaceFromGmapResult((results[0]));
						$("#searchPlaceStr").val(placeGmap.address.city + ", " + placeGmap.address.country);
						curPos.name = placeGmap.address.city + ", " + placeGmap.address.country;
						$.cookie("geoloc", JSON.stringify(curPos));
					}
				});
			});

			google.maps.event.addListener(map, 'zoom_changed', function() {
				bounds = this.getBounds();
				curPos.z = this.getZoom();
				$.cookie("geoloc", JSON.stringify(curPos));
				
			});
		}