extends ../layout

block content

	include ../mixins/docsMenu.jade
	
	mixin docsMenu('faq')
	

	div.container-fluid
		div.row-fluid
			div.span2
						
			div.span8
				div.row-fluid
					div.content-header
						div.header-inner
							br
							h2 FAQ
							p.subheader 
				hr
				div.row-fluid
					@todo
			div.span2				
	script
		$(document).ready(function() {
		
		}); // END READY

