mixin docsSubMenu(active)
	ul.nav.nav-list.yak-sidenav-fixed.yak-sidenav.affix
		- if (active == 'authentification')		
			li.active
				a(href="/docs/api#authentification",data-nav="authentification") Authentification
					i.icon-chevron-right
		- else
			li
				a(href="/docs/api#authentification",data-nav="authentification") Authentification
					i.icon-chevron-right
		- if (active == 'formats')		
			li.active
				a(href="/docs/api#formats",data-nav="formats") Formats
					i.icon-chevron-right
		- else
			li
				a(href="/docs/api#formats",data-nav="formats") Formats
					i.icon-chevron-right
		- if (active == 'endpoints')		
			li.active
				a(href="/docs/api#endpoints",data-nav="endpoints") Endpoints
					i.icon-chevron-right
		- else
			li
				a(href="/docs/api#endpoints",data-nav="endpoints") Endpoints
					i.icon-chevron-right
		- if (active == 'librairies')		
			li.active
				a(href="/docs/api#librairies",data-nav="librairies") Librairies
					i.icon-chevron-right
		- else
			li
				a(href="/docs/api#librairies",data-nav="librairies") Librairies
					i.icon-chevron-right
		- if (active == 'cgu')		
			li.active
				a(href="/docs/api#cgu",data-nav="cgu") Conditions d'utilisations	
					i.icon-chevron-right
		- else
			li
				a(href="/docs/api#cgu",data-nav="cgu") Conditions d'utilisations	
					i.icon-chevron-right