mixin docsMenu(active)
	div.navbar.navbar-fixed-top
		div.navbar-inner
			.container-fluid
				a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse") 
					span.icon-bar
					span.icon-bar
					span.icon-bar
					a.brand(href="#{JSON.parse(locals.conf).apiurl}") YAKWALA DOCS
					

					div.nav-collapse
						ul.nav
							- if (active == 'api')										
								li.active
									a(target="_blank",href="#{JSON.parse(locals.conf).apiurl}/docs/api") API documentation
							- else
								li
									a(target="_blank",href="#{JSON.parse(locals.conf).apiurl}/docs/api") API documentation
		