mixin footer
	div#footer.navbar-fixed-bottom
		span.copyright
			|&copy; 2013 Yakwala.fr
		a.alink(href="/docs/api", target="_blank")
			|API & Documentations
		a.alink(href="/docs/opendata", target="_blank")
			|Opendata & ressources
		a.alink(href="/docs/logs", target="_blank")
			|Release log
		a.alink(href="/docs/cgu", target="_blank")
			|Conditions générales d'utilisation
		a.alink(href="http://www.yakwala.fr/blog", target="_blank")
			|Le Blog
		a.alink(href="/docs/faq", target="_blank")
			|FAQ



