mixin locationChooser()
	div.modal.hide.fade#locationChooser
		div.modal-header
			button.close(type="button", data-dismiss="modal") x
			h3 Y a quoi là ?
		div.modal-body
			p.alertText 
				ul.favplacelist.unstyled
					- each favplace in locals.user.favplace
						li.zoneLoc(lat=favplace.location.lat, lng=favplace.location.lng)
							i.icon-map-marker
							span= favplace.name
							i.icon-remove.icon-pointer(onclick='removefavPlace($(this));')
				br	
				- if(session)
					div.control-group
						div.controls
							label(for='favplace') Ajouter des endroits favoris : 
							div.input-append
								input#favplace.searchInput(type="text",data-provide="typeahead", name="favplace", autocomplete="off", placeholder='Rechercher...') 
								button.btn#btn-favplace-adder(type="button") Add
		div.modal-footer
			span.btn(data-dismiss="modal") Fermer

			