mixin locationChooser()
	div.modal.hide.fade#locationChooser
		div.modal-header
			button.close(type="button", data-dismiss="modal") x
			h3 Y a quoi là ?
		div.modal-body
			p.alertText 
				ul.favplacelist.unstyled
					- if(locals.user.favplace)
						- each favplace in locals.user.favplace
							li.zoneLoc(pointId=favplace._id, lat=favplace.location.lat, lng=favplace.location.lng)
								i.icon-map-marker
								span= favplace.name
								i.icon-remove.icon-pointer(onclick='removefavPlace($(this));')
				br	
				- if(session)
					div.control-group
						div.controls
							label(for='favplace') Ajouter des endroits favoris : 
							input#favplace.searchInput(type="text",data-provide="typeahead", name="favplace", autocomplete="off", placeholder='Rechercher...') 
								
		div.modal-footer
			span.btn(data-dismiss="modal") Fermer

			