mixin menu(active)
	div.navbar.navbar-fixed-top
		div.navbar-inner
			.container-fluid
				a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse") 
					span.icon-bar
					span.icon-bar
					span.icon-bar
					a.brand(href="#") #{title}
					div.btn-group.pull-right
						a.btn.dropdown-toggle(href="#",data-toggle="dropdown")
							i.icon-user 
							span &nbsp;Username&nbsp;
							span.caret
						ul.dropdown-menu
							li
								a(href="#") Profile
							li.divider
							li
								a(href="#") Sign Out
					div.nav-collapse
						ul.nav
							li.active
								a(href="/map") La carte
							li
								a(href="/actu") Le fils d'info
							li
								a(href="/api/info") L'info brute
