mixin menu(active)
	div.navbar.navbar-fixed-top
		div.row-fluid.headerYakwala
			if(active != "login")
				div.span12.pull-left(style="text-align: center")
					a.leftlink#maplink(href="/news/map")
						img(src="/images/new/lacarte.png")
					a.leftlink#feedlink(href="/news/feed")
						img(src="/images/new/filinfo.png")

					a(href="/news/map")
						img(src="/images/new/logo.png")
			
					- if (locals.user && active != "firstvisit")
							a.customprofile.dropdown-toggle(href="#",data-toggle="dropdown")
								img(id="userThumb", src="/images/new/profile.png")
								//
									i.icon-user
									span= ' '+locals.user.login+' ';
									span.caret
							ul.dropdown-menu.pull-right(style="right:0; top: 30px;")
								li
									a(href="/settings/profile") Mon profil
								li
									a(href="/settings/alerts") Mes alertes
								li
									a(href="/settings/password") Mot de Passe
								li.divider
								
								li.divider
								li
									a(href="/user/logout") Quitter
					- else
						//
							span 
								a.btn.pull-right(href="/user/login") Login
	if(active == 'map')
		script
			$(document).ready(function(){
				$("#maplink img").attr("src", "/images/new/lacarte-hover.png");
			});
	if(active == 'feed')
		script
			$(document).ready(function(){
				$("#feedlink img").attr("src", "/images/new/filinfo-hover.png");

			});
	if(active == 'firstvisit')
		script
			$(document).ready(function(){
				$("#feedlink").removeAttr("href");
				$("#maplink").removeAttr("href");
			});
	
	if(active != "login")		
		script
			$(document).ready(function(){

				if(user.thumb.indexOf("http") == "-1")
				{
					$("#userThumb").attr("src", "http://" + user.thumb);	
				}
				else
				{
					$("#userThumb").attr("src", user.thumb);		
				}
				$("#userThumb").after("<img src='/images/new/bgthumb.png' id='bgthumb' />");

			});
			/*$(document).ready(function(){
				$("#maplink img").mouseenter(function(){
					$(this).attr("src", "/images/new/lacarte-hover.png");
				});
				$("#maplink img").mouseleave(function(){
					$(this).attr("src", "/images/new/lacarte.png");
				});
				$("#feedlink img").mouseenter(function(){
					$(this).attr("src", "/images/new/filinfo-hover.png");
				});
				$("#feedlink img").mouseleave(function(){
					$(this).attr("src", "/images/new/filinfo.png");
				});
			});*/

	