mixin menu(active)
	div.navbar.navbar-fixed-top
		div.navbar-inner
			.container-fluid
				a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse") 
					span.icon-bar
					span.icon-bar
					span.icon-bar
					a.brand(href="/news/map") YAKWALA
					
					div.btn-group.pull-right
						- if (locals.user)
							a.btn.dropdown-toggle(href="#",data-toggle="dropdown")
								i.icon-user
								span= ' '+locals.user.login+' ';
								span.caret
							ul.dropdown-menu
								li
									a(href="/settings/profile") Mon profil
								li
									a(href="/settings/alerts") Mes alertes
								li
									a(href="/settings/password") Mot de Passe
								li.divider
								li
									a(href="/user/logout") Quitter
						- else
							span 
								a.btn(href="/user/login") Login
					- if (active == 'map' || active == 'post')		
						div.btn-group.pull-right
							&nbsp;&nbsp;&nbsp;
							span
								span.btn#zoneLocButton(title="Mes favoris")
									i.icon-star 
									&nbsp;Mes endroits favoris
							&nbsp;&nbsp;&nbsp;
							span	
								span.btn#arroundme(title="Autour de moi")
									i.icon-home 
							&nbsp;&nbsp;&nbsp;

					div.nav-collapse
						ul.nav
							- if (active == 'map')
								li.active
									a(href="/news/map") La carte
							- else
								li
									a(href="/news/map") La carte
							- if(active == 'feed')
								li.active
									a(href="/news/feed") Le fil d'actu
							- else
								li
									a(href="/news/feed") Le fil d'actu
							- if(active == 'newuser')
								li.active
									a(href="/user/new") Créer un compte
							- else
								li
									a(href="/user/new") Créer un compte
							- if (active == 'api')										
								li.active
									a(href="/docs/api") API documentation
							- else
								li
									a(href="/docs/api") API documentation
							