mixin searchPanel()
	script(src="http://maps.google.com/maps/api/js?v=3.9&amp;sensor=false&amp;libraries=drawing")		
	div#search.container
		div.row
			div.span6
				div.row.input-block-level
					div.span5
						div(data-toggle="buttons-checkbox", class="searchTypes")
							div(class="btn-group1")
								span.btn(title="Actu", type=1) 
									img(src="/images/markers/type1.png", class="smallImg")
								span.btn(title="Discussion", type=4) 
									img(src="/images/markers/type4.png", class="smallImg")
								span.btn(title="Agenda", type=2) 
									img(src="/images/markers/type2.png", class="smallImg")
								span.btn(title="Infos Pratiques", type=3) 
									img(src="/images/markers/type3.png", class="smallImg")
								span.btn(title="Mes alertes", type=5)
									img(src="/images/markers/type5.png", class="smallImg")

				div.row.input-block-level
					div.span3
						div#heatModule
							input#daynumber(type='hidden', name='daynumber', value='')
							input#daynumber2(type='hidden', name='daynumber', value='')
							div#heatSelector(class="upperHeight")
					div.span2
						div#dayPrinter(class="dayPrinter") Depuis 3 jours	

				div.row.input-block-level
					div.span5
						input#locationInput(type='hidden', name='locationInput', value='')
						input#SearchWhat(type="text", class="searchInput", placeholder="Quoi ?")
						input#SearchWhere(type="text", data-provide="typeahead", class="searchInput2", placeholder="Où ?")

				

			div.span3
				div.searchPlaces
				ul#myfavplace.favplacelist.unstyled
					- if(locals.user.favplace)
							- each favplace in locals.user.favplace
								li.zoneLoc(pointId=favplace._id, lat=favplace.location.lat, lng=favplace.location.lng)
									i.icon-map-marker
									span= favplace.name
									i.icon-remove.icon-pointer
			
		

		button(type="button", class="btn searchButton") Search

		script
			function deleltePlace(el){
				$(el).parent().remove();
			}
			/*slider time selector*/
			$( "#heatSelector" ).slider({
				range: false,
				values: [90],
				min: 1,
				max: 100,
				slide: function( event, ui ) {

					var minx = ui.values[0];

					var maxx = ui.values[1];

					var miny = Math.ceil(-7.222723628*Math.pow(10,-7)*Math.pow(minx,5) + 2.123355095*Math.pow(10,-4)*Math.pow(minx,4) - 2.178300623*Math.pow(10,-2)*Math.pow(minx,3) + 0.906040198*Math.pow(minx,2) - 16.47223075*minx + 360.0000001);

					var maxy = Math.ceil(-7.222723628*Math.pow(10,-7)*Math.pow(maxx,5) + 2.123355095*Math.pow(10,-4)*Math.pow(maxx,4) - 2.178300623*Math.pow(10,-2)*Math.pow(maxx,3) + 0.906040198*Math.pow(maxx,2) - 16.47223075*maxx + 360.0000001);

					var yText = "";
					var yText2 = "";
					if(miny == maxy)
					{
						if(miny <= 1)
							yText = "depuis "+miny+" jour";
						else
							yText = "depuis "+miny+" jours";

						$( "#dayPrinter" ).html(yText);
					}

					else
					{

						var txt1 = ""; var txt2 = "";

						if(miny <= 1)
							txt1 = "entre "+maxy+" jour";
						else
							txt1 = "entre "+maxy+" jours";

						if(maxy <= 1)
							txt2 = "Depuis "+miny+" jour";
						else
							txt2 = "Depuis "+miny+" jours";

						$( "#dayPrinter" ).html(txt2);
					}
					
					$("#daynumber").val(miny);
					$("#daynumber2").val(miny);
					
				},
				change:function(event, ui){
					getAndPrintInfo();
					
				}
			});

			$('#SearchWhere').typeahead({
				minLength : 3,							
				source: function (typeahead, query) {
					if(query.length >= 3){
						encodeURIComponent(query);
						$("#searchPlaceStr").addClass('searching');
						var addressQuery = {"address": query ,"region":"fr","language":"fr"};
						var geocoder = new google.maps.Geocoder();
						geocoder.geocode( addressQuery, function(results, status) {						
						if (status == google.maps.GeocoderStatus.OK) {
							typeahead.process(results);
							$("#searchPlaceStr").removeClass('searching');
						} 
						});
					}
				},
				property: "formatted_address",
				onselect: function(obj) { 
					$("#searchPlaceStr").removeClass('searching');
					var placeGmap = getPlaceFromGmapResult(obj);
					$('#locationInput').val(JSON.stringify(placeGmap.location));

					
					var aplace = $("<li />");
					aplace.attr("class", "zoneLoc");
					aplace.attr("lat", placeGmap.location.lat);
					aplace.attr("lng", placeGmap.location.lng);
					aplace.append("<i class='icon-map-marker'></i>");
					aplace.append("<span>" + placeGmap.title + "</span>");
					aplace.append("<i class='icon-remove icon-pointer'></i>");

					$("#myfavplace").append(aplace);

					var exists = 0;

				
					
					$("#SearchWhere").val("");
				}
			});

			$('#SearchWhere').keyup(function(event){
				if($(this).val()==''){
					$('#locationInput').val('');
				}
				if (event.which == 13) {
					$('#searchButton').trigger('click');
				}
			});

