extends ../layout
block content
	include ../mixins/menu.jade
	include ../../front/mixins/locationChooser.jade	
	include list.jade

	mixin menu('dashboard')
	mixin locationChooser()

	div.container-fluid
		div.row-fluid
			div.span12
				div.fuelux
					- if (message)
						each msg in message
							div.alert.fade.in#alert
								button.close(type="button",data-dismiss="alert") x
								strong= msg
		div.row-fluid#dashBoardContainer
			mixin list()				
