mixin list()
	div.span6
		legend Géolocalisation des infos des 10 derniers jours: 
		div.dashboardBigChart#chart_geo	
		br
		br
		legend Etat des batchs :
		table.table.table-hover.table-condensed
			thead
				tr
					th Nom
					th Erreur
					th Dernière execution
					th status
					th Run
			tbody#batchList
	div.span6
		div.dashboardSmallChart#chart_info	
		div.dashboardSmallChart#chart_place
		div.dashboardSmallChart#chart_user
	script

		/*BATCH LIST*/
		$.get('/api/feedList',function(data){
			if(typeof data.feeds != 'undefined' && data.feeds.length > 0){	
				var batchsInError = '';
				data.feeds.forEach(function(item){
					if(item.lastExecStatusLabel != 'OK'){
						var lastExecDate = '';
						if(typeof item.lastExecDate != 'undefined' && item.lastExecDate )
							lastExecDate = item.lastExecDate;
						var lastExecErr = '';
						if(typeof item.lastExecErr != 'undefined' && item.lastExecErr && item.lastExecErr != '' )
							lastExecErr = item.lastExecErr;
						var errClass = '';
						if(item.lastExecStatusLabel == 'WARN')
							errClass = 'warning';
						if(item.lastExecStatusLabel == 'NOK')
							errClass = 'error';
						

						batchsInError += '<tr class="'+errClass+'"><td><i class="icon-exclamation-sign"></i>&nbsp;'+item.humanName+'</td><td>'+lastExecErr+'</td><td>'+lastExecDate+'</td><td class="error">'+item.lastExecStatusLabel+'</td><td><a href="'+conf.batchurl.replace('BACKEND','BATCH')+'parserPAPI.php?q='+item.name+'&forceUpdate=1" target=_blank"><i class="icon-play" title="Executer le batch"></i></a></td></tr>';
					}
				});
				if(batchsInError.length == 0)
					$("#batchList").append('<tr><td>Tous les batchs sont OK !</td></tr>');
				else
					$("#batchList").append(batchsInError);		
			}
			
		});
		

		/*LINECHART*/
		var last10Days = new Date() - 10*24*60*60*1000;
		google.load("visualization", "1", {packages:["corechart"]});
		google.setOnLoadCallback(drawChart);
		function drawChart() {
			var option = {};
			var data = {};
			var mapData = {};
	
			$.get('/api/dashboard/statsByDate/info/'+last10Days,function(rows){
				
				data['cols'] = [
								{id: 'creationDate', label: 'Date', type: 'string'},
								{id: 'infoTotal', label: 'Total Infos', type: 'number'},
								{id: 'infoYassala', label: 'Yassalas', type: 'number'},
								{id: 'infoTovalidate', label: 'To Validate', type: 'number'},
							];
				data['rows'] = rows;			
				mapData = new google.visualization.DataTable(data)
				options = {title: 'Infos créées par jour:',colors:['#3a87ad','#468847','#b94a48','#f89406'],areaOpacity:0.6};
				var chartInfo = new google.visualization.AreaChart(document.getElementById('chart_info'));
				chartInfo.draw(mapData, options);
			});
				
			$.get('/api/dashboard/statsByDate/user/'+last10Days,function(rows){	
				data = {};
				mapData = {};
				data['cols'] = [
								{id: 'creationDate', label: 'Date', type: 'string'},
								{id: 'userTotal', label: 'Total Users', type: 'number'},
								{id: 'userTovalidate', label: 'To Validate', type: 'number'},
							];
				data['rows'] = rows;			
				mapData = new google.visualization.DataTable(data)
				options = {title: 'Utilisateurs créés par jour:',colors:['#3a87ad','#468847','#b94a48','#f89406'],areaOpacity:0.1,pointSize:5,lineWidth:3,};
				var chartUser = new google.visualization.AreaChart(document.getElementById('chart_user'));
				chartUser.draw(mapData, options);
			});
			$.get('/api/dashboard/statsByDate/place/'+last10Days,function(rows){		
				data = {};
				mapData = {};
				data['cols'] = [
								{id: 'creationDate', label: 'Date', type: 'string'},
								{id: 'placeTotal', label: 'Total Lieux', type: 'number'},
								{id: 'placeTovalidate', label: 'To Validate', type: 'number'},
							];
				data['rows'] = rows;			
				mapData = new google.visualization.DataTable(data)
				options = {title: 'Lieux créés par jour:',colors:['#3a87ad','#468847','#b94a48','#f89406'],areaOpacity:0.1,pointSize:5,lineWidth:3};
				var chartPlace = new google.visualization.AreaChart(document.getElementById('chart_place'));
				chartPlace.draw(mapData, options);
			});
		};

		/*GEOCHART*/
		google.load('visualization', '1', {'packages': ['geochart']});
		google.setOnLoadCallback(drawMarkersMap);

		function drawMarkersMap() {
			var nowTs = parseInt(new Date().getTime());
			$.get('/api/dashboard/statsByZone/'+nowTs,function(rows){
				var mapData = {};
				data = {};
				data['cols'] = [
								{id: 'Zone', label: 'Zone', type: 'string'},
								{id: 'nbinfos', label: 'Infos: ', type: 'number'},
							];

				data['rows'] = rows;
				mapData = new google.visualization.DataTable(data)
				
				var options = {
				
					region: 'FR',
					displayMode: 'markers',
					colorAxis: {colors: ['#3A87AD', '#b94a48']}
				};

				var chart = new google.visualization.GeoChart(document.getElementById('chart_geo'));
				chart.draw(mapData, options);
			});	
		};


		