extends ../layout
block content
    include ../mixins/menu.jade
   
    mixin menu('dashboard')
   

    div.container-fluid
        div.row-fluid
            div.span8
                div#dashBoardContainer
                    p hello

    