extends ../layout
block content
	include ../mixins/menu.jade
	include ../mixins/map.jade
	include list.jade
	include ../mixins/forms/placeForm.jade


	mixin menu('place')
	mixin locationChooser()

	div.container-fluid
		div.row-fluid
			div.span4
				mixin map()
			div.span8
				div.fuelux
					- if (message)
						each msg in message
							div.alert.fade.in#alert
								button.close(type="button",data-dismiss="alert") x
								strong= msg

					div#newsfeedContainer
						mixin list()
						mixin placeForm()
	script
		function placeMarker(location,mk) {
			$('#latitude').val(location.lat());	
			$('#longitude').val(location.lng());	
			mk.setVisible(true);
			mk.setPosition(location);
		}

		function getformattedAddress(position){
			var geoQuery = {"location": position};
				var geocoder = new google.maps.Geocoder();
				geocoder.geocode( geoQuery, function(results, status) {
					if (status == google.maps.GeocoderStatus.OK) {
						var result = fixGmapResult(results[0]);
						var placeGmap = getPlaceFromGmapResult(result);
						//console.log(results);
						placeArray = placeGmap;
						$("#placeForm #placeInput").val(JSON.stringify(placeArray));
						$('#placeForm #placePreview ').html("<div id='placeLabel'><i class='icon-remove' onclick='placeArray=null;$(\"#placeInput\").val(JSON.stringify(placeArray));$(this).parent().remove();'></i> "+result.formatted_address+"</div>");
					} else {
						
						$('#place').select();
					}
				});
				//$("#place").val('').select();

		}						
