extends ../layout
block content
	include ../mixins/menu.jade
	include ../mixins/locationChooser.jade
	include ../mixins/forms/placeForm.jade
	include ../mixins/forms/loginForm.jade
	include ../mixins/datagrid.jade

	mixin menu('place')
	mixin locationChooser()


	div.container-fluid
		div.row-fluid
			div.span4
				div#mymap
			div.span8
				div#alert-nav.alert.alert-info
					button.close(type="button", data-dismiss="alert") x
					#msg
				div
					mixin datagrid()


	script

		/*INIT*/
		var conf = !{conf};
		//var user = !{JSON.stringify(user)};
		var logged = 0;

		var curPos = {'x':0,'y':0,'z':0};
		var geolocalized = 0;
		var infowindow = null;
		var bounds = new Array();
		var markers = [];
		var infoArray = [];
		var markerLocation = null;

		var markerClustererOptions = {gridSize:30,maxZoom: 17};
		var markerCluster = null;
		var heat = 3;
		//var type = [1];
		var type = [!{type}];

		var infoContent = '';
		var rule = new RegExp('#([^\\s]*)','g');
		var rule2 = new RegExp('[#]','g');
		var postFlag = 0;
		var listenerHandle = null;

		/*READY FUNCTIONS*/
		$(document).ready(function() {

			setTimeout(function() {
				$("#alert").fadeOut();
			}, 3000);

			/* Detect browser */
			$.browser.chrome = /chrom(e|ium)/.test(navigator.userAgent.toLowerCase());
			if(!$.browser.chrome){
				$("#alert-nav #msg").html("Cette interface est omptimisée pour Chrome.");
			}
			else {
				$("#alert-nav").hide();
			}



			// init news feed (Setting the scroll bar)
			drawNewsFeed();

			$('#newsfeedContainer').mCustomScrollbar({mouseWheel:true,scrollButtons:{enable:true,scrollType:"continuous",},advanced:{autoExpandHorizontalScroll:true,updateOnContentResize: true,updateOnBrowserResize:true}});
			$(window).resize(function(){drawNewsFeed();});

			$('#newsfeed').delegate(".mapHighlighter",'click', function () {
				unhighlightInfo($(this),highlightInfo);
			});

			/*cookies for navigation*/
			if($.cookie("geoloc")){
				curPos = JSON.parse($.cookie("geoloc"));
				google.maps.event.addDomListener(window, 'load', initialize(curPos.x,curPos.y,curPos.z));
			}else{
				if(navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(getHTML5Pos,getErrHTML5Pos);
				}else {
					x = 48.851875;
					y = 2.356374;
					z = 13;
					curPos = {'x':x,'y':y,'z':z};
					google.maps.event.addDomListener(window, 'load', initialize(curPos.x,curPos.y,curPos.z));
				}
			}


			markerLocation = new google.maps.Marker({
				visible:false,
				map:map,
				draggable:true,
				icon:'/images/beachflag.png',
				//position:center
			});


			var input = document.getElementById('place');
			var autocomplete = new google.maps.places.Autocomplete(input);

			autocomplete.bindTo('bounds', map);

			/*var infowindow = new google.maps.InfoWindow();
			var marker = new google.maps.Marker({
				map: map
			});*/

			google.maps.event.addListener(autocomplete, 'place_changed', function() {
				infowindow.close();
				//markerLocation.setVisible(false);
				//input.className = '';
				$('#placeForm #btn-place-adder').click();
				var place = autocomplete.getPlace();
				if (!place.geometry) {
					// Inform the user that the place was not found and return.
					input.className = 'notfound';
					return;
				}

				// If the place has a geometry, then present it on a map.
				if (place.geometry.viewport) {
					map.fitBounds(place.geometry.viewport);
				} else {
					map.setCenter(place.geometry.location);
					map.setZoom(17);  // Why 17? Because it looks good.
				}

				markerLocation.setPosition(place.geometry.location);

				var address = '';
				if (place.address_components) {
					address = [
					(place.address_components[0] && place.address_components[0].short_name || ''),
					(place.address_components[1] && place.address_components[1].short_name || ''),
					(place.address_components[2] && place.address_components[2].short_name || '')
					].join(' ');
				}

				//infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
				//infowindow.open(map, marker);
			});

		});/*END READY*/

		function drawNewsFeed(){
			var newsfeedContainerHeight = window.innerHeight-$('#newsfeedContainer').offset().top-50+'px';
			$('#newsfeedContainer').css('height',newsfeedContainerHeight);
		}

		function initialize(x,y,z){

			// set user cookies
			$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000 });
			//console.log(JSON.parse($.cookie("geoloc")));

			var center = new google.maps.LatLng(x,y);
			infowindow = new google.maps.InfoWindow({content: ".",maxWidth : 300});
			map = new google.maps.Map(document.getElementById('mymap'), {
				zoom: z,
				center: center,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			});

			markerClustererOptions = {gridSize:30,maxZoom: 17};
			markerCluster = new MarkerClusterer(map, markers,markerClustererOptions);

			markerHL = new google.maps.Marker({position: center,map:map,visible:false});

			google.maps.event.addListenerOnce(map, 'idle', function(){
				bounds = this.getBounds();
				//getAndPrintInfo();

			});


			google.maps.event.addListener(map, 'dragend', function() {
				bounds = this.getBounds();
				center = this.getCenter();
				curPos.x = center.lat();
				curPos.y = center.lng();
				$.cookie("geoloc", JSON.stringify(curPos));
				//getAndPrintInfo();
			});

			google.maps.event.addListener(map, 'zoom_changed', function() {
				bounds = this.getBounds();
				curPos.z = this.getZoom();
				$.cookie("geoloc", JSON.stringify(curPos));
				//getAndPrintInfo();
			});
		}