include ../mixins/menu.jade
include ../mixins/locationChooser.jade

mixin menu('fils')
mixin locationChooser()

div#content
	p!= partial('./partials/newsfeed.jade', {infos:infos})
	
script
	$(document).ready(function() {
		$.getJSON('/api/infos',function(data) {
			var items = [];

			$.each(data.info, function(key,val) {
				$('#content').append(val.title+'<br>');
				
			});
		});
	});