extends ../layout
block content
	include ../mixins/menu.jade
	include ../mixins/locationChooser.jade
	include ../mixins/userChooser.jade
	include ../mixins/forms/postForm.jade
	mixin menu('feed')
	mixin locationChooser('feed')
	mixin userChooser

	style
		#newsfeedContainer ul#newsfeed li.highlighted .mapHighlighter { width: 98%;}
	div.container-fluid
		div.row-fluid
			div.span8
				div#newsfeedContainer(style="overflow: hidden")
					span#newsfeedContent.tabContent			
						ul#newsfeed
			div.span4
				div#topsContainer

					div.columnTitle Les chaudes
					div#topHots

					div.columnTitle Les plus commentés
					div#topCommented

					div.columnTitle Les plus appréciées
					div#topLiked
		div.row-fluid.clearBoth		
	style
		#newsfeedContent{position:relative;display:block;overflow:auto;height:auto;z-index:2000; overflow-x: hidden;}				
	
	script
		var conf = !{conf};
		var mainConf = !{mainConf};	
		
	- if(JSON.parse(conf).env == 'DEV')		
		script(src="/javascripts/feed.js")
	-else	
		script(src='/javascripts/minify/feed-min-'+JSON.parse(mainConf).version+'.js')
	

		