extends ../layout
block content
	include ../mixins/menu.jade
	include ../mixins/locationChooser.jade
	include ../mixins/userChooser.jade
	include ../mixins/forms/postForm.jade
	mixin menu('feed')
	mixin locationChooser('feed')
	mixin userChooser

	div.container-fluid
		div.row-fluid
			div.span8
				div#newsfeedContainer.feedPage
					span#newsfeedContent.tabContent.feedPage		
						ul#newsfeed
			div.span4
				div#topsContainer

					div.columnTitle Les dernières infos
					div#topHots

					div.columnTitle Les plus commentés
					div#topCommented

					div.columnTitle Les plus appréciées
					div#topLiked
		div.row-fluid.clearBoth		
		
	
	script
		var conf = !{conf};
		var mainConf = !{mainConf};	
		
	- if(JSON.parse(conf).env == 'DEV')		
		script(src="/javascripts/feed.js")
	-else	
		script(src='/javascripts/minify/feed-min-'+JSON.parse(mainConf).version+'.js')
	

		