extends ../layout
block content
	include ../mixins/menu.jade
	include ../mixins/locationChooser.jade
	include ../mixins/forms/postForm.jade
	mixin menu('feed')
	mixin locationChooser('feed')



	div.container-fluid
		div.row-fluid
			div.span8
				div#newsfeedContainer(style="overflow: hidden")
					span#newsfeedContent.tabContent			
						ul#newsfeed
			div.span4
				div.columnTitle TOPS
				div#topsFeed
					
	style
		#newsfeedContent{position:relative;display:block;overflow:auto;height:auto;z-index:2000; overflow-x: hidden;}				

	script(src='/javascripts/minify/map-min.js?v='+JSON.parse(mainConf).version)	
	//link(rel='stylesheet', href='/javascripts/lib/jquery/css/share.css')
	//script(src="/javascripts/lib/jquery/js/share.js?v="+JSON.parse(mainConf).version)	
	//script(src="/javascripts/lib/jquery/js/jquery.livequery.js")
	//script(src="/javascripts/json2.js")	

	script
		var conf = !{conf};
		var mainConf = !{mainConf};	
	
	

		