extends ../layout
block content
	include ../mixins/menu.jade
	include ../mixins/locationChooser.jade
	include ../mixins/userChooser.jade
	include ../mixins/forms/postForm.jade
	include ../mixins/post_picture.jade
	include ../mixins/post_youtube.jade
	include ../mixins/post_soundcloud.jade
	include ../mixins/post_flicker.jade
	mixin menu('map')
	mixin locationChooser('map')
	mixin userChooser
	mixin post_youtube
	mixin post_soundcloud
	mixin post_flicker

	div.container-fluid
		div.row-fluid
			div.span8
				div#mymap
				div#zoomnavigation
					div#zoomplus
					div#zoomminus
			div.span4#customSpan
				div#newsfeedContainer
					span#newsNav(style="display: none")				
						ul.nav.nav-tabs
							li.active(contentToLoad="newsfeedContent", style="width: 70%")
								a.newsNavItem#newsFeed(href="#", title="Fil d'info")
									img(src="/images/new/lefil.png")
							- if(session)	
								li(contentToLoad="newspostContent", style="width: 30%; background: #c81119")
									a.newsNavItem#newsPost(href="#", title="Poster une info") 
										img(src="/images/new/poster.png")
									
					span#newsfeedContent.tabContent
						ul#newsfeed
					span#newspostContent.tabContent
						mixin postForm()		
	
	style
		body { overflow-y: hidden;}
	script
		var conf = !{conf};
		var mainConf = !{mainConf};

	- if(JSON.parse(conf).env == 'DEV')	
		script(src="/javascripts/map.js")
	- else
		script(src='/javascripts/minify/map-min-'+JSON.parse(mainConf).version+'.js')
	