extends ../layout
block content

	include ../mixins/menu.jade
	include ../mixins/forms/forgotpassword.jade
	include ../mixins/menuUnlogged.jade

	
	mixin menuUnlogged()
	
		
	div.container-fluid#loginPageContent
		div.row-fluid
			div.span3
			div.span6
				mixin forgotpassword()
			div.span3
	style
		body {background : #f6f6f6}			
	
