extends ../layout
block content

	include ../mixins/forms/loginForm.jade
	include ../mixins/loginPopUp.jade
	include ../mixins/menuUnlogged.jade


	mixin menuUnlogged()
	
	
		
	div.container-fluid#loginPageContent
		div.row-fluid
			div.span3
			div.span6
				mixin loginForm() 
				mixin loginPopUp
			div.span3
				
	script
		$(document).ready(function() {
			$('#login').focus();
		});

	style
		body {background : #f6f6f6}