extends ../layout
block content

	include ../mixins/menu.jade
	include ../mixins/settingsMenu.jade
	include ../mixins/locationChooser.jade

	mixin menu('alerts')
	mixin locationChooser()

	div.container-fluid
		div.row-fluid
			div.span3.yak-sidebar
				mixin settingsMenu('blacklist')

						
			div.span8
				div.row-fluid				
					- if (message)
						each msg in message
							div.alert.fade.in
								button.close(type="button",data-dismiss="alert") x
								strong= msg
				div.row-fluid
					div.content-header
						div.header-inner
							h2 Liste Noire
				hr
				div.row-fluid
					p.subheader Liste des utilisateurs dans votre liste noire
					- each blackuser in blackusers
						p
							div
								i.icon-remove.icon-pointer(rel=blackuser._id, onclick="removeUser(this)")
								= blackuser.login
				div.row-fluid
					br 
					br
				div.row-fluid
					p.subheader Liste des feeds dans votre liste noire
					- each blackfeed in blackfeeds
						p
							div
								i.icon-remove.icon-pointer(rel=blackfeed._id, onclick="removeFeed(this)")
								= blackfeed.login
				div.row-fluid
					br 
					br
			
	script
		function removeUser(el)
		{
			var id = $(el).attr("rel");

			$.post('/api/user/blacklist/remove', { id : id, type : 'user'}, function(res){
				if(res == "1")
					$(el).parent().remove();
			});
		}

		function removeFeed(el)
		{
			var id = $(el).attr("rel");
			
			$.post('/api/user/blacklist/remove', { id : id, type : 'feed'}, function(res){
				if(res == "1")
					$(el).parent().remove();
			});
		}

		function removeInfo(el)
		{
			var id = $(el).attr("rel");
			
			$.post('/api/user/blacklist/remove', { id : id, type : 'info'}, function(res){
				if(res == "1")
					$(el).parent().remove();
			});
		}