extends ../layout
block content

	include ../mixins/menu.jade
	include ../mixins/locationChooser.jade
	include ../mixins/forms/profileForm.jade
	include ../mixins/settingsMenu.jade
	
	mixin menu('profile')
	mixin locationChooser()

	div.container-fluid
		div.row-fluid
			div.span3.yak-sidebar
				mixin settingsMenu('profile') 

						
			div.span8
				- if (message)
					div.alert.fade.in
						button.close(type="button",data-dismiss="alert") x
						strong=message
				div.content-header
					div.header-inner
						h2 Mon profil
						p.subheader Ces informations sont publiques et permettent aux autres utilisateurs de vous trouver et de suivre vos infos.
				hr
				mixin profileForm(locals.user.type)

		script
			var conf = !{conf};
			var user =!{JSON.stringify(user)};
			
			var hashtag = [];
			var hashtagTmp = [];
			var rule = new RegExp('#([^\\s]*)','g');
			var rule2 = new RegExp('[#]','g');
			var tagArray = user.tag; 

			function setName(el)
			{
				$("#formProfile #username").val($(el).text());
			}

			function setWeb(el)
			{
				$("#formProfile #web").val($(el).text());
			}

			function setBio(el)
			{
				$("#formProfile #bio").val($(el).text());
			}

			function getSuggestionsFromFacebook(){
				var profile = user.social.facebook[0];
				
				if($("#formProfile #username").val() == "")
				{
					$("#formProfile #username").val(profile.name);
				}

				if($("#formProfile #web").val() == "")
				{
					$("#formProfile #web").val(profile.url);
				}

				if($("#formProfile #bio").val() == "")
				{
					$("#formProfile #bio").val(profile.description);
				}
			}


			function getSuggestionsFromTwitter(){
				var profile = user.social.twitter[0];
				
				if($("#formProfile #username").val() == "")
				{
					$("#formProfile #username").val(profile.name);
				}

				if($("#formProfile #web").val() == "")
				{
					$("#formProfile #web").val(profile.url);
				}

				if($("#formProfile #bio").val() == "")
				{		
					$("#formProfile #bio").val(profile.description);
				}
			}

			function getSuggestionsFromGoogle(){
				var profile = user.social.google[0];
				
				if($("#formProfile #username").val() == "")
				{
					$("#formProfile #username").val(profile.name);
				}

				if($("#formProfile #web").val() == "" )
				{
					$("#formProfile #web").val(profile.url);
				}

				if($("#formProfile #bio").val() == "")
				{
					$("#formProfile #bio").val(profile.description);
				}
			}

			$(document).ready(function() {

			
				$('#bio').on('keyup',function(){
					var len = $(this).val().length;
					if (len > 120) {
						$(this).val($(this).val().substring(0, 120));
						$('#charNum').css('color','red');
					} else {
						$('#charNum').html(120 - len);
						$('#charNum').css('color','black');
					}
				});
				$('#tagInput').val(JSON.stringify(tagArray));
			

				$('#btn-tag-adder').unbind('click').click(function(){

					var tag = $('#tag').val();
					if($.trim(tag) == "")
						return;
					$("label[for='tag']").after("<div class='clearBoth'><i class='icon-remove icon-pointer'  onclick='console.log(tagArray);tagArray.cleanArrayByName(\""+tag+"\");$(\"#tagInput\").val(JSON.stringify(tagArray));$(this).parent().remove();'></i> "+tag+"</div>");
					$('#tag').val('').focus();
					tagArray.push(tag);
					$("#tagInput").val(JSON.stringify(tagArray));
					
				});

				if(typeof(user) != "undefined")
				{
					
					if (user.thumbsmall.match("no-user.png$"))
					{
						$("#avatarPreview").html("");
						$("#avatarPreview").css({
							width: "100px",
							height: "100px",
							background: "#E0E0E0"
						});
					}
				}
						

				// init form
				//console.log(user);
				$('#username').val(user.name);
				
				$('#bio').val(user.bio);
				$('#web').val(user.web);
				
				if(user.formatted_address)
					$('#cityTarget').html(user.formatted_address);
				if(user.addressZoom)
					$('#addressZoom').html(user.addressZoomText);
				
				$('#avatarPreview img').attr('src',user.thumb);
				
				
				// hashtag creation from title field
				$("#tag").keyup(function(event) {

					hashtagTmp = [];
					var inputStrArray = ($(this).val()).split(',');
					for(i = 0; i< inputStrArray.length;i++){
							hashtagTmp.push(inputStrArray[i]);
					}
					$('#tag').val(hashtagTmp);
				});
				
				$('#avatar').live('change', function () {

					if ( window.FileReader ) {
						var fileList = this.files;
						var file = fileList[0];
						//console.log(file.type);
						//if ( window.FileReader ) {
						var r = new FileReader();
						r.onload = function () {
							var binimage = r.result;
							//console.log(binimage);
							
							binimage1 = binimage.replace('data:'+file.type+';base64,', '');
							var src = "data:"+file.type+";base64," + binimage1;
							var imgPrev = "<img src='" + src +"' class='size100 img-rounded' />";
							//$("#avatarPreview img").attr('src',src);
							$("#avatarPreview").html(imgPrev);
							$("#avatarPreview").removeAttr("style");
						};
						r.readAsDataURL(file);
					
					}
					
				});
				
				$('#city').typeahead({
					minLength : 2,							
					source: function (typeahead, query) {
						
						if(query.length > 2){
							$("#city").css({'background-image':'url(\'images/loader.gif\')','padding-left':'20px'});
							var addressQuery = {"address": query,"region":"fr" };
							var geocoder = new google.maps.Geocoder();
							geocoder.geocode( addressQuery, function(results, status) {
								if (status == google.maps.GeocoderStatus.OK) {
									$.map( results, function( item ) {fixGmapResult(item);});
									typeahead.process(results);
								} 
								
								if(status == google.maps.GeocoderStatus.ZERO_RESULTS){}
									
								if( status == google.maps.GeocoderStatus.INVALID_REQUEST 
									|| status == google.maps.GeocoderStatus.REQUEST_DENIED  
									|| status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT){
									var salt = new Date().getTime();
									$('#cityTarget').html("<div id='alert"+salt+"' class='control-label'><i class='icon-exclamation-sign'> </i>Adresse invalide ("+status+")</div>");
									setTimeout(function() {
										$("#alert"+salt).fadeOut();
									}, 3000);
									$('#city').select();
								}
							});
						}
					},
					property: "formatted_address",
					onselect: function(obj) { 
						$("#city").css({'background-image': 'none','padding-left':'0px'});
						$('#cityTarget').html("<div>"+obj.formatted_address+"</div>");
						$('#city').val('').focus();
						var placeGmap = getPlaceFromGmapResult(obj);
						
						$('#location').val(JSON.stringify(placeGmap.location));
						$('#address').val(JSON.stringify(placeGmap.address));
						$('#formatted_address').val(JSON.stringify(placeGmap.formatted_address));
						//$("#submit").click();
					}
				});
				
				$("#ddlAddressZoom option").each(function(){
					if($(this).attr("value") == user.addressZoom)
						$(this).attr("selected", "selected");
					else
						$(this).removeAttr("selected");
				});

				if($.cookie("loginFrom") == "1")
					getSuggestionsFromTwitter();

				if($.cookie("loginFrom") == "2")
					getSuggestionsFromFacebook();

				if($.cookie("loginFrom") == "3")
					getSuggestionsFromGoogle();
				
			}); // END READY	

			function changeZoom()
			{
				$("#defaultCityZoom").val($("#ddlAddressZoom").val());
				$("#ddlAddressZoom option").each(function(){
					if($(this).attr("value") == $("#ddlAddressZoom").val())
						$("#defaultCityZoomText").val($(this).text());
				});
				//$("#submit").click();
			}


