extends ../layout
block content

	include ../mixins/menuUnlogged.jade
	include ../mixins/forms/profileForm.jade
	include ../mixins/forms/resetpassword.jade

	mixin menuUnlogged()

	div.container-fluid#loginPageContent
		div.row-fluid
			div.span3
			div.span6 
				mixin resetpassword()
			div.span3

	
		script
			var conf = !{conf};
			var mainConf = !{mainConf};	
			var user =!{JSON.stringify(user)};
			user.thumbsmall = 'no-user.png';
			$(document).ready(function() {
				$('#password').focus();
				$('#firstvisitForm').isHappy({
					fields: {
						'#password': {
							required: true,
							message: 'Votre mot de passe doit faire au moins 8 caractères',
							test: function(val){
								if(val.length < 8)
									return false;
								else
									return true;
							} 
						}
					}
				});
			});