extends ../layout
block content

	include ../mixins/menu.jade
	include ../mixins/forms/profileForm.jade
	mixin menu('resetPassword')

	div.container-fluid
		div.row-fluid
			div.span3
			div.span6
				- if (message)
					div.alert.fade.in
						button.close(type="button",data-dismiss="alert") x
						strong=message
				div.content-header
					div.header-inner
						h2 Nouveau mot de passe:
						
				hr
				form#firstvisitForm(action='/resetpassword', method='POST')						
					div.control-group
						div.controls
							label.control-label.label-xlarge(for="oldpass") Choisissez un mot de passe ( au moins 8 caractères ):  
							input.input-xlarge#password(type="text", name="password", autocomplete="off", placeholder="Votre mot de passe") 
					div.control-group
						div.controls
							button.yakbtn(,type='submit', name='submit', id='submit', value='envoyer') Envoyer
					
		script
			var conf = !{conf};
			var mainConf = !{mainConf};	
			var user =!{JSON.stringify(user)};
			user.thumbsmall = 'no-user.png';
			$(document).ready(function() {
				$('#password').focus();
				$('#firstvisitForm').isHappy({
					fields: {
						'#password': {
							required: true,
							message: 'Votre mot de passe doit au moins 8 caractères',
							test: function(val){
								if(val.length < 8)
									return false;
								else
									return true;
							} 
						}
					}
				});
			});