mixin loginForm()
	- if (message)
		div.alert.fade.in
			button.close(type="button",data-dismiss="alert") x
			strong=message
	form(action='/session', method='POST')
		input#redir(type='hidden', name='redir', value=redir)
		div.control-group
			div.controls
				input#login(type="text",name="login", autocomplete="on", placeholder='Login')
		div.control-group
			div.controls
				input#password(type="text",name="password", autocomplete="on", placeholder='Password')
		div.control-group
			div.controls
				button.btn.btn-large.btn-block.btn-inverse(,type='submit', name='submit', id='submit', value='login') Login
			br	
			i
				a(href='/user/new') &nbsp;Vous n'avez pas encore de compte ?