mixin profileForm(type)
	- if(type > 1)
		form(action='/profile', method='POST', enctype='multipart/form-data')
			input#taginit(type='hidden', name='taginit', value='')
			input#location(type='hidden', name='location', value='')
			input#address(type='hidden', name='address', value='')
			input#formatted_address(type='hidden', name='formatted_address', value='')
			div.span4
				div.control-group
					div.controls
						label.control-label(for="avatar") Votre photo :  
						span#avatarPreview
							img.size100.img-rounded(src='')
						input#avatar(type="file",style="display:block",name="avatar")
				div.control-group
					div.controls
						label.control-label(for="name") Votre nom :  
						input#username(type='text', name='username')
				div.control-group
					div.controls
						label.control-label(for="name") Votre ville: 
							span#cityTarget
						input#city.searchInput(type='text', name='city', placeholder='Chercher...', autocomplete="off",)
				div.control-group
					div.controls
						label.control-label(for="name") Votre site web:  
						input#web(type='text', name='web')
				
			div.span4
				div.control-group
					div.controls
						label.control-label(for="bio") Une description de votre activité :  
						textarea(name='bio', id='bio',rows='10')
			
				div.control-group
					div.controls
						label.control-label(for="name") Mots clés :  
						input#tag(type='text', name='tag')
						
				button.btn.btn-large.btn-block.btn-inverse(type='submit', name='submit', id='submit', value='Envoyer') Envoyer
		
	- if(type == 1)
		form(action='/profile', method='POST', enctype='multipart/form-data')
			input#taginit(type='hidden', name='taginit', value='')
			input#location(type='hidden', name='location', value='')
			input#address(type='hidden', name='address', value='')
			input#formatted_address(type='hidden', name='formatted_address', value='')
			div.span4
				div.control-group
					div.controls
						label.control-label(for="avatar") Votre photo :  
						span#avatarPreview
							img.size100.img-rounded(src='')
						input#avatar(type="file",style="display:block",name="avatar")
				div.control-group
					div.controls
						label.control-label(for="name") Votre nom :  
						input#username(type='text', name='username')
				div.control-group
					div.controls
						label.control-label(for="name") Votre ville: 
							span#cityTarget
						input#city.searchInput(type='text', name='city', placeholder='Chercher...', autocomplete="off",)
				div.control-group
					div.controls
						label.control-label(for="name") Votre site web:  
						input#web(type='text', name='web')
				
			div.span4
				div.control-group
					div.controls
						label.control-label(for="bio") Votre biographie :  
						textarea(name='bio', id='bio',rows='10')
			
				div.control-group
					div.controls
						label.control-label(for="name") Mots clés :  
						input#tag(type='text', name='tag')
						
				button.btn.btn-large.btn-block.btn-inverse(type='submit', name='submit', id='submit', value='Envoyer') Envoyer
			