mixin searchForm(page)
	span#newsfeedMenu
		div#typeContainer.row
			span.btn(title="Actu", type=1) 
				img(src="/images/markers/type1.png")
			span.btn(title="Discussion", type=4) 
				img(src="/images/markers/type4.png")
			span.btn(title="Agenda", type=2) 
				img(src="/images/markers/type2.png")
			span.btn(title="Infos Pratiques", type=3) 
				img(src="/images/markers/type3.png")
			span.btn(title="Mes alertes", type=5)
				img(src="/images/markers/type5.png")
			//span.btn.btn-link(title="testfeed", type=10)
			//	i.icon-fire
		div#heatModule.row
			div#dayPrinter Aujourd hui	
			div#heatSelector
		- if(page == 'feed' || page == 'map')	
			div#rangeModule.row
				div#rangeSelector
		div#searchBox.row
			div.input-append
				input#locationInput(type='hidden', name='locationInput', value='')
				input.span5.search-query#searchStr(type="text",placeholder="Quoi ?",autocomplete="off", )
				input.span5.search-query#searchPlaceStr(type="search",placeholder="Où ?",autocomplete="off", data-provide="typeahead",)
				button.btn#searchBtn(type="submit") Go
	script
		var yakType = [!{type}];
		//console.log(yakType);
		var dateFrom = 0;
		var searchString = "!{str}".toString();
		if(searchString=='')
			searchString = null;
		
		$(document).ready(function() {
			/*search info and place*/
				
				$('#searchStr').val(searchString);
				// reset
				$('#searchStr').keyup(function(event){
					if($(this).val()==''){
						searchString = null;
						getAndPrintInfo();
					}
					if (event.which == 13) {
						$('#searchBtn').trigger('click');
					}
				});
				$('#searchPlaceStr').keyup(function(event){
					if($(this).val()==''){
						$('#locationInput').val('');
					}
					if (event.which == 13) {
						$('#searchBtn').trigger('click');
					}
				});
				
				
				
				// search button
				$('#searchBtn').click(function(){
					var str = encodeURIComponent($('#searchStr').val());
					var placeName = $('#searchPlaceStr').val();
					var location = $('#locationInput').val();				
					if(location != ''){
						changeLocation(location);
						//map.setCenter(latLng);
						
					}else{
						if(placeName != ''){
							
							/* our db is not ready for this ! => use google !
							$.ajax({
								url: "/api/search/place/"+placeName,				
								success: function( ajax ) {
									if(ajax.data.places.length > 0 && ajax.data.places[0] != "undefined"){
										var latLng = new google.maps.LatLng(ajax.data.places[0].location.lat,ajax.data.places[0].location.lng);
										map.panTo(latLng);
									}else{
										var salt = new Date().getTime();
										$('#searchStr').before("<div id='alert"+salt+"' class='control-label'><i class='icon-exclamation-sign'> </i>Adresse invalide</div>");
										setTimeout(function() {
											$("#alert"+salt).fadeOut();
										}, 3000);
									$('#searchPlaceStr').select();
									}
								}
							});*/
							var addressQuery = {"address": placeName ,"region":"fr","language":"fr"};
							var geocoder = new google.maps.Geocoder();
							geocoder.geocode( addressQuery, function(results, status) {						
							if (status == google.maps.GeocoderStatus.OK) {
								var latLng = new google.maps.LatLng(results[0].geometry.location.Ya,results[0].geometry.location.Za);
								markerHL.setPosition(latLng);
								markerHL.setVisible(true);
								markerHL.setMap(map);
								markerHL.setOptions({icon:"/images/markers/target3.png"});
								
								setTimeout(function() {
									markerHL.setMap(null);
								}, 3000);
								map.panTo(latLng);
							}else{
								var salt = new Date().getTime();
								$('#searchStr').before("<div id='alert"+salt+"' class='control-label'><i class='icon-exclamation-sign'> </i>Adresse invalide</div>");
								setTimeout(function() {
									$("#alert"+salt).fadeOut();
								}, 3000);
								$('#searchPlaceStr').select();
							} 
							});
						}
					}
					
					
					if(str != 'Quoi ?' && str != ''){
						searchString = str;
						
					}else
						searchString = null;
			
					getAndPrintInfo();
					$('#searchStr').focus();
				});



			/*slider time selector*/
			$( "#heatSelector" ).slider({
				range: "min",
				min: -15,
				max: 100,
				value: 0,
				slide: function( event, ui ) {
					var x = ui.value;
					var y = 0;
					if(x==0){
						y= 0;
						yText = "Aujourd'hui";
					}else{
						if(x < 0){
							y = Math.floor(Math.pow(x,2)/25); 
							//y = Math.floor(x/2);
						}else{
							y = (-1)*Math.floor(Math.pow(x,2)/25); 
							//y = (-1)*Math.floor(x/2);
							//y = Math.floor(-7.222723628*Math.pow(10,-7)*Math.pow(x,5) + 2.123355095*Math.pow(10,-4)*Math.pow(x,4) - 2.178300623*Math.pow(10,-2)*Math.pow(x,3) + 0.906040198*Math.pow(x,2) - 16.47223075*x + 360.0000001);
						}
							
					}
					
					var yText = "";
					
					var months = parseInt(y / 30);
					var days = y % 30;
					var dayText = "";
					var monthText = "";
					
					if(days == 0 && months == 0)
						dayText = "Aujourd'hui";
					else if(days == 0 && months > 0)
						dayText = "";
					else if(days == -1 && months == 0)
						dayText = "Demain";
					else if(days == 1 && months == 0)
						dayText = "Hier";
					else if(days == 1 || days == -1)
						dayText = "1 jour";
					else
						dayText = Math.abs(days)+" jours";
					if(months == 0)
						monthText = "";	
					else if(months == 1)
						monthText = "1 mois";	
					else
						monthText = Math.abs(months)+" mois";	
				

					if(monthText && dayText)
						yText = monthText+" et "+ dayText;
					else if(monthText && !dayText)
						yText = monthText
					else
						yText = dayText;
					
					if(y >= 2 && x < 0)
						yText = "Il y a "+yText;
					else if(y <= -2 && x > 0)
						yText = "Dans "+yText;
					$( "#dayPrinter" ).html(yText);
					dateFrom = y;
					
				},
				change:function(event, ui){
					getAndPrintInfo();
					
				}
			});
			
			/*slider range selector*/
			$( "#rangeSelector" ).slider({
				range: "min",
				min: 0,
				max: 100,
				value: 75,
				change:function(event, ui){
					curPos.z =  ui.value;
					getAndPrintInfo(0);
					
				}
			});

			/*init yakType selector*/
			$('#newsfeedMenu span.btn').removeClass('active');
			
			
			$.each(yakType,function(key,val){
				$("#newsfeedMenu span.btn[type=\""+val+"\"]").addClass('active');
			});

			$('#newsfeedMenu span.btn[type="5"]').removeClass('active');
			/*type selector*/
			$('#newsfeedMenu span.btn').click(function(){
				var curtype = $(this).attr('type');
				if(curtype == 5){
					$('#newsfeedMenu span.btn').removeClass('active');
					$(this).addClass('active');
					yakType = [5];
					
				}else{
					$('#newsfeedMenu span.btn[type="5"]').removeClass('active');
					if($(this).hasClass('active')){
						$(this).removeClass('active');
						yakType.cleanArrayByName(curtype);	
					}
					else{
						$(this).addClass('active');
						yakType.push(curtype);
					}
					if(yakType.length == 0)
						yakType = [0];
				}
				getAndPrintInfo();
			});


			// autocomplete Place
			$('#searchPlaceStr').typeahead({
				minLength : 3,							
				source: function (typeahead, query) {
					if(query.length >= 3){
						encodeURIComponent(query);
						$("#searchPlaceStr").addClass('searching');
						var addressQuery = {"address": query ,"region":"fr","language":"fr"};
						var geocoder = new google.maps.Geocoder();
						geocoder.geocode( addressQuery, function(results, status) {						
						if (status == google.maps.GeocoderStatus.OK) {
							typeahead.process(results);
							$("#searchPlaceStr").removeClass('searching');
						} 
						});
					}
				},
				property: "formatted_address",
				onselect: function(obj) { 
					$("#searchPlaceStr").removeClass('searching');
					var placeGmap = getPlaceFromGmapResult(obj);
					$('#locationInput').val(JSON.stringify(placeGmap.location));
				}
			});
			
			// autocomplete Info			
			$('#searchStr').typeahead({
					minLength : 3,
					source: function (typeahead, query) {
					encodeURIComponent(query);
						if(query.length >= 3){
							$.ajax({
									url: "/api/catsandtags",				
									success: function( ajax ) {
										typeahead.process(ajax.data.catsandtags);
									}
								})}
					},
					property: "title",
					onselect: function(obj) { 
						$("#searchPlaceStr").removeClass('searching');
						
					}
				});
			




		}); // END READY 
		