extends ../layout
block content

	include ../mixins/menu.jade
	include ../mixins/settingsMenu.jade
	include ../mixins/locationChooser.jade

	mixin menu('alerts')
	mixin locationChooser()

	div.container-fluid
		div.row-fluid
			div.span4.yak-sidebar
				mixin settingsMenu('alerts')

						
			div.span8
				div.row-fluid				
					- if (message)
						each msg in message
							div.alert.fade.in
								button.close(type="button",data-dismiss="alert") x
								strong= msg
				div.row-fluid
					div.content-header
						div.header-inner
							h2 Abonnements et alertes
							p.subheader Abonnez vous aux infos d'autres utilisateurs et configurer vos alertes
				hr
				div.row-fluid
					form(action='/alerts', method='POST')
						input#usersubsInput(type='hidden', name='usersubsInput', value=JSON.stringify(locals.user.usersubs))
						input#placesubscInput(type='hidden', name='placesubscInput', value='')
						input#tagsubsInput(type='hidden', name='tagsubsInput', value='')
						div.row-fluid
							div.span5
								div.control-group
									div.controls
										label.control-label.label-xlarge(for="usersubs") Abonnez vous au flux d'un utilisateur : 										
										- each user in usersubs
											p
												div
													i.icon-remove.icon-pointer(onclick="usersubsArray.cleanArray(\""+user._id+"\");console.log(usersubsArray);$(\"#usersubsInput\").val(JSON.stringify(usersubsArray));$(this).parent().remove();") 
													= user.name
										input.input-xlarge#usersubs(type="text",data-provide="typeahead", name="usersubs", autocomplete="off", placeholder="Entrer un nom d'utilisateur") 
							div.span1(style="border-left:solid 1px #0E0E0E;height:100px;")
							div.span6
								div.control-group
									div.controls
										div.input-append
											label.control-label.label-xlarge(for="alert") Abonnez vous à une alerte sur un mot clé :
											- each tag in tagsubs
												p
													div
														i.icon-remove.icon-pointer(onclick="tagsubsArray.cleanArrayByName(\""+tag+"\");$(\"#tagsubsInput\").val(JSON.stringify(tagsubsArray));$(this).parent().remove();") 
														= tag
											input#alert(type="text",data-provide="typeahead", name="alert", autocomplete="off", placeholder='Entrer un mot clé') 
											button.btn#btn-alert-adder(type="button") Ajouter
						br
						br
						div.row-fluid			
							div.span3 
							div.span4
								div.control-group
									div.controls
										button.btn.btn-large.btn-block.btn-inverse(type='submit', name='submit', id='submit', value='Enregistrer',style="width:100%;") Enregistrer
							
	script
		/*INIT*/	
		var conf = !{conf};
		var user =!{JSON.stringify(user)};
		var usersubsArray = user.usersubs; 
		var tagsubsArray = user.tagsubs; 
		var placesubscArray = [];
		$(document).ready(function() {
			
			
			//console.log(usersubsArray);
			
			//$('#usersubsInput').val(JSON.stringify(usersubsArray));
			$('#usersubs').typeahead({
					minLength : 3,
					source: function (typeahead, query) {
						$.ajax({
								url: "/api/usersearch/"+query,				
								success: function( data ) {
								console.log(data);
									typeahead.process(data.users);
								}
							})},
					property: "userdetails",
					onselect: function(obj) {
						if(!usersubsArray.inArrayId(obj._id)){
							
							$("label[for='usersubs']").after("<div><i class='icon-remove icon-pointer'  onclick='usersubsArray.cleanArray(\""+obj._id+"\");$(\"#usersubsInput\").val(JSON.stringify(usersubsArray));$(this).parent().remove();'></i> "+obj.name+"</div>");
							$('#usersubs').val('').focus();
							delete obj.thumb; // NOTE : here the thumb should not be included because it might be updated by the user
							usersubsArray.push(obj);
							$("#usersubsInput").val(JSON.stringify(usersubsArray));
						}else{
							$('#usersubs').val('').focus();
						}
					}
				});
				
			$('#tagsubsInput').val(JSON.stringify(tagsubsArray));
			$('#btn-alert-adder').click(function(){
				var tag = $('#alert').val();
				$("label[for='alert']").after("<div><i class='icon-remove icon-pointer'  onclick='tagsubsArray.cleanArrayByname(\""+tag+"\");$(\"#tagsubsInput\").val(JSON.stringify(tagsubsArray));$(this).parent().remove();'></i> "+tag+"</div>");
				$('#alert').val('').focus();
				tagsubsArray.push(tag);
				$("#tagsubsInput").val(JSON.stringify(tagsubsArray));
				
			});
		}); // END READY

