extends ../layout
block content

	include ../mixins/menu.jade
	include ../mixins/settingsMenu.jade
	include ../mixins/locationChooser.jade

	mixin menu('alerts')
	mixin locationChooser()

	div.container-fluid
		div.row-fluid
			div.span4.yak-sidebar
				mixin settingsMenu('alerts')

						
			div.span8
				div.row-fluid				
					- if (message)
						each msg in message
							div.alert.fade.in
								button.close(type="button",data-dismiss="alert") x
								strong= msg
				div.row-fluid
					div.content-header
						div.header-inner
							h2 Abonnements et alertes
							p.subheader Abonnez vous aux infos d'autres utilisateurs et configurer vos alertes
				hr
				div.row-fluid
					form
						input#usersubsInput(type='hidden', name='usersubsInput', value=JSON.stringify(locals.user.usersubs))
						input#placesubscInput(type='hidden', name='placesubscInput', value='')
						input#tagsubsInput(type='hidden', name='tagsubsInput', value='')
						input#feedsubsInput(type='hidden', name='feedsubsInput', value='')
						div.row-fluid
							div.span12
								div.control-group
									div.controls
										label.control-label.label-xlarge(for="usersubs") Abonnez vous au flux d'un utilisateur ou d'un feed : 										
										- each user in usersubs
											p
												div
													i.icon-remove.icon-pointer(onclick="usersubsArray.cleanArray(\""+user._id+"\");console.log(usersubsArray);$(\"#usersubsInput\").val(JSON.stringify(usersubsArray));$(this).parent().remove(); clickSubmit(this)") 
													= user.name
										input.input-xlarge#usersubs(type="text",data-provide="typeahead", name="usersubs", autocomplete="off", placeholder="Entrer un nom d'utilisateur") 
						div.row-fluid
							div.span12(style="border-bottom:solid 1px #0E0E0E;width:100%; min-height: 1px;")
						br
						div.row-fluid
							div.span12
								div.control-group
									div.controls
										div.input-append
											label.control-label.label-xlarge(for="alert") Abonnez vous à une alerte sur un mot clé :
											- each tag in tagsubs
												p
													div
														i.icon-remove.icon-pointer(onclick="tagsubsArray.cleanArrayByName(\""+tag+"\");$(\"#tagsubsInput\").val(JSON.stringify(tagsubsArray));$(this).parent().remove(); clickSubmit(this);") 
														= tag
											input.input-xlarge#alert(type="text",data-provide="typeahead", name="alert", autocomplete="off", placeholder='Entrer un mot clé') 
											button.btn#btn-alert-adder(type="button") Ajouter
						br
						div.row-fluid
							div.span12(style="border-bottom:solid 1px #0E0E0E;width:100%; min-height: 1px;")
						br
						div.row-fluid
							div.span12
								div.control-group
									div.controls
										div.input-append
											label.control-label.label-xlarge(for="userfeeds") Abonnez vous à une alerte sur un feed :
											- each feed in feedsubs
												p
													div
														i.icon-remove.icon-pointer(onclick="feedsubsArray.cleanArrayByName(\""+feed+"\");$(\"#feedsubsInput\").val(JSON.stringify(feedsubsArray));$(this).parent().remove();clickSubmit(this);") 
														= feed.humanName
											input.input-xlarge#userfeeds(type="text",data-provide="typeahead", name="alert", autocomplete="off", placeholder="Entrer un nom d'un feed")
						br
						br
						div.row-fluid
							div.span4
								div.control-group
									div.controls
										button.btn.btn-large.btn-block.btn-inverse(type='button', name='submit', id='submit', value='Enregistrer',style="width:100%; display: none") Enregistrer
							
	script
		/*INIT*/	
		var conf = !{conf};
		var user =!{JSON.stringify(user)};
		var usersubsArray = user.usersubs; 
		var tagsubsArray = user.tagsubs; 
		var feedsubsArray = user.feedsubs; 
		var placesubscArray = [];
		$(document).ready(function() {
			
			$("#alert").keyup(function(event){
				if(event.which == 13 && $.trim($("#alert").val()) != "")
				{
					var tag = $('#alert').val();
					$("label[for='alert']").after("<div><i class='icon-remove icon-pointer'  onclick='tagsubsArray.cleanArrayByName(\""+tag+"\");$(\"#tagsubsInput\").val(JSON.stringify(tagsubsArray));$(this).parent().remove();'></i> "+tag+"</div>");
					$('#alert').val('').focus();
					tagsubsArray.push(tag);
					$("#tagsubsInput").val(JSON.stringify(tagsubsArray));
					//clickSubmit(this);
				}
			});
			//console.log(usersubsArray);
			
			//$('#usersubsInput').val(JSON.stringify(usersubsArray));
			$('#usersubs').typeahead({
					minLength : 3,
					source: function (typeahead, query) {
						$.ajax({
								url: "/api/usersearch/"+query,				
								success: function( data ) {
								console.log(data);
									typeahead.process(data.users);
								}
							})},
					property: "userdetails",
					onselect: function(obj) {
						if(!usersubsArray.inArrayId(obj._id)){
							
							$("label[for='usersubs']").after("<div><i class='icon-remove icon-pointer'  onclick='usersubsArray.cleanArray(\""+obj._id+"\");$(\"#usersubsInput\").val(JSON.stringify(usersubsArray));$(this).parent().remove(); clickSubmit(this)'></i> "+obj.name+"</div>");
							$('#usersubs').val('').focus();
							delete obj.thumb; // NOTE : here the thumb should not be included because it might be updated by the user
							usersubsArray.push(obj);
							$("#usersubsInput").val(JSON.stringify(usersubsArray));
							clickSubmit($('#usersubs'));
						}else{
							$('#usersubs').val('').focus();
						}
					}
				});
			
			$('#userfeeds').typeahead({
					minLength : 3,
					source: function (typeahead, query) {
						$.ajax({
								url: "/api/feedsearch/"+query,				
								success: function( data ) {
								console.log(data);
									typeahead.process(data.feeds);
								}
							})},
					property: "humanName",
					onselect: function(obj) {
						if(!feedsubsArray.inArrayId(obj._id)){
							$("label[for='userfeeds']").after("<div><i class='icon-remove icon-pointer'  onclick='feedsubsArray.cleanArray(\""+obj._id+"\");$(\"#feedsubsInput\").val(JSON.stringify(feedsubsArray));$(this).parent().remove(); clickSubmit(this);'></i> "+obj.humanName+"</div>");
							$('#userfeeds').val('').focus();
							feedsubsArray.push(obj);
							$("#feedsubsInput").val(JSON.stringify(feedsubsArray));
							clickSubmit($('#userfeeds'));
						}else{
							$('#userfeeds').val('').focus();
						}
					}
				});

			$('#tagsubsInput').val(JSON.stringify(tagsubsArray));
			$('#feedsubsInput').val(JSON.stringify(feedsubsArray));


			$('#btn-alert-adder').click(function(){
				var tag = $('#alert').val();
				$("label[for='alert']").after("<div><i class='icon-remove icon-pointer'  onclick='tagsubsArray.cleanArrayByname(\""+tag+"\");$(\"#tagsubsInput\").val(JSON.stringify(tagsubsArray));$(this).parent().remove();'></i> "+tag+"</div>");
				$('#alert').val('').focus();
				tagsubsArray.push(tag);
				$("#tagsubsInput").val(JSON.stringify(tagsubsArray));
				clickSubmit(this);
			});
		}); // END READY

		function clickSubmit(el) {
			var loading = '<img src="images/loader_big.gif" class="loadingMore" style="position: relative; top:18px;" />';
			$(el).after(loading);
			//$("#submit").click();
			$.post('/alerts', {feedsubsInput: $("#feedsubsInput	").val(),usersubsInput: $("#usersubsInput").val(), tagsubsInput: $("#tagsubsInput").val()}, function(data){
				$(el).parent().find(".loadingMore").remove();
			});
		}

