extends ../layout
block content

	include ../mixins/menu.jade
	include ../mixins/locationChooser.jade
	include ../mixins/settingsMenu.jade

	mixin menu('password')
	mixin locationChooser()

	div.container-fluid
		div.row-fluid
			div.span4.yak-sidebar
				mixin settingsMenu('password') 

						
			div.span8
				div.row-fluid				
					- if (message)
						div.alert.fade.in
							button.close(type="button",data-dismiss="alert") x
							strong= message
				div.row-fluid
					div.content-header
						div.header-inner
							h2 Changer votre mot de passe:
				hr
				div.row-fluid
					form#passwordForm(action='/password', method='POST')
						div.control-group
							div.controls
								label.control-label.label-xlarge(for="oldpass") Votre ancien mot de passe :  
								input.input-xlarge#oldpass(type="text", name="oldpass", autocomplete="off", placeholder="Ancien mot de passe") 
							div.controls
								label.control-label.label-xlarge(for="newpass1") Votre nouveau mot de passe  ( au moins 8 caractères ):  
								input.input-xlarge#newpass1(type="text", name="newpass1", autocomplete="off", placeholder="Nouveau mot de passe") 
							div.controls
								label.control-label.label-xlarge(for="newpass2") Votre nouveau mot de passe :  
								input.input-xlarge#newpass2(type="text", name="newpass2", autocomplete="off", placeholder="encore une fois !") 
							
						button.btn.btn-block.btn-inverse(type='submit', name='submit', id='submit', value='Enregistrer') Enregistrer
							
	script
		/*INIT*/	
		var conf = !{conf};
		$(document).ready(function() {
			$('#oldpass').focus();
			$('#passwordForm').isHappy({
				fields: {
					'#oldpass': {
						required: true,
						message: 'Enter votre mot de passe actuel',
					},
					'#newpass1': {
						required: true,
						message: "Entrer un nouveau mot de passe d'au moins 8 caractères",
						test: function(val){return (val.length < 8)?false:true;}
					},
					'#newpass2': {
						required: true,
						message: 'Entrer à nouveau votre nouveau mot de passe',
						test: function(val){
							return res = ($('#newpass1').val() == $('#newpass2').val() ) ? true:false;
						} 
					}
				}
			});
			
			
			
		}); // END READY

