extends ../layout
block content

	include ../mixins/menu.jade
	include ../mixins/locationChooser.jade
	include ../mixins/forms/profileForm.jade
	include ../mixins/settingsMenu.jade
	
	mixin menu('profile')
	mixin locationChooser()

	div.container-fluid
		div.row-fluid
			div.span4.yak-sidebar
				mixin settingsMenu('profile') 

						
			div.span8
				- if (message)
					div.alert.fade.in
						button.close(type="button",data-dismiss="alert") x
						strong=message
				div.content-header
					div.header-inner
						h2 Mon profil
						p.subheader Ces informations sont publiques et permettent aux autres utilisateurs de vous trouver et de suivre vos infos.
				hr
				mixin profileForm(locals.user.type)
				
		script
			var conf = !{conf};
			var user =!{JSON.stringify(user)};
			
			var hashtag = [];
			var hashtagTmp = [];
			var rule = new RegExp('#([^\\s]*)','g');
			var rule2 = new RegExp('[#]','g');
			
			$(document).ready(function() {
			
				// init form
				$('#username').val(user.name);
				
				$('#bio').val(user.bio);
				$('#tag').val(user.tag);
				$('#web').val(user.web);
				$('#taginit').val(user.tag);
				console.log(user.formatted_address);
				if(user.formatted_address)
					$('#cityTarget').html(user.formatted_address);
				
				$('#avatarPreview img').attr('src','/pictures/128_128/'+user.thumb);
				
				
				// hashtag creation from title field
				$("#bio").keyup(function(event) {
					hashtagTmp = [];
					var inputStrArray = ($(this).val()).split(' ');
					for(i = 0; i< inputStrArray.length;i++){
						if(inputStrArray[i].match(rule)){
							hashtagTmp.push(inputStrArray[i]);
							hashtagTmp.push($('#taginit').val());
							$('#tag').val(hashtagTmp.toString().replace(rule2,''));
						}
					}
				});
				
				$('#avatar').live('change', function () {

					if ( window.FileReader ) {
						var fileList = this.files;
						var file = fileList[0];
						//console.log(file.type);
						//if ( window.FileReader ) {
						var r = new FileReader();
						r.onload = function () {
							var binimage = r.result;
							//console.log(binimage);
							
							binimage1 = binimage.replace('data:'+file.type+';base64,', '');
							var src = "data:"+file.type+";base64," + binimage1;
							$("#avatarPreview img").attr('src',src);
						};
						r.readAsDataURL(file);
					
					}
					
				});
				
				$('#city').typeahead({
					minLength : 2,							
					source: function (typeahead, query) {
						
						if(query.length > 2){
							$("#city").css({'background-image':'url(\'images/loader.gif\')','padding-left':'20px'});
							var addressQuery = {"address": query,"region":"fr" };
							var geocoder = new google.maps.Geocoder();
							geocoder.geocode( addressQuery, function(results, status) {
								if (status == google.maps.GeocoderStatus.OK) {
									//results[0].geometry.location
									typeahead.process(results);
								} 
								
								if(status == google.maps.GeocoderStatus.ZERO_RESULTS){}
									
								if( status == google.maps.GeocoderStatus.INVALID_REQUEST 
									|| status == google.maps.GeocoderStatus.REQUEST_DENIED  
									|| status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT){
									var salt = new Date().getTime();
									$('#cityTarget').html("<div id='alert"+salt+"' class='control-label'><i class='icon-exclamation-sign'> </i>Adresse invalide ("+status+")</div>");
									setTimeout(function() {
										$("#alert"+salt).fadeOut();
									}, 3000);
									$('#city').select();
								}
							});
						}
					},
					property: "formatted_address",
					onselect: function(obj) { 
						$("#city").css({'background-image': 'none','padding-left':'0px'});
						$('#cityTarget').html("<div>"+obj.formatted_address+"</div>");
						$('#city').val('').focus();
						var placeGmap = getPlaceFromGmapResult(obj);
						
						$('#location').val(JSON.stringify(placeGmap.location));
						$('#address').val(JSON.stringify(placeGmap.address));
						$('#formatted_address').val(JSON.stringify(placeGmap.formatted_address));
					}
				});
				
				
			}); // END READY	
