mixin footer
	div#footer.navbar-fixed-bottom
		.span2
			span.copyright
				|&copy; 2013 Yakwala.fr
		.span1
			a.alink(href="/docs/api", target="_blank")
				|API
		.span1
			a.alink(href="/docs/opendata", target="_blank")
				|Opendata
		.span1
			a.alink(href="/docs/log", target="_blank")
				|Logs
		.span1
			a.alink(href="/docs/cgu", target="_blank")
				|CGU
		.span1
			a.alink(href="http://www.yakwala.fr/blog", target="_blank")
				|Blog
		.span1
			a.alink(href="/docs/faq", target="_blank")
				|FAQ



