mixin loadingModal()
	div.modal-header
		button(type="button", class="close", data-dismiss="modal", aria-hidden="true") X
		h3(id="myModalLabel") 
			|loading...
			img(src="/images/loader.gif")
	div.modal-body
	div.modal-footer
