mixin loginPopUp


	div.modal.hide.fade#loginPopUp
		div.modal-header
			span#closeModal(type="button", data-dismiss="modal")
			h4 Entrer le login et mot de passe du compte à associer ou creer un nouveau
		div.modal-body	
			div(style="text-align: center")
				form(action='/session2', method='POST')
					div.span7
						div.control-group
							div.controls
								input#login2(type="text",name="login2", autocomplete="on", placeholder='Login')
						div.control-group
							div.controls
								input#password2(type="password",name="password2", autocomplete="on", placeholder='Password')
								input(type="hidden", name="token", id="token")
								input(type="hidden", name="social", id="social")
								input(type="hidden", name="fromSocial", id="fromSocial")
						div.control-group.clearBoth
							div.controls				
								button.yakbtnLogin(type='submit', name='submit', id='submit2') Associer
					div.span3(style="border-left: 1px solid #cecece")
						div.control-group.clearBoth
							div.controls
								button#social_create.yakbtnLogin(title="Vous ne possédez pas de compte Yakwala ? Créer le à partir de votre compte social, vous gagnerez du temps !", style="margin-top: 85px; position: relative; top: 5px;", type="button")
									|Créer	
				div.clearBoth
		div.modal-footer