mixin menuUnlogged()
	div.navbar.navbar-fixed-top#loginPageNavBar
		div.container-fluid
			div.row-fluid
				div.span3
				div.span6
					a(href="/news/map")
						img(src="/images/new/logo.png")
				div.span3
	
