include ../mixins/forms/searchFormUnified.jade
mixin menu(active)
	if(active != "login")
		div.navbar.navbar-fixed-top
			div.row-fluid.headerYakwala
				div		
					a.leftlink#maplink.yak-mainMenu-hide(href="/news/map")
						img.imgleft(src="/images/new/lacarte.png")
					a.leftlink#feedlink.yak-mainMenu-hide(href="/news/feed")
						img.imgleft(src="/images/new/filinfo.png")
					a.leftlink(onclick="$('.searchYakwala').slideToggle('slow', function(){drawNewsFeed(); });")
						img.imgleft(src="/images/search.png")

				a(href="/news/map")
					img#yakLogo(src="/images/new/logo.png")
		
				- if (locals.user && active != "firstvisit")
					a.customprofile.dropdown-toggle(href="#",data-toggle="dropdown")
						img.yak-mainMenu-hide(id="userThumb", src=locals.user.thumbsmall)
						span.caret(style="margin:22px 0px 22px 5px;")
					ul#customMenuProfile.dropdown-menu.pull-right(style="right:21px; top: 40px;")
						li
							img.imgSmallProfile(src="/images/new/lacarte.png")
							a(href="/news/map") Map
						li
							img.imgSmallProfile(src="/images/new/filinfo.png")
							a(href="/news/feed") Feed
						li.divider
						li
							img.imgSmallProfile(src="/images/new/passwordicon.png")
							a(href="/settings/password") Mot de Passe
						
						li
							img.imgSmallProfile(src="/images/new/profileicon.png")
							a(href="/settings/profile") Mon profil
						li
							img.imgSmallProfile(src="/images/new/profileicon.png")
							a(href="/settings/privateprofile") Mon profil privé
						li.divider
						li
							img.imgSmallProfile(src="/images/new/logouticon.png")
							a(href="/user/logout") Quitter
				- else
					//
						span 
							a.btn.pull-right(href="/user/login") Login
				if(active == 'map' || active == 'feed')
					mixin searchFormUnified(active)

		if(active == 'map')
			script
				$(document).ready(function(){
					$("#maplink img").attr("src", "/images/new/lacarte-hover.png");
				});
		if(active == 'feed')
			script
				$(document).ready(function(){
					$("#feedlink img").attr("src", "/images/new/filinfo-hover.png");

				});
		if(active == 'firstvisit')
			script
				$(document).ready(function(){
					$("#feedlink").removeAttr("href");
					$("#maplink").removeAttr("href");
				});
		
		script
			$(document).ready(function(){

			});
			

	