include ../mixins/forms/searchFormUnified.jade
mixin menu(active)
	if(active != "login")
		div.navbar.navbar-fixed-top
			div.row-fluid.headerYakwala
				div		
					a.leftlink#maplink.yak-mainMenu-hide(href="/news/map", alt="Carte", title="Carte")
						
					a.leftlink#feedlink.yak-mainMenu-hide(href="/news/feed", alt="Feed", title="Feed")
					
					a.leftlink#addLink.yak-mainMenu-hide(href="/news/map/?post=1", alt="Poster", title="Poster")
					//	
						a.leftlink(onclick="$('.searchYakwala').slideToggle('6000', function(){drawNewsFeed(); });")
							img.imgleft(src="/images/search.png")

				a#logoLink(href="/news/map", alt="Yakwala", title="Yakwala")

				- if (locals.user && active != "firstvisit")
					a#zoneLocButton(alt="Favoris", title="Favoris")
					a#profileMenu.customprofile.dropdown-toggle(href="#",data-toggle="dropdown", alt="Profile", title="Profile")
						//					
							img.yak-mainMenu-hide(id="userThumb", src=locals.user.thumbsmall)
							span.caret(style="margin:22px 0px 22px 5px;")
					ul#customMenuProfile.dropdown-menu.pull-right
						li
							//
								img.imgSmallProfile(src="/images/new/lacarte.png")
							a(href="/news/map") Map
						li
							//
								img.imgSmallProfile(src="/images/new/filinfo.png")
							a(href="/news/feed") Feed
						li
							//
								img.imgSmallProfile(src="/images/new/poster2.png")
							a(href="/news/map/?post=1") Poster
						li.divider
						li
							//
								img.imgSmallProfile(src="/images/new/passwordicon.png")
							a(href="/settings/profile") Mon profil
						li
							//
								img.imgSmallProfile(src="/images/new/profileicon.png")
							a(href="/settings/privateprofile") Mon profil privé
						li
							//
								img.imgSmallProfile(src="/images/new/profileicon.png")
							a(href="/settings/alerts") Mes alertes
						li
							//
								img.imgSmallProfile(src="/images/new/alertsicon.png")
							a(href="/settings/password") Mot de Passe
							
						li.divider
						li
							//
								img.imgSmallProfile(src="/images/new/logouticon.png")
							a(href="/user/logout") Quitter
				- else
					//
						span 
							a.btn.pull-right(href="/user/login") Login
				if(active == 'map' || active == 'feed')
					mixin searchFormUnified(active)

		if(active == 'map')
			script
				$(document).ready(function(){
					$("#addLink").removeAttr("href");
					$("#maplink").removeAttr("href");
					$("#maplink").addClass("activated");

					$("#addLink").click(function(){
						if(!$(this).hasClass("activated"))
						{
							$(this).addClass("activated");
							$("#maplink").removeClass("activated");
							showPostForm();
						}
						else
						{
							$(this).removeClass("activated");
							$("#maplink").addClass("activated");
							hidePostForm();
						}
						
					});
					$("#maplink").click(function(){
						if(!$(this).hasClass("activated"))
						{
							$(this).addClass("activated");
							$("#addLink").removeClass("activated");
							hidePostForm();
						}
						else
						{
							$(this).removeClass("activated");
							$("#addLink").addClass("activated");
							showPostForm();
						}
						
					});
					/*try
					{

					var mq = window.matchMedia( "(min-width: 768px)" );
					if (mq.matches) {
						$("#maplink").css("backgroundImage", "url('/images/yakwala_sprite.png')");
						$("#maplink").css("backgroundPosition", "0px -126px");
						if(gup("post") == 1)
						{
							$("#addLink").css("backgroundImage", "url('/images/yakwala_sprite.png')");
							$("#addLink").css("backgroundPosition", "-59px 0px");
						}
					}
					else {
						$("#maplink").css("backgroundImage", "url('/images/yakwala_sprite_medium.png')");
						$("#maplink").css("backgroundPosition", "55px -62px");	
						if(gup("post") == 1)
						{
							$("#addLink").css("backgroundImage", "url('/images/yakwala_sprite.png')");
							$("#addLink").css("backgroundPosition", "-30px 0px");
						}
					}
					if (matchMedia) {
						var mq = window.matchMedia("(min-width: 768px)");
						mq.addListener(WidthChange);
						WidthChange(mq);
						
					}
					function WidthChange(mq)
					{
						if (mq.matches) {
							$("#maplink").css("backgroundImage", "url('/images/yakwala_sprite.png')");
							$("#maplink").css("backgroundPosition", "0px -126px");
							if(gup("post") == 1)
							{
								$("#addLink").css("backgroundImage", "url('/images/yakwala_sprite.png')");
								$("#addLink").css("backgroundPosition", "-59px 0px");
							}
						}
						else {
							$("#maplink").css("backgroundImage", "url('/images/yakwala_sprite_medium.png')");
							$("#maplink").css("backgroundPosition", "55px -62px");	
							if(gup("post") == 1)
							{
								$("#addLink").css("backgroundImage", "url('/images/yakwala_sprite_medium.png')");
								$("#addLink").css("backgroundPosition", "-30px 0px");
							}
						}
					}
				}
				catch(e)
				{

				} */
				});
		if(active == 'feed')
			script
				$(document).ready(function(){
					/*try
					{
					var mq = window.matchMedia( "(min-width: 768px)" );
					if (mq.matches) {
						$("#feedlink").css("backgroundImage", "url('/images/yakwala_sprite.png')");
						$("#feedlink").css("backgroundPosition", "0px -62px");
					}
					else {
						$("#feedlink").css("backgroundImage", "url('/images/yakwala_sprite_medium.png')");
						$("#feedlink").css("backgroundPosition", "0px -31px");	
					}
					if (matchMedia) {
						var mq = window.matchMedia("(min-width: 768px)");
						mq.addListener(WidthChange);
						WidthChange(mq);
						
					}
					function WidthChange(mq)
					{
						if (mq.matches) {
						$("#feedlink").css("backgroundImage", "url('/images/yakwala_sprite.png')");
						$("#feedlink").css("backgroundPosition", "0px -62px");
					}
					else {
						$("#feedlink").css("backgroundImage", "url('/images/yakwala_sprite_medium.png')");
						$("#feedlink").css("backgroundPosition", "0px -31px");	
					}
					}
					}
					catch(e)
					{} */
				});
		if(active == 'firstvisit')
			script
				$(document).ready(function(){
					$("#feedlink").remove();
					$("#maplink").remove();
					$("#addLink").remove();
				});

		if(active != 'firstvisit')
			script
				$(document).ready(function(){
					if(typeof(user) != 'undefined')
						if(user.status == 4)
							window.location = "/settings/firstvisit";
				});
		else
			script
				$(document).ready(function(){
					if(typeof(user) != 'undefined')
						if(user.status != 4)
							window.location = "/news/map";
				});
		
		script
			$(document).ready(function(){
				if(typeof(user) != "undefined")
					if (!user.thumbsmall.match("no-user.png$"))
						$("#profileMenu").html("<img src='"+user.thumbsmall+"' />");
					
			});
			

	