mixin post_youtube

	div.modal.hide.fade#post_youtube
		div.modal-body
			span#closeModal(type="button", data-dismiss="modal")
			div.controls.clearBoth
				span.mediaText.pull-left
					span.rechercheYoutube
					|Recherche Youtube
					br
					span.hint
						|Chercher un video sur Youtube et integrez-la dans votre Yassala
				br
				br
			div.mediaBoxContainer
				div.controls.clearBoth
					div
						span#atabRechecher.aTab.active Recherche
						//span#atabVideo.aTab Mes videos
						//span#atabFavoris.aTab Favoris
					input#youtubeVideos(type="hidden")
					input#inputYoutube.input
					button#searchYoutube.btn Chercher
					img#loadingYoutube(src="/images/loader.gif", style="display: none")
				br

				div#youtubeResults.controls.clearBoth
				br
				br
				br
				br
				br
				div.hint(style='text-align: center')
					| Entrer votre recherche
				br
				br
				br
				br
				br
				br
				br

	script
		$(document).ready(function(){

			$(".mediaBoxContainer .aTab").click(function(){
				$(".mediaBoxContainer .aTab.active").removeClass("active");
				$(this).addClass("active");
			});

			$("#atabVideo").click(function(){
				$("#loadingYoutube").show();
				$("#youtubeResults").html("");
				var youtubeUrl = 'http://gdata.youtube.com/feeds/api/users/danysrour/uploads?&orderby=viewCount&time=all_time&max-results=10&alt=json&fields=entry/id,entry/media:group/media:thumbnail,entry/title';
				$.get(youtubeUrl, function(data){
					showMyVideos(data);
					$("#loadingYoutube").hide();
				})
			});


			$("#atabFavoris").click(function(){
				$("#loadingYoutube").show();
				$("#youtubeResults").html("");
				var youtubeUrl = 'http://gdata.youtube.com/feeds/api/users/danysrour/favorites?&orderby=viewCount&time=all_time&max-results=10&alt=json&fields=entry/id,entry/media:group/media:thumbnail,entry/title';
				$.get(youtubeUrl, function(data){
					showMyVideos(data);
					$("#loadingYoutube").hide();
				})
			});

			$("#atabRechecher").click(function(){
				$("#loadingYoutube").hide();
				$("#youtubeResults").html("");
				$("#inputYoutube").focus();
			});

			$("#inputYoutube").focus(function(){
				$("#loadingYoutube").hide();
				$("#youtubeResults").html("");
				$(".mediaBoxContainer .aTab.active").removeClass("active");
				$("#atabRechecher").addClass("active");
			});

			$("#searchYoutube").click(function(){
				$("#loadingYoutube").show();
				$("#youtubeResults").html("");
				var youtubeUrl = 'http://gdata.youtube.com/feeds/api/videos?q=' + $("#inputYoutube").val() + '&orderby=viewCount&time=all_time&max-results=10&alt=json&fields=entry/id,entry/media:group/media:thumbnail,entry/title';
				$.get(youtubeUrl, function(data){
					showMyVideos(data);
					$("#loadingYoutube").hide();
				})
			});
			$("#inputYoutube").keyup(function(e){
				if(e.keyCode == 13)
					$("#searchYoutube").click();
			});
		});	
		function showMyVideos(data) {
			var feed = data.feed;
			var entries = feed.entry || [];
			var html = '<ul>';
			for (var i = 0; i < entries.length; i++) {
			var entry = entries[i];
			var vid = entry.id.$t.replace("http://gdata.youtube.com/feeds/api/videos/", '');
			var title = entry.title.$t;
			var thumb = entry.media$group.media$thumbnail[0].url;
			html += '<li rel="' + vid + '">';
			html += '<a target="_blank" href="http://www.youtube.com/watch?v='+vid+'" class="yt_title" rel="'+vid+'">' + title + '</a>';
			html += '<a target="_blank" href="http://www.youtube.com/watch?v='+vid+'" class="yt_image" rel="'+vid+'">' + "<img src='" + thumb +"' />" + '</a>';
			html += '<span class="yt_add yakPosterLogo" rel="'+vid+'"></span>';
			//html += '<iframe  src="http://www.youtube.com/embed/'+vid+'" width="100%" frameborder="0" allowfullscreen></iframe>';
			html += '</li>';

			}
			html += '</ul>';
			$("#youtubeResults").html(html);

			$("#youtubeResults ul li .yt_add").click(function(){
				var frame = '<div><span id="youtubeContent"><iframe  src="http://www.youtube.com/embed/'+$(this).attr("rel")+'" width="96%" frameborder="0" allowfullscreen></iframe></span><span style="cursor: pointer; position: absolute; float: right; right: 0px;" onclick="removeframe(this)"><i class="icon-remove"></i></span></div>'
				$("#post_yakYoutube").prepend(frame);
				//$('#post_youtube').modal('hide');
				$(this).unbind("click");
				$(this).css("opacity", "0.4");
				if($("#socialThumbs").val() == "")
					$("#socialThumbs").val('http://img.youtube.com/vi/'+$(this).attr("rel")+'/1.jpg');
			});

		} 

		function removeframe(el)
		{
			$(el).parent().remove();
		}