mixin post_picture

	div.modal.hide.fade#post_picture
		div.modal-body
			span#closeModal(type="button", data-dismiss="modal")
			div.controls.clearBoth
				span.mediaText.pull-left
					|Info Image
				br
				br
				span#picturePreview
				br
				br
				input.span3#picture(type="file",style="display:block",name="picture")
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br

			