mixin post_soundcloud

	div.modal.hide.fade#post_soundcloud
		div.modal-body
			span#closeModal(type="button", data-dismiss="modal")
			div.controls.clearBoth
				span.mediaText.pull-left
					span.rechercheSoundCloud
					|Recherche SoundCloud
					br
					span.hint
						|Chercher un audio sur SoundCloud et integrez-le dans votre Yassala
				br
				br
			div.mediaBoxContainer	
				div.controls.clearBoth
					input#soundcloundAudios(type="hidden")
					input#inputSoundCloud.input
					button#searchSoundCloud.btn Chercher
					img#loadingSoundClound(src="/images/loader.gif", style="display: none")
				br

				div#soundCloudResults.controls.clearBoth
				br
				br
				br
				br
				br
				div.hint(style='text-align: center')
					| Entrer votre recherche
				br
				br
				br
				br
				br
				br
				br

	
	script
		$(document).ready(function(){
			$("#searchSoundCloud").click(function(){
				$("#loadingSoundClound").show();
				$("#soundCloudResults").html("");
				var scUrl = '/tracks';
				$.get('http://api.soundcloud.com/tracks?q='+$("#inputSoundCloud").val()+'&limit=10&client_id=d34264e304490c3447dcc5275739c8da&format=json', function(tracks) {
					showMyAudios(tracks);
					$("#loadingSoundClound").hide();
				});
			});
			$("#inputSoundCloud").keyup(function(e){
				if(e.keyCode == 13)
					$("#searchSoundCloud").click();
			});
		});

		function showMyAudios(data) {
			//console.log(data);
			var html = '<ul>';
			for (var i = 0; i < data.length; i++) {
			var entry = data[i];
			
			var title = entry.title;
			var thumb = entry.artwork_url;
			var sid = entry.id;
			
			html += '<li rel="'+sid+'">';
			//html += '<span class="yt_image">' + "<img src='" + thumb +"' />" + '</span>';
			html += '<span class="yt_title">' + title + '</span>';
			html += '<iframe width="90%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F'+sid+'"></iframe>';
			html += '<span class="yt_add yakPosterLogo" rel="'+sid+'"></span>';
			html += '</li>';

			}
			html += '</ul>';
			$("#soundCloudResults").html(html);

			$("#soundCloudResults ul li").click(function(){
				
				var frame = '<div><iframe width="96%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F'+$(this).attr("rel")+'"></iframe><span style="cursor: pointer; position: relative; float: right" onclick="removeframe(this)">X</span><div>';
				$("#post_yakSoundCloud").prepend(frame);
				//$('#post_soundcloud').modal('hide');
				$(this).unbind("click");
				$(this).css("opacity", "0.4");
			});
		} 
		
		// find all sounds of buskers licensed under 'creative commons share alike'
		

		