mixin userChooser

	div.modal.hide.fade#userChooser
		span#closeModal(type="button", data-dismiss="modal", style="position: relative; top:12px; right: 12px;")

		div.modal-body
			p.alertText 
				img(src="/images/loader_big.gif")
			p#uc_profile_brief
			P#uc_profile_yaks
				span#uc_profile_yaks_alerts.mybtn
				span#uc_profile_yaks_posts
					|0
				span#uc_profile_yaks_subscribed
					| Suit
					br
					b#subscribed_number
						|0
				span#uc_profile_yaks_subscribers
					| Suivi par
					br
					b#subscribers_number
						|0
			P#uc_profile_tags
				b
					|Tags alertes 
				span#thealerts
					|#dany #dany