extends ../layout

block content

	include ../mixins/docsMenu.jade
	
	mixin docsMenu('cgu')
	

	div.container-fluid
		div.row-fluid
			div.span2
			div.span8
				div.row-fluid
					div.content-header
						div.header-inner
							br
							h2 Les CGU sur Yakwala
							p.subheader Les présentes conditions générales ("CGU"), soumises au droit français, ont vocation à régir l'utilisation du site Yakwala.fr (le "Site") édité par la société Yakwala SAS (Mentions légales). L'inscription au Site ou l'utilisation du Site selon les modalités visées ci-après emporte l'acceptation expresse et sans réserve des CGU. Yakwala SAS se réserve le droit d'apporter, à tout moment, aux présentes CGU toute modification qui fera alors l'objet d'une mention particulière au sein du Site et sera applicable dès sa diffusion sur le Site.
				hr
				div.row-fluid
					h3 1. Présentation du Site
					p Le Site est un site innovant et original de contenus géolocalisés permettant à l'utilisateur, sous réserve de son inscription préalable en qualité de membre du site, de créer, commenter et partager des informations locales (de quelque nature que ce soit : actualités, associatives, commerciales, etc.) et permettant à tout utilisateur de les visionner, de les partager, ou de les commenter.
					p Conformément aux pratiques et usages de l'internet, des messages publicitaires peuvent être insérés au sein du Site. Les marques présentes sur ce site restent la pleine et entière propriété de leurs déposants.
					
					h3 2. Propriété intellectuelle de l'utilisateur et utilisation des Contenus
					p L'utilisateur met en ligne sur le Site, et/ou sur toutes autres interfaces électroniques de Yakwala SAS, des contenus qui sont composés de textes, commentaires, sons, images, photographies, plans, illustrations, émoticônes, vidéos et/ou de toutes autres informations de toute nature (ci-après dénommés "Contenus").

					p L'utilisateur est seul responsable des Contenus. La diffusion des Contenus par l'utilisateur sur le Site n'entraine aucun transfert de responsabilité sur les Contenus et aucune cession des Contenus et/ou des droits y afférents au bénéfice de Yakwala.

					p Cette mise en ligne vaut acceptation de votre part que les autres utilisateurs du Site puissent, à titre privé ou professionnel, visualiser et partager ce Contenu, hébergé par Yakwala, sur le Site ou à partir du Site, sur le site de partenaires de Yakwala et sur toutes les interfaces électroniques exploitées par Yakwala et ses partenaires (telles que les applications Facebook et les applications mobiles), pendant toute la durée de l'hébergement du Contenu sur le Site. En cas d'autres utilisations, et en particulier commerciales, des Contenus d'un autre utilisateur, vous devrez préalablement obtenir les autorisations nécessaires à cette fin.

					p La mise en ligne des Contenus par l'utilisateur sur le Site emporte autorisation à Yakwala de diffuser les Contenus sur toutes les interfaces électroniques exploitées par Yakwala, et en particulier le Site, les applications Facebook et les applications mobiles, ainsi que sur les sites internet, les applications Facebook et les applications mobiles de partenaires de Yakwala.

					p La mise en ligne des Contenus vaut également autorisation donnée à Yakwala de reproduire et/ou représenter ces Contenus pendant la durée de l'hébergement du Contenu sur le Site, les sites de partenaires de Yakwala et/ou sur toutes les interfaces électroniques exploitées par Yakwala et ses partenaires, et notamment les applications Facebook et les applications mobiles.

					p En particulier, les partenaires de Yakwala se sont engagés (i) à respecter les présentes CGU et (ii) à désigner la provenance des Contenus en indiquant le nom du Site et le nom de l'utilisateur qui a mis en ligne le Contenu.

					p A tout moment, l'utilisateur aura la faculté de supprimer les Contenus, en tout ou partie, du Site et/ou des interfaces électroniques de Yakwala depuis son compte utilisateur. Il pourra également le faire, s’il le souhaite, sur simple demande adressée à Yakwala à l'adresse suivante : contact@yakwala.fr. Les Contenus seront également supprimer en cas de désinscription de l'utilisateur de sa qualité de membre du Site.

					h3 3. Propriété Intellectuelle de Yakwala
					p Le Site est la propriété exclusive de Yakwala. Sous réserve de l'acceptation et du parfait respect des présentes CGU par l'utilisateur, Yakwala consent à l'utilisateur un droit gratuit, personnel, non-exclusif et non-transférable d'accès et d'utilisation du Site. Toute autre exploitation du Site devra être dûment autorisée par Yakwala.

					p L'utilisateur s'interdit toute reproduction, diffusion, modification, téléchargement et plus généralement toute exploitation, en tout ou partie, du Site et des éléments composant le Site (à l'exception des Contenus des utilisateurs), telles que les marques, logo, charte graphique et architecture.

					p Yakwala est également le producteur de la base de données constituée par l'agencement des Contenus sur le Site, au sens de l'article L. 341-1 du Code de la propriété intellectuelle.

					p Toute extraction et/ou toute réutilisation de la base de données du Site, non expressément autorisée par Yakwala, est illicite.

					p Toute atteinte portée aux droits de Yakwala en qualité de producteur de base de données pourra être punie d'une peine de 3 ans d'emprisonnement et d'une amende de 300 000,00 euros d'amende conformément aux termes de l'article L. 343-4 du Code de la propriété intellectuelle.

					h3 4. Responsabilité d'hébergeur de Yakwala

					p En qualité d'hébergeur des Contenus, Yakwala n'est tenue à aucune obligation générale de surveillance des Contenus mis en ligne sur le Site.

					p Les seules obligations inhérentes à la qualité d'hébergeur de Yakwala portent sur (i) la lutte contre les contenus interdits selon la procédure décrite à la rubrique Contenus interdits, (ii) la conservation des données de connexion de l'utilisateur, par ailleurs couvertes par le secret professionnel et traitées dans le respect des dispositions légales en matière de Données personnelles et (iii) le retrait de tout Contenu manifestement illicite, dès lors que Yakwala en aura eu effectivement connaissance.

					p Vous reconnaissez que compte tenu des risques inhérents à l'Internet, Yakwala ne donne aucune garantie à l'utilisateur que le Contenu mis en ligne ne fait pas l'objet de détournement et/ou de piratage, ce dont Yakwala ne peut être tenue responsable. Il appartient à l'utilisateur de prendre toutes les mesures appropriées pour protéger ses Contenus.

					p Compte tenu du fait que l'utilisateur prend librement l'initiative de la mise en ligne des Contenus sur le Site et a expressément consenti à leur diffusion sur le Site, le site de partenaires de Yakwala et sur les interfaces électroniques de Yakwala ou de partenaires, Yakwala ne peut être tenue responsable de toute éventuelle atteinte aux droits d'auteur, au droit à l'image, à l'honneur, à la réputation et/ou à la vie privée de l'utilisateur du fait de la diffusion de Contenus concernant l'utilisateur.

					p Yakwala ne garantit en rien l’exactitude ou l'exhaustivité des Contenus mis en ligne qui sont écrits, divulgués et diffusés sous l’entière responsabilité des utilisateurs, et ce même si les Contenus portent atteinte à des droits de tiers.

					p Yakwala ne peut être tenue responsable des dommages, directs ou indirects, prétendument subis par l'utilisateur du fait de la mise en ligne des Contenus.

					h3 5. Responsabilité de l'utilisateur

					p L'utilisateur s'engage à ce que les Contenus mis en ligne sur le Site soient conformes à la réalité ou exprime un avis personnel.

					p La mise en ligne des Contenus par l'utilisateur engage ce dernier au respect des dispositions légales et réglementaires en vigueur. L'utilisateur s'engage à s'assurer que le stockage et la diffusion des Contenus sur le Site ne constitue pas (i) une violation des droits de propriété intellectuelle de tiers, (ii) une atteinte aux personnes (notamment diffamation, insultes, injures, etc.) et au respect de la vie privée et (iii) une atteinte à l'ordre public et aux bonnes mœurs (notamment, apologie des crimes contre l'humanité, incitation à la haine raciale, pornographie enfantine etc.).

					p A défaut, le Contenu sera retiré du Site dans les conditions visées au paragraphe 4 et/ou le compte de l'utilisateur désactivé sans formalité préalable. En outre, l'utilisateur reconnait qu'il risque, à titre personnel, des sanctions pénales spécifiques au contenu litigieux (peines d'emprisonnement et amende), outre la condamnation éventuelle au paiement de dommages et intérêts.

					p Compte tenu du caractère communautaire du Site et par respect pour les sensibilités de chacun, il appartient à l'utilisateur de conserver une certaine éthique quant aux Contenus mis en ligne et, notamment, de s'abstenir de diffuser tout Contenu à caractère violent ou pornographique.

					p A toutes fins utiles, à chaque Contenu est automatiquement associé un lien permettant aux autres utilisateurs de rapporter tout abus à Yakwala par l'envoi d'un message électronique à l'adresse suivante : contact@yakwala.fr

					h3 6. Inscription et Accès

					h4 6.1 Inscription

					p L'utilisation des fonctionnalités du Site par l'utilisateur est soumise à la création d'un compte au moyen du formulaire disponible en ligne sur le Site à partir de la rubrique Inscription.

					p L'utilisateur est libre de modifier, à tout moment, les Données personnelles le concernant et collectées au moment de son inscription au Site, selon la procédure décrite à la rubrique Données personnelles.

					p Une fois le formulaire d'inscription rempli et validé, l'utilisateur reçoit un message électronique contenant un lien sur lequel l'utilisateur est invité à cliquer afin de confirmer son inscription au Site et d'activer son compte.

					p A tout moment, l'utilisateur aura la faculté de se désinscrire immédiatement du Site en qualité de membre à partir de la rubrique du Site Effacer mon compte".

					h4 6.2 Accès

					p L'utilisateur choisit un identifiant et un mot de passe lui permettant d'accéder à son compte, dont il assure seul la confidentialité.

					p A compter de l'inscription au Site, l'utilisateur peut utiliser les fonctionnalités du site pendant une durée indéterminée.

					p Yakwala se réserve la possibilité de mettre fin à l'accès au compte de l'utilisateur, à tout moment moyennant un préavis raisonnable et en informera l'utilisateur par l'envoi d'un courrier électronique.

					p En cas de violation des dispositions des présentes CGU et/ou des lois et règlements en vigueur, Yakwala se réserve le droit de désactiver le compte de l'utilisateur et/ou de supprimer les Contenus de l'utilisateur, ou de rendre leur accès impossible, immédiatement et sans préavis, temporairement ou définitivement, et ce, sans préjudice de tous dommage et intérêts que Yakwala pourrait réclamés.

					h4 6.3 Capacité à accepter les CGU

					p Les enfants sous l'âge de 13 ans ne sont pas autorisés à s'inscrire sur le Site. Si vous avez moins de 13 ans, merci de ne pas utiliser ou accéder au site en aucune manière. Si vous êtes un parent ou le représentant légal d'un enfant de moins de 13 ans qui se serait enregistré sur le Site, merci de nous envoyer un message électronique avec les informations nécessaires permettant l'annulation de l'inscription de l'enfant, à l'adresse suivante : contact@yakwala.fr.

					p Dans ce message électronique, merci d'inclure votre nom complet et adresse, le nom complet et adresse de l'enfant, la nature de votre relation avec l'enfant, vos coordonnées téléphoniques en journée et en soirée, votre adresse électronique et une attestation signée indiquant que vous êtes un parent ou représentant légal de l'enfant. Yakwala se réserve le droit de rechercher des informations complémentaires afin de vérifier votre identité ainsi que la nature de votre relation avec l'enfant. Ces informations ne seront utilisées que dans le but de vérifier que vous êtes bien un parent ou un représentant légal de l'enfant.

					h3 7. Disponibilité du Site

					p Le Site est accessible 24/24h et 7/7j, sauf en cas d'interruption, programmée ou non, rendue nécessaire pour la maintenance du Site, du fait de notre fournisseur d'accès ou en cas de force majeure.

					p Yakwala ne sera pas tenue responsable de tout dommage causé à l'utilisateur, direct ou indirect, quelle qu'en soit la nature, résultant d'une indisponibilité, temporaire ou permanente, du Site.

					h3 8. Preuve, Conservation et Archivage

					p Yakwala conserve des registres informatisés dans ses systèmes dans le respect des règles de l'art en matière de sécurité et sur un support de nature à assurer le caractère fidèle et durable requis par les dispositions légales en vigueur.

					p Ces registres pourront être utilisés à titre de preuve des communications de courriers électroniques, envois de formulaire d'inscription, mis en ligne des Contenus et téléchargements des Contenus.

					p En cas de divergence entre les registres informatisés de Yakwala et les documents de l'utilisateur au format papier ou électronique, les registres de Yakwala prévaudront.

					h3 9. Indemnités

					p L'utilisateur s'engage à indemniser et de tenir à couvert Yakwala, ses filiales et affiliés, ainsi que leurs préposés, agents, partenaires et salariés, contre toute perte, responsabilité, réclamation ou revendication, y compris tous honoraires d’avocats raisonnables, par toute partie tierce, provoquée par ou résultant de votre utilisation du Site contrevenant aux dispositions des CGU et/ou résultant du non-respect quelconque des CGU et/ou du non-respect quelconque de vos déclarations et garanties définies ci-dessus et/ou si tout Contenu que vous publiez sur le Site rend Yakwala responsable envers d’autres personnes.

					h3 10. Loi applicable et attribution de juridiction

					p Compte tenu de la dimension internationale du réseau Internet, Yakwala vous rappelle qu'il faut vous conformer à toutes les règles impératives et d'ordre public applicables dans le pays où vous résidez. Les CGU sont soumises à la loi française. Tout désaccord ou litige qui ne se règle pas par la voie amiable relève de la compétence exclusive des Tribunaux de Paris, nonobstant pluralité de défendeurs, appel en garantie, procédure d'urgence, par référé ou par requête.

					h3 11. Dispositions diverses

					p Si une disposition quelconque des CGU devrait s'avérer illégale, invalide ou inapplicable pour quelque raison que ce soit, le terme ou les termes en question seraient déclarés inexistants et les termes restants garderaient toute leur force et leur portée et continueraient à être applicables. Les termes déclarés inexistants seront remplacées par un (des) termes qui se rapprocheront le plus quant à son Contenu de la clause annulée.

					h3 12. Contact

					p Pour toute question ou réclamation que vous souhaitez adresser à Yakwala, l'utilisateur peut envoyer un message électronique à l'adresse suivante : contact@yakwala.fr.fr ou un courrier à l'adresse du siège social de la société Yakwala indiquée à la rubrique Mentions légales du Site.
					***
					br
					br
					br

			div.span2				
	script
		$(document).ready(function() {
		
		}); // END READY

