extends ../layout

block content

	include ../mixins/docsMenu.jade
	
	mixin docsMenu('log')
	

	div.container-fluid
		div.row-fluid
			div.span2

						
			div.span8
				div.row-fluid
					div.content-header
						div.header-inner
							br
							h2 Release log
							p.subheader 
				hr
				div.row-fluid
					h3 v1.3
					h4 # 11 juin 2013
					p.subheader
						ul
							li Vous pouvez maintenant attacher une video Youtube, un son de SoundCloud ou des images de Flickr dans vos Yassalas !
							li Une meilleure expérience utilisateur sur les filtres alertes et Yassalas.
							li Une meilleure visualisation des profils utilisateurs et medias.
							li Une meilleure réactivité de l'info avec une parsing plus fréquent
							li Une meilleure interaction avec la possibilité de singaler les contenus illicites.
							li Ajout d'un fonctionnalité de blacklistage qui permet de ne plus voir une info ou toutes les infos d'un utilisateur.
							li Des tops en live et géolocalisés sont ajoutés dans la page du fil info.
				div.row-fluid
					h3 v1.2
					h4 # 10 avril 2013
					p.subheader
						ul
							li Amélioration des interactions sociales avec : creation de compte depuis Facebbok, Twitter et GooglePlus ( possibilité aussi de se loguer via ces medias et d'associer des comptes Yakwala avec ces medias)
							li Possibilité de signaler un contenu illicite.
							li Ajout d'une fonctionnalité d'affichage du profil utilisateur.
							li Optimisation de la recherche et de l'affichage des listes.
							li Analyse des logs utilisateur pour extraire les tags qui intéressent l'utilisateur. ( disponible dans Mon Profil Privé)
							li Yakwala utilise maintenant Memcached pour accélerer l'affichage de contenus !
							li Compression du code Javascript et CSS avec UGLIFY
							li Au niveau design, amélioration du mode Yassalas et Alertes.
							
				div.row-fluid
					h3 v1.1.2
					h4 # 20 mars 2013
					p.subheader
						ul
							li Nouveau design : amélioration de l'expérience utilisateur avec une meilleure barre de recherche et une navigation plus claire.
							li Meilleure gestion des écrans mobiles (responsive design).
							li Possibilité de créer un compte à partir de son compte Twitter et de rester loggué via son compte Twitter.
							li Externalisation des images sur une ferme Amazon S3 pour plus de rapidité d'affichage.
				div.row-fluid
					h3 v1.1.1
					h4 # 1er mars 2013
					p.subheader
						ul
							li Améliorations du design, responsive et debug sous Internet Explorer
							li Opendata : nous avons commencé à ouvrir nos données issues de l'opendata et enrichies. Pour l'instant voici <a href="http://batch.yakwala.fr/PROD/YAKREP/BATCH/output/export/MP2013.csv">un export quotidien des évènements Marseille-Provence 2013</a>.
				div.row-fluid
					h3 v1.1.0
					h4 # 22 février 2013
					p.subheader
						ul
							li Test d'une nouvelle barre de recherche avec entrée par tag : les types d'actus disparaissent au profit d'un drop down contenant les tags geolocalisés (vous ne verrez pas les tags hors de la carte) et temporalisés ( les hot tags uniquement )
							li Amélioration du responsive design (toujours in progress)
							li Améliorations du design
							li Améliorations de l'algo de géolocalisation
							li Ajout de la météo à Marseille ;)


					h3 v1.0.1
					h4 # 1er février 2013
					p.subheader
						ul
							li Ajout de données opendata en PACA ( <a target="_blank" href="http://data.visitprovence.com"> data.visitprovence.com </a>)  : restaurants, hôtels, loueurs de vélos
							li Ajout des données infos de Varmatin
							li Ajout de données infos sur la Belgique : RTBF et Sud Info
							li Ajout de données infos sur Paris : Le Parisien.
							li Ajout de données infos sur Paris de Twitter sur des comptes d'agence immobilières.
							li Amélioration design
							li Améliorations recherche

					h3 v1.0.0
					h4 # 15 janvier 2013
					p.subheader Première mise en ligne avec :
						ul 
							li Côté infos: jeu de données sur Marseille et la région Niçoise ( laprovence.fr et nicematin.fr )
							li Côté opendata:  un jeu opendata des commercants ayant signé la charte CCIMP et le programme Marseille Provence 2013

	script
		$(document).ready(function() {
		
		}); // END READY

