extends ../layout

block content

	include ../mixins/docsMenu.jade
	
	mixin docsMenu('opendata')
	

	div.container-fluid
		div.row-fluid
			div.span2

						
			div.span8
				div.row-fluid
					div.content-header
						div.header-inner
							br
							h2 Ressources opendata
							p.subheader 
				hr
				div.row-fluid
					h3 Yakwala utilise des données opendata et les remets à la disposition du public.
					p @todo
					
	script
		$(document).ready(function() {
		
		}); // END READY

