mixin feedForm()
	button.btn#btnBack(style='display:none')
		i.icon-chevron-left
	form#feedform.yakForm(action='/feed', method='POST', enctype='multipart/form-data', style='display:none')
		input#yakcatInput(type='hidden', name='yakcatInput', value='')
		input#yakcatNames(type='hidden', name='yakcatNames', value='')
		input#feedInput(type='hidden', name='feedInput', value='')
		input#latitude(type="hidden", name="latitude")
		input#longitude(type="hidden", name="longitude")
		input#update(type="hidden", name="update", value='0')
		input#objid(type="hidden", name="objid", value='0')
		input#hiddenOrigin(type="hidden", name="hiddenOrigin", value='0')

		legend Ajouter un flux
		div.control-group.error
				div.controls
					label.alert#err(type="text", id="err", name="err", style='display:none') Les champs en rouge sont obligatoires.
		div.control-group#titleGroup
			div.controls
				.col
					label Nom:
					input(type='text', name='humanName', id='humanName', placeholder='Le nom du flux')
				.col
					label Lien externe:
					input(type='text', name='link', id='link', placeholder='Lien vers la source de la donnée')
				.col	
					label Licence:
					input(type='text', name='licence', id='licence', placeholder='Licence')
				.col
					label Combien de temps l info restera sur le front ?
					div.input-append.dropdown.combobox#persistDays
						input(type='text', placeholder="Jours de persistence")
						button.btn(data-toggle="dropdown")
							i.caret
						ul.dropdown-menu
							li(data-value="1")
								a(href="") 1 jour
							li(data-value="2")
								a(href="") 2 jours
							li(data-value="3")
								a(href="") 3 jours
							li(data-value="7")
								a(href="") 1 semaine
							li(data-value="30")
								a(href="") 1 mois
							li(data-value="90")
								a(href="") 3 mois
							li(data-value="365")
								a(href="") 1 an
		
		div.control-group#dataGroup.clearBoth
			div.controls	
				.col
					label(for='category') Thèmes
					input#yakcat(type="text", data-provide="typeahead", name="yakcat", autocomplete="off", placeholder='Un ou plusieurs thèmes')
					.pillbox#pillYakcat(style="display:none")
						ul
				.col
					label Free Tags
					.input-append
						input#freetag(type="text", data-provide="typeahead", name="freetag", autocomplete="off", placeholder='Tags')
						button.btn#btn-freetag-adder(type="button") Ajouter	
					.pillbox#pillFreetag(style="display:none")
						ul						

		div.control-group#locationGroup.clearBoth
			.col
				label(for='Place') Localisation du flux
				.input-append
					input(type="text",data-provide="typeahead", id="place", name="place", autocomplete="off", placeholder="Chercher une ville, département, ou région")
			.col
				label Si l'info n'est pas géolocalisée...	
				div.select.btn-group#defaultPrintFlag(data-resize="auto")
					button.btn.dropdown-toggle(data-toggle="dropdown")
						span Si l'info n'est pas géolocalisée... 
						span.dropdown-label
						span.caret
					ul.dropdown-menu
						li(data-value="0")
							a(href="") ... ne pas l afficher sur la carte mais l afficher sur le fil info au point défini par défaut
						li(data-value="1")
							a(href="") ... l afficher sur la carte et le fil info au point défini par défaut
						li(data-value="3")
							a(href="") ... ne pas afficher l info du tout
						li(data-value="2")
							a(href="") ... placer l info au point défini par défaut sans chercher à la géolocaliser
		
		div.control-group#parsingGroup.clearBoth
			.col
				label Type de flux
				div.select.btn-group#feedType(data-resize="auto")
					button.btn.dropdown-toggle(data-toggle="dropdown")						
						span.dropdown-label Type de flux
						span.caret
					ul.dropdown-menu
						li(data-value="RSS")
							a(href="") RSS
						li(data-value="CSV")
							a(href="") CSV
						li(data-value="YAKMADE")
							a(href="") YAKMADE
			.col	
				label Source(s)
				.input-append	
					input(type='text', name='source', id='source', placeholder='source')
					button.btn#btn-place-adder(type="button") Ajouter
		
		div.control-group#parsingGroup.clearBoth
				label &nbsp;
				button.btn.btn-primary.btn-warning(type='button', name='parsing', id='parsing') Définir le parsing
		
					
					

		div.control-group#statusGroup.clearBoth
			.col
				div.select.btn-group#feedType(data-resize="auto")
					button.btn.dropdown-toggle(data-toggle="dropdown")						
						span.dropdown-label Type de flux
						span.caret
					ul.dropdown-menu
						li(data-value="1")
							a(href="") Actu
						li(data-value="2")
							a(href="") Agenda
						li(data-value="3")
							a(href="") Infos Pratiques
						li(data-value="4")
							a(href="") Discussion
			.col
				label.radio.inline Actif
					input#option1(type="radio", name="status", value="1")
				label.radio.inline Inactif
					input#option4(type="radio", name="status", value="0")
							
		div.control-group
			div.controls
				button.btn.btn-large.btn-inverse(type='submit', name='submit', id='submit', value='Enregistrer') Enregistrer

			
	script

		$(document).ready(function() {
			$('#btn-freetag-adder').on('click',function(event){
				event.preventDefault();
				alert('e');
				//$("#pillFreetag ul").append("<li class='freetag-val' data-value='null'>"+$('#freetag').val()+"</li>");
				//$('#freetag').val('').focus();
				//return false;
			});	
			$('#yakcat').typeahead({
				minLength : 3,
				source: function (typeahead, query) {
					$.ajax({
							dataType: "json",
							url: "/api/cats",				
							success: function( ajax ) {
								typeahead.process(ajax.data.cats);
							}
						})},
				property: "title",
				onselect: function(obj) { 
					$("#pillYakcat ul").append("<li class='yakcat-val' data-value='"+obj._id+"'>"+obj.title+"</li>");
				}
			});
			/*
			$('#freetag').typeahead({
				minLength : 3,
				source: function (typeahead, query) {
					$.ajax({
							dataType: "json",
							url: "/api/tags",				
							success: function( ajax ) {
								typeahead.process(ajax.data.tags);
							}
						})},
				property: "title",
				onselect: function(obj) { 
					$("#pillFreetag ul").append("<li class='freetag-val' data-value='"+obj._id+"'>"+obj.title+"</li>");
				}
			});*/

			/*// bind 'myForm' and provide a simple callback function
			$('#feedForm').ajaxForm(function() {
				$("#MyGrid").fadeIn();
				$("#feedForm").hide();
				$("#btnBack").hide();
				google.maps.event.removeListener(listenerHandle);
				markerLocation.setVisible(false);
				refreshDatagrid();
			});*/


		});