mixin feedForm()
	button.btn#btnBack(style='display:none')
		i.icon-chevron-left
	form#feedform.yakForm(action='/feed', method='POST', enctype='multipart/form-data', style='display:none')
		input#yakcatInput(type='hidden', name='yakcatInput', value='')
		input#yakcatNames(type='hidden', name='yakcatNames', value='')
		input#feedInput(type='hidden', name='feedInput', value='')
		input#latitude(type="hidden",data-provide="typeahead", name="latitude")
		input#longitude(type="hidden",data-provide="typeahead", name="longitude")
		input#update(type="hidden",data-provide="typeahead", name="update", value='0')
		input#objid(type="hidden",data-provide="typeahead", name="objid", value='0')
		input#hiddenOrigin(type="hidden",data-provide="typeahead", name="hiddenOrigin", value='0')

		legend Ajouter un flux
		div.control-group.error
				div.controls
					label.alert#err(type="text", id="err", name="err", style='display:none') Les champs en rouge sont obligatoires.
		div.control-group#titleGroup
			div.controls
				.col
					label Nom:
					input(type='text', name='humanName', id='humanName', placeholder='Le nom du flux')
				.col
					label Lien externe:
					input(type='text', name='link', id='link', placeholder='Lien vers la source de la donnée')
				.col	
					label Licence:
					input(type='text', name='licence', id='licence', placeholder='Licence')
				.col
					label A quelle fréquense le flux doit-il être rafraichi ?
					div.select.btn-group#freqMAJ(data-resize="auto")
						button.btn.dropdown-toggle(data-toggle="dropdown")
							span.dropdown-label Fréquense de mise à jour
							span.caret
						ul.dropdown-menu
							li(data-value="1")
								a(href="") Quotidienne
							li(data-value="2")
								a(href="") Hebdo
							li(data-value="3")
								a(href="") Mensuelle
							li(data-value="4")
								a(href="") Annuelle
		
		div.control-group#dataGroup.clearBoth
			div.controls	
				.col
					label(for='category') Thèmes
					input(type="text", data-provide="typeahead", id="yakcat", name="yakcat", autocomplete="off", placeholder='Un ou plusieurs thèmes')
					.pillbox#pillYakcat(style="display:none")
						ul
				.col
					label Free Tags
					input#freetag(type="text", data-provide="typeahead", name="freetag",placeholder='Free tags séparés par des virgules')	
										

		div.control-group#locationGroup.clearBoth
			.col
				label(for='Place') Localisation du flux
				.input-append
					input(type="text",data-provide="typeahead", id="place", name="place", autocomplete="on", placeholder="Chercher une ville, département, ou région")
			.col
				label Si l'info n'est pas géolocalisée...	
				div.select.btn-group#defaultPrintFlag(data-resize="auto")
					button.btn.dropdown-toggle(data-toggle="dropdown")
						span Si l'info n'est pas géolocalisée... 
						span.dropdown-label
						span.caret
					ul.dropdown-menu
						li(data-value="0")
							a(href="") "... ne pas l'afficher sur la carte mais l'afficher sur le fil info au point défini par défaut"
						li(data-value="1")
							a(href="") "... l'afficher sur la carte et le fil info au point défini par défaut"
						li(data-value="3")
							a(href="") "... ne pas afficher l'info du tout"
						li(data-value="2")
							a(href="") "... placer l'info au point défini par défaut sans chercher à la géolocaliser" 
		
		div.control-group#parsingGroup.clearBoth
			.col
				label Type de flux
				div.select.btn-group#yakType(data-resize="auto")
					button.btn.dropdown-toggle(data-toggle="dropdown")						
						span.dropdown-label Type de flux
						span.caret
					ul.dropdown-menu
						li(data-value="RSS")
							a(href="") RSS
						li(data-value="CSV")
							a(href="") CSV
						li(data-value="YAKMADE")
							a(href="") YAKMADE
			.col	
				label Source(s)
				.input-append	
					input(type='text', name='source', id='source', placeholder='source')
					button.btn#btn-place-adder(type="button") Ajouter
			.col
				label &nbsp;
				button.btn.btn-primary.btn-warning(type='button', name='parsing', id='parsing') Définir le parsing
		
					
					

		div.control-group#statusGroup.clearBoth
			div.controls
				label.radio.inline Actif
					input#option1(type="radio", name="status", value="1")
				label.radio.inline Inactif
					input#option4(type="radio", name="status", value="0")
							
		div.control-group
			div.controls
				button.btn.btn-large.btn-inverse(type='submit', name='submit', id='submit', value='Enregistrer') Enregistrer


script

	$(document).ready(function() {
		// bind 'myForm' and provide a simple callback function
		$('#feedForm').ajaxForm(function() {
			$("#MyGrid").fadeIn();
			$("#feedForm").hide();
			$("#btnBack").hide();
			google.maps.event.removeListener(listenerHandle);
			markerLocation.setVisible(false);
			refreshDatagrid();
		});
	});