mixin feedForm()
	button.btn#btnBack(style='display:none')
		i.icon-chevron-left
	form#feedform.yakForm(action='/feed', method='POST', enctype='multipart/form-data', style='display:none')
		input#yakCatIdsHidden(type='hidden', name='yakCatIdsHidden', value='')
		input#yakCatNamesHidden(type='hidden', name='yakCatNamesHidden', value='')
		input#tagsHidden(type='hidden', name='tagsHidden', value='')
		input#linkSource(type='hidden', name='linkSource', value='')
		input#fileSource(type='hidden', name='fileSource', value='')
		input#address(type='hidden', name='address', value='')
		input#latitude(type="hidden", name="latitude")
		input#longitude(type="hidden", name="longitude")
		input#update(type="hidden", name="update", value='0')
		input#objid(type="hidden", name="objid", value='0')
		

		legend.mainlegend Ajouter un flux
		div.control-group.error
				div.controls
					label.alert#err(type="text", id="err", name="err", style='display:none') Les champs en rouge sont obligatoires.
		div.control-group#titleGroup
			div.controls
				.col
					label Nom:
					input(type='text', name='humanName', id='humanName', placeholder='Le nom du flux')
				.col
					label Lien externe:
					input(type='text', name='link', id='link', placeholder='Lien vers la source de la donnée')
				.col	
					label Licence:
					input(type='text', name='licence', id='licence', placeholder='Licence')
				.col
					label Combien de jours l info restera sur le front ?
					div.input-append.dropdown.combobox#persistDays
						input(type='text', placeholder="Jours de persistence", name="persistDays")
						button.btn(data-toggle="dropdown")
							i.caret
						ul.dropdown-menu
							li(data-value="1")
								a(href="") 1
							li(data-value="2")
								a(href="") 2
							li(data-value="3")
								a(href="") 3
							li(data-value="7")
								a(href="") 7
							li(data-value="30")
								a(href="") 30
							li(data-value="90")
								a(href="") 90
							li(data-value="365")
								a(href="") 365
		
		legend Metadata:		
		div.control-group#statusGroup.clearBoth
			.col
				label.radio.inline Actu
					input(type="radio", name="yakType", value="1")
				label.radio.inline Agenda
					input(type="radio", name="yakType", value="2")
				label.radio.inline Info pratiques
					input(type="radio", name="yakType", value="3")
			
		div.control-group#dataGroup.clearBoth
			div.controls	
				.col
					label(for='category') Catégories
					input#yakcat(type="text", data-provide="typeahead", name="yakcat", autocomplete="off", placeholder='Chercher une catégorie...')
					.pillbox#pillYakcat(style="display:none")
						ul
				.col
					label Tags
					.input-append
						input#freetag(type="text", data-provide="typeahead", name="freetag", autocomplete="off", placeholder='Entrer un tag...')
						button.btn#btn-freetag-adder(type="button") Ajouter	
					.pillbox#pillFreetag(style="display:none")
						ul						
			br
			br		

			
		legend Localisation:						
		div.control-group#locationGroup.clearBoth
			div.controls.clearBoth	
				.col
					label(for='defaultPlaceName') Localisation du flux:
					.input-append
						input(type="text",data-provide="typeahead", id="defaultPlaceName", name="defaultPlaceName", autocomplete="off", placeholder="Chercher...")
				.col
					label Si l'info n'est pas géolocalisée...	
					select.big#defaultPrintFlag
						option(value="0") ... ne pas afficher sur la carte mais afficher sur le fil info
						option(value="1") ... afficher sur la carte + fil info
						option(value="3") ... ne pas afficher l info du tout
						option(value="2") ... ne pas faire de géoloc et la placer au point par défaut
			div.controls.clearBoth	
				label(for='defaultPlaceSearchName') Texte de recherche sur Google Map:
				input(type="text", id="defaultPlaceSearchName", name="defaultPlaceSearchName", autocomplete="off", placeholder="Texte de recherche sur google map.")
			br
			br
			br			
		legend Sources
		div.control-group#locationGroup.clearBoth	
			div.controls.clearBoth		
				.col					
					label Uploader un fichier : 
					input(type="file", id="fileupload", name="files[]", data-url="http://localhost:"+JSON.parse(conf).fileport, multiple)
					div#progress
						div.bar.alert.alert-success(style="width: 0%;")
							span.alertText 0%
					.pillbox#pillSourceFile(style="display:none")
						ul
				.col
					label Source(s) web
					.input-append	
						input.big(type='text', name='source', id='source', placeholder='http://...')
						button.btn#btn-source-adder(type="button") Ajouter
					.pillbox#pillSourceLink(style="display:none")
						ul	

		br
		br			
		legend Parsing:
		div.control-group#parsingGroup.clearBoth
			div.controls.clearBoth
				.col
					label Type de flux : 
					select#feedType(name='feedType')
						option(value="RSS") RSS
						option(value="CSV") CSV
						option(value="YAKMADE") YAKMADE
					div#alertFeedType.alert.alert-info
						button.close(type="button", data-dismiss="alert") x
						span.alertText
				.col
					label &nbsp;
					button.btn.btn-primary.btn-warning(type='button', name='parsing', id='parsing') Définir le parsing

		div.control-group#parsingGroup.clearBoth
				
		legend Désactiver
		div.control-group
			div.controls
				label.radio.inline Actif
					input(type="radio", name="status", value="1", checked)
				label.radio.inline Inactif
					input(type="radio", name="status", value="0")	
						
		br				
		div.control-group
			div.controls
				button.btn.btn-large.btn-inverse(type='submit', name='submit', id='submit', value='Enregistrer') Enregistrer
			br
			br
			br		
		div#parsingModal.modal.hide.fade.big
			div.modal-header
				button.big(type="button", class="close", data-dismiss="modal", aria-hidden="true") X
				h3(id="myModalLabel") Définir le modèle de parsing:
			div.modal-body
				div#alertInfo.alert.alert-info
					button.close(type="button", data-dismiss="alert") x
					span.alertText
				div.control-group#titleGroup
					div.controls
						label Titre de l info:
						input(type='text', name='infoTitle', id='infoTitle', placeholder="Titre")
						label Corps de l info:
						input(type='text', name='infoContent', id='infoContent', placeholder="Corps")
						label Adresse:
						input(type='text', name='infoAddress', id='infoAddress', placeholder="Adresse")
						label Latitude:
						input(type='text', name='infoLatitude', id='infoLatitude', placeholder="Latitude")
						label Longitude:
						input(type='text', name='infoLongitude', id='infoLongitude', placeholder="Longitude")
						label Lien web vers l info:
						input(type='text', name='infoLink', id='infoLink', placeholder="Lien web vers l'info")
						label Imagette:
						input(type='text', name='infoThumb', id='infoThumb', placeholder="Imagette")
						label Catégories Yakwala:
						input(type='text', name='infoCat', id='infoCat', placeholder="Catégories Yakwala")
						label Tags:
						input(type='text', name='infoTag', id='infoTag', placeholder="Tags")
						label Lieu:
						input(type='text', name='infoPlace', id='infoPlace', placeholder="Le lieu")
						label Date de l évènement:
						input(type='text', name='infoEventDate', id='infoEventDate', placeholder="Date de l'évènement")
						label Date de publication:
						input(type='text', name='infoPubDate', id='infoPubDate', placeholder="Date de publication")
						label Téléphone:
						input(type='text', name='infoTel', id='infoTel', placeholder="Téléphone")
						label Moyen de transports:
						input(type='text', name='infoTransportation', id='infoTransportation', placeholder="Moyens de transports")
						label Heures d ouverture:
						input(type='text', name='infoOpening', id='infoOpening', placeholder="Heures d'ouverture")
						label Site web:
						input(type='text', name='infoWeb', id='infoWeb', placeholder="Site web")
						label Mail:
						input(type='text', name='infoMail', id='infoMail', placeholder="Mail")
			div.modal-footer
				button.btn.btn-primary.btn-warning(type="button", data-dismiss="modal", aria-hidden="true") OK

	

	
	script

		var yakCatIds = new Array();
		var yakCatNames = new Array();
		var freeTags = new Array();
		var linkSource = new Array();
		var fileSource = new Array();

		$(document).ready(function() {

			

			$('#alertFeedType').hide();
			$('#feedType').on('change',function(){
				if($(this).val()=='CSV'){
					$('#alertFeedType').show().children('span.alertText').html('Le fichier doit être sauvé en UTF8, séparation point virgule et textes délimités par des guillemets doubles. ');
				}else
					$('#alertFeedType').hide();
			});

			$('#fileupload').fileupload({
				dataType: 'json',
				done: function (e, data) {
					$.each(data.result.files, function (index, file) {		
						if(typeof file.error != 'undefined' && file.error != '' ){
							$('#progress .bar span.alertText').html(file.error);
							return;
						}else{
							$("#pillSourceFile").show();
							$("#pillSourceFile ul").append("<li class='source-val status-success' data-value='"+file.name+"'>"+file.name+"</li>");
							fileSource.push(file.name);
							$("#fileSource").val(fileSource.join(','));
							if(file.name.split('.').pop().toLowerCase() == 'csv'){
								$('#feedType').val('CSV');
							}
						}
					});
				},
				progressall: function (e, data) {
					var progress = parseInt(data.loaded / data.total * 100, 10);
					$('#progress .bar').css('width',(progress-20) + '%');
					$('#progress .bar span.alertText').html(progress+'%');
				}
			});

			$('#fileupload').click(function(){
				$('#progress .bar').css('width','0%');
				$('#progress .bar span.alertText').html('0%');
	
			});
			

			$("#pillSourceFile ul").unbind('click').on('click','li',function(){
				fileSource.cleanArrayByName($(this).attr('data-value'));
				$('#fileSource').val(fileSource.join(','));
			});

			$('#parsing').unbind('click').click(function(){
				$('#parsingModal .modal-body span.alertText').html('');
				$('#parsingModal').modal('show');
			});

			

			$('#yakcat').typeahead({
				minLength : 3,
				source: function (typeahead, query) {
					$.ajax({
							dataType: "json",
							url: "/api/cats",				
							success: function( ajax ) {
								typeahead.process(ajax.data.cats);
							}
						})},
				property: "title",
				onselect: function(obj) { 
					$("#pillYakcat ul").append("<li class='yakcat-val status-important' data-id='"+obj._id+"' data-title='"+obj.title+"' >"+obj.title+"</li>");
					$('#yakcat').val('').focus();
					yakCatIds.push(obj._id);
					yakCatNames.push(obj.title);
					$('#yakCatIdsHidden').val(yakCatIds.join(','));
					$('#yakCatNamesHidden').val(yakCatNames.join(','));
				}
			});

			$("#pillYakcat ul").unbind('click').on('click','li',function(){
				yakCatIds.cleanArrayByName($(this).attr('data-id'));
				yakCatNames.cleanArrayByName($(this).attr('data-title'));
				$('#yakCatIdsHidden').val(yakCatIds.join(','));
				$('#yakCatNamesHidden').val(yakCatNames.join(','));
			});
			
			
			$('#btn-freetag-adder').unbind('click').on('click',function(event){
				event.preventDefault();
				$("#pillFreetag ul").append("<li class='freetag-val' data-value='"+$('#freetag').val()+"'>"+$('#freetag').val()+"</li>");
				freeTags.push($('#freetag').val());
				$('#tagsHidden').val(freeTags.join(','));
				$('#freetag').val('').focus();
				return false;
			});	

			$('#freetag').typeahead({
				minLength : 3,
				source: function (typeahead, query) {
					$.ajax({
							dataType: "json",
							url: "/api/yakNE",				
							success: function( ajax ) {
								typeahead.process(ajax.data.yakne);
							}
						})},
				property: "title",
				onselect: function(obj) { 
					$("#pillFreetag ul").append("<li class='freetag-val status-info' data-value='"+obj.title+"'>"+obj.title+"</li>");
					$('#freetag').val('').focus();
					freeTags.push(obj.title);
					$('#tagsHidden').val(freeTags.join(','));
				}
			});

			$("#pillFreetag ul").unbind('click').on('click','li',function(){
				freeTags.cleanArrayByName($(this).attr('data-value'));
				$('#tagsHidden').val(freeTags.join(','));
			});


			$('#btn-source-adder').unbind('click').on('click',function(){
				$("#pillSourceLink").show();
				$("#pillSourceLink ul").append("<li class='source-val status-warning' data-value='"+$('#source').val()+"'>"+$('#source').val()+"</li>");
				$('#pillSourceLink').val('').focus();
				linkSource.push($('#source').val());
				$("#linkSource").val(linkSource.join(','));
							
			});

			$("#pillSourceLink ul").unbind('click').on('click','li',function(){
				linkSource.cleanArrayByName($(this).attr('data-value'));
				$('#linkSource').val(linkSource.join(','));
			});
			

			/*Place autocomplete*/
			var input = document.getElementById('defaultPlaceName');
			//$('#defaultPlaceName').on('focus',function(){$(this).val('');});
			var autocomplete = new google.maps.places.Autocomplete(input);
			autocomplete.bindTo('bounds', map);
			google.maps.event.addListener(autocomplete, 'place_changed', function() {
				var place = autocomplete.getPlace();				
				if (!place.geometry) {
					return;
				}
				
				var formattedPlace = getPlaceFromGmapResult(place);
				$('#defaultPlaceSearchName').val(formattedPlace.address.state+', '+formattedPlace.address.area);				
				map.setCenter(place.geometry.location);
				$("#feedform #longitude").val(place.geometry.location.Za);
				$("#feedform #latitude").val(place.geometry.location.Ya);
				$("#feedform #address").val(place.formatted_address);
					
				markerLocation.setPosition(place.geometry.location);
				markerLocation.setVisible(true);
			});


			$('#feedForm').ajaxForm(function() {
				$("#MyGrid").fadeIn();
				$("#feedForm").hide();
				$("#btnBack").hide();
				google.maps.event.removeListener(listenerHandle);
				markerLocation.setVisible(false);
				refreshDatagrid();
			});


		});