mixin feedForm()
	button.btn#btnBack(style='display:none')
		i.icon-chevron-left
	form#feedform.yakForm(action='/feed', method='POST', enctype='multipart/form-data', style='display:none')
		input#yakcatInput(type='hidden', name='yakcatInput', value='')
		input#yakcatNames(type='hidden', name='yakcatNames', value='')
		input#address(type='hidden', name='address', value='')
		input#latitude(type="hidden", name="latitude")
		input#longitude(type="hidden", name="longitude")
		input#update(type="hidden", name="update", value='0')
		input#objid(type="hidden", name="objid", value='0')
		

		legend.mainlegend Ajouter un flux
		div.control-group.error
				div.controls
					label.alert#err(type="text", id="err", name="err", style='display:none') Les champs en rouge sont obligatoires.
		div.control-group#titleGroup
			div.controls
				.col
					label Nom:
					input(type='text', name='humanName', id='humanName', placeholder='Le nom du flux')
				.col
					label Lien externe:
					input(type='text', name='link', id='link', placeholder='Lien vers la source de la donnée')
				.col	
					label Licence:
					input(type='text', name='licence', id='licence', placeholder='Licence')
				.col
					label Combien de jours l info restera sur le front ?
					div.input-append.dropdown.combobox#persistDays
						input(type='text', placeholder="Jours de persistence")
						button.btn(data-toggle="dropdown")
							i.caret
						ul.dropdown-menu
							li(data-value="1")
								a(href="") 1
							li(data-value="2")
								a(href="") 2
							li(data-value="3")
								a(href="") 3
							li(data-value="7")
								a(href="") 7
							li(data-value="30")
								a(href="") 30
							li(data-value="90")
								a(href="") 90
							li(data-value="365")
								a(href="") 365
		
		legend Metadata:		
		div.control-group#statusGroup.clearBoth
			.col
				label.radio.inline Actu
					input(type="radio", name="yakType", value="1")
				label.radio.inline Agenda
					input(type="radio", name="yakType", value="2")
				label.radio.inline Info pratiques
					input(type="radio", name="yakType", value="3")
			
		div.control-group#dataGroup.clearBoth
			div.controls	
				.col
					label(for='category') Catégories
					input#yakcat(type="text", data-provide="typeahead", name="yakcat", autocomplete="off", placeholder='Chercher une catégorie...')
					.pillbox#pillYakcat(style="display:none")
						ul
				.col
					label Tags
					.input-append
						input#freetag(type="text", data-provide="typeahead", name="freetag", autocomplete="off", placeholder='Entrer un tag...')
						button.btn#btn-freetag-adder(type="button") Ajouter	
					.pillbox#pillFreetag(style="display:none")
						ul						
		

			
		legend Localisation:						
		div.control-group#locationGroup.clearBoth
			.col
				label(for='Place') Localisation du flux
				.input-append
					input(type="text",data-provide="typeahead", id="place", name="place", autocomplete="off", placeholder="Chercher une ville, département, ou région")
			.col
				label Si l'info n'est pas géolocalisée...	
				select.big#defaultPrintFlag
					option(value="0") ... ne pas afficher sur la carte mais afficher sur le fil info
					option(value="1") ... afficher sur la carte + fil info
					option(value="3") ... ne pas afficher l info du tout
					option(value="2") ... ne pas faire de géoloc et la placer au point par défaut
		
		legend Sources
		div.controls.clearBoth		
			.col					
				label Uploader un fichier : 
				input(type="file", id="fileupload", name="files[]", data-url="http://localhost:8888", multiple)
				div#progress
					div.bar(style="width: 0%;")
			.col
				label Source(s) web
				.input-append	
					input.big(type='text', name='source', id='source', placeholder='http://...')
					button.btn#btn-source-adder(type="button") Ajouter
		div.controls.clearBoth			
			.pillbox#pillSource(style="display:none")
				ul	
		br
		br			
		legend Parsing:
		div.control-group#parsingGroup.clearBoth
			div.controls.clearBoth
				.col
					label Type de flux : 
					select#feedType
						option(value="RSS") RSS
						option(value="CSV") CSV
						option(value="YAKMADE") YAKMADE
				.col
					label &nbsp;
					button.btn.btn-primary.btn-warning(type='button', name='parsing', id='parsing') Définir le parsing

		div.control-group#parsingGroup.clearBoth
				
		legend Désactiver
		div.control-group
			div.controls
				label.radio.inline Actif
					input(type="radio", name="status", value="1")
				label.radio.inline Inactif
					input(type="radio", name="status", value="0")	
						
							
		div.control-group
			div.controls
				button.btn.btn-large.btn-inverse(type='submit', name='submit', id='submit', value='Enregistrer') Enregistrer

		div#parsingModal.modal.hide.fade.big
			div.modal-header
				button.big(type="button", class="close", data-dismiss="modal", aria-hidden="true") X
				h3(id="myModalLabel") Définir le modèle de parsing:
			div.modal-body
				div#alertInfo.alert.alert-info
					button.close(type="button", data-dismiss="alert") x
					span.alertText
				div.control-group#titleGroup
					div.controls
						label Titre de l info:
						input(type='text', name='infoTitle', id='infoTitle', placeholder="Titre")
						label Corps de l info:
						input(type='text', name='infoContent', id='infoContent', placeholder="Corps")
						label Adresse:
						input(type='text', name='infoAddress', id='infoAddress', placeholder="Adresse")
						label Latitude:
						input(type='text', name='infoLatitude', id='infoLatitude', placeholder="Latitude")
						label Longitude:
						input(type='text', name='infoLongitude', id='infoLongitude', placeholder="Longitude")
						label Lien web vers l info:
						input(type='text', name='infoLink', id='infoLink', placeholder="Lien web vers l'info")
						label Imagette:
						input(type='text', name='infoThumb', id='infoThumb', placeholder="Imagette")
						label Catégories Yakwala:
						input(type='text', name='infoCat', id='infoCat', placeholder="Catégories Yakwala")
						label Tags:
						input(type='text', name='infoTag', id='infoTag', placeholder="Tags")
						label Lieu:
						input(type='text', name='infoPlace', id='infoPlace', placeholder="Le lieu")
						label Date de l évènement:
						input(type='text', name='infoEventDate', id='infoEventDate', placeholder="Date de l'évènement")
						label Date de publication:
						input(type='text', name='infoPubDate', id='infoPubDate', placeholder="Date de publication")
						label Téléphone:
						input(type='text', name='infoTel', id='infoTel', placeholder="Téléphone")
						label Moyen de transports:
						input(type='text', name='infoTransportation', id='infoTransportation', placeholder="Moyens de transports")
						label Heures d ouverture:
						input(type='text', name='infoOpening', id='infoOpening', placeholder="Heures d'ouverture")
						label Site web:
						input(type='text', name='infoWeb', id='infoWeb', placeholder="Site web")
						label Mail:
						input(type='text', name='infoMail', id='infoMail', placeholder="Mail")
			div.modal-footer
				button.btn.btn-primary.btn-warning(type="button", data-dismiss="modal", aria-hidden="true") OK

	

	
	script

		$(document).ready(function() {

			$('#fileupload').fileupload({
				dataType: 'json',
				done: function (e, data) {
					$.each(data.result.files, function (index, file) {
						$("#pillSource").show();
						$("#pillSource ul").append("<li class='source-val status-success' data-value='"+file.name+"'>"+file.name+"</li>");						
					});
				},
				progressall: function (e, data) {
					var progress = parseInt(data.loaded / data.total * 100, 10);
					$('#progress .bar').css('width',progress + '%');
					$('#progress .bar').html(progress+'%');
				}
			});
			

			$('#parsing').unbind('click').click(function(){
				$('#parsingModal .modal-body span.alertText').html('');
				$('#parsingModal').modal('show');
			});

			$('#btn-freetag-adder').on('click',function(event){
				event.preventDefault();
				$("#pillFreetag ul").append("<li class='freetag-val' data-value='null'>"+$('#freetag').val()+"</li>");
				$('#freetag').val('').focus();
				return false;
			});	

			$('#yakcat').typeahead({
				minLength : 3,
				source: function (typeahead, query) {
					$.ajax({
							dataType: "json",
							url: "/api/cats",				
							success: function( ajax ) {
								typeahead.process(ajax.data.cats);
							}
						})},
				property: "title",
				onselect: function(obj) { 
					$("#pillYakcat ul").append("<li class='yakcat-val status-important' data-value='"+obj._id+"'>"+obj.title+"</li>");
					$('#yakcat').val('').focus();
				}
			});

			
			$('#freetag').typeahead({
				minLength : 3,
				source: function (typeahead, query) {
					$.ajax({
							dataType: "json",
							url: "/api/tags",				
							success: function( ajax ) {
								typeahead.process(ajax.data.tags);
							}
						})},
				property: "title",
				onselect: function(obj) { 
					$("#pillFreetag ul").append("<li class='freetag-val status-info' data-value='"+obj._id+"'>"+obj.title+"</li>");
					$('#freetag').val('').focus();
				}
			});

			$('#btn-source-adder').unbind('click').on('click',function(){
				$("#pillSource").show();
				$("#pillSource ul").append("<li class='source-val status-warning' data-value='"+$('#source').val()+"'>"+$('#source').val()+"</li>");
				$('#pillSource').val('').focus();
			});

			

			/*Place autocomplete*/

			var input = document.getElementById('place');
			$('#place').on('focus',function(){$(this).val('');});
			var autocomplete = new google.maps.places.Autocomplete(input);
			autocomplete.bindTo('bounds', map);
			google.maps.event.addListener(autocomplete, 'place_changed', function() {
				infowindow.close();
				$('#placeForm #btn-place-adder').click();
				var place = autocomplete.getPlace();
				if (!place.geometry) {
					// Inform the user that the place was not found and return.
					input.className = 'notfound';
					return;
				}

				// If the place has a geometry, then present it on a map.
				if (place.geometry.viewport) {
					map.fitBounds(place.geometry.viewport);
				} else {
					map.setCenter(place.geometry.location);
					map.setZoom(17);  // Why 17? Because it looks good.					
					$("#feedform #longitude").val(place.geometry.location.Za);
					$("#feedform #latitude").val(place.geometry.location.Ya);
					$("#feedform #address").val(place.formatted_address);
					
				}
				markerLocation.setPosition(place.geometry.location);

			});


			/*// bind 'myForm' and provide a simple callback function
			$('#feedForm').ajaxForm(function() {
				$("#MyGrid").fadeIn();
				$("#feedForm").hide();
				$("#btnBack").hide();
				google.maps.event.removeListener(listenerHandle);
				markerLocation.setVisible(false);
				refreshDatagrid();
			});*/


		});