mixin infoForm()
	button.btn#btnBack(style='display:none')
		i.icon-chevron-left
	form#infoForm.yakForm(action='/info', method='POST', enctype='multipart/form-data', style='display:none')
		input#yakCatIdsHidden(type='hidden', name='yakCatIdsHidden', value='')
		input#yakCatNamesHidden(type='hidden', name='yakCatNamesHidden', value='')
		input#tagsHidden(type='hidden', name='tagsHidden', value='')
		input#placeInput(type='hidden', name='placeInput', value='')
		input#objid(type="hidden", name="objid", value='0')
		input#placeid(type="hidden", name="placeid", value='0')
		input#placematchedid(type="hidden", name="placeid", value='0')
		input#zoneName(type="hidden", name="zoneName", value='')
		input#thumbHidden(type="hidden", name="thumbHidden", value='')
		input#status(type="hidden", name="status", value='')


		div.control-group.error
				div.controls
					label.alert#err(type="text", id="err", name="err", style='display:none') Les champs en rouge sont obligatoires.
		
		legend.mainlegend Ajouter une info
		
		div.row-fluid
			legend Infos générales:
			div.control-group#titleGroup
				div.controls
					div.row-fluid
						.span6 
							label Titre*: 
								i.icon-question-sign#titleHelp
							input(type='text', name='title', id='title', placeholder="Le titre de l'info",autocomplete="off")
						.span6
							label Imagette:
								i.icon-question-sign#imagetteHelp
							span#picturePreview
								img.img-rounded(style='width:100px;display:none;')
							input.span6#picture(type="file",style="display:block",name="picture")
							br
							label Inclure dans le corps de l info
								input#thumbFlag(type="checkbox",name="thumbFlag",style="margin:5px;")
							
							
					div.row-fluid
						.span12
							label Text:
								i.icon-question-sign#contentHelp
							textarea#content.span12(name='content', placeholder='Contenu',rows='5')
					div.row-fluid
						.span6
							label Licence*:
								i.icon-question-sign#licenceHelp
							input(type='text', name='licence', id='licence', placeholder='Licence')
						.span6
							label Lien externe*:
								i.icon-question-sign#outGoingLinkHelp
								i.icon-share-alt#outGoingLinkIcon
							input(type='text', name='outGoingLink', id='outGoingLink', placeholder='Lien vers la news',autocomplete="off")
					div.row-fluid
						.span6
							label Origine*:
								i.icon-question-sign#originHelp
							input(type='text', name='origin', id='origin', placeholder='Origine',autocomplete="off")
		div.row-fluid
			legend Metadata:		
			div.control-group#yakType.row-fluid
				.span6
					label Type info*:
						i.icon-question-sign#yakTypeHelp
					label.radio.inline Actu
						input(type="radio", name="yakType", value="1")
					label.radio.inline Agenda
						input(type="radio", name="yakType", value="2")
					label.radio.inline Yassala
						input(type="radio", name="yakType", value="4")

		div.control-group
			div.controls.row-fluid			
				.span6
					div.control-group#dateController
						label(for='pubDate') Date de publication:
							div.controls
								input#pubDatePicker.span6(type="text",name="pubDate", autocomplete="off", placeholder='Du...')
								i.icon-question-sign#pubDateHelp
								input#dateEndPrintPicker.span6(type="text",name="dateEndPrint", autocomplete="off", placeholder='Au...')	
								i.icon-question-sign#dateEndPrintHelp
				.span6
					div.control-group#eventDateController
						label(for='eventDate') Date de l événement :
							div.controls
								input#eventDateFrom.span6(type="text",name="eventDateFrom", autocomplete="off", placeholder='Du...')
								i.icon-question-sign#eventDateFromHelp
								input#eventDateEnd.span6(type="text",name="eventDateEnd", autocomplete="off", placeholder='Au...')
								i.icon-question-sign#eventDateEndHelp

			div.control-group
				div.controls.row-fluid
					.span6
						label(for='category') Catégories
							i.icon-question-sign#yakcatHelp
						input#yakcat(type="text", data-provide="typeahead", name="yakcat", autocomplete="off", placeholder='Chercher une catégorie...')
						.pillbox#pillYakcat(style="display:none")
							ul
					.span6
						label Tags
							i.icon-question-sign#freetagHelp
						.input-append
							input#freetag(type="text", data-provide="typeahead", name="freetag", autocomplete="off", placeholder='Entrer un tag...')
							button.btn#btn-freetag-adder(type="button") Ajouter	
						.pillbox#pillFreetag(style="display:none")
							ul	

			div.control-group
				div.controls.row-fluid				
					.span6
						label Print flag:
							i.icon-question-sign#printFlagHelp
						input#printFlag(name="printFlag",type="checkbox",style="margin-top:-1px;") 
						span &nbsp;Ne pas afficher sur la carte
												
		div.row-fluid
			legend Localisation:						
			div.control-group#locationGroup.clearBoth
				div.controls.row-fluid	
					.span6
						br
						div#placePreview
						label(for='location') Par Gmap:
							i.icon-question-sign#locationHelp
						input(type="text",data-provide="typeahead", id="location", name="location", autocomplete="off", placeholder="Une adresse...")
					.span6
						label(for='zone') Zone:
							i.icon-question-sign#zoneHelp
						select.big#zone(name='zone')
				div.controls.row-fluid	
					.span6
						label(for='matchPlace') Matcher avec un lieu :
							i.icon-question-sign#matchPlaceHelp
						div#matchPlacePreview
						input(type="text",data-provide="typeahead", id="matchPlace", name="matchPlace", autocomplete="off", placeholder="Un lieu...")

		div.row-fluid
			div.control-group#likesGroup.clearBoth
			legend Likes
				div.controls.row-fluid	
					.span12
						div#spinnerLikes.spinner
							input.small.spinner-input(type="text",name="likes")
							div.spinner-buttons.btn-group.btn-group-vertical
								button.btn.spinner-up(type='button')
									i.icon-chevron-up
								button.btn.spinner-down(type='button')
									i.icon-chevron-down
		//
			div.row-fluid
				div.control-group#statusGroup.clearBoth
				legend Statut: 
					i.icon-question-sign#etatHelp
				div.control-group
					div.controls
						label.radio Validé
							input(type="radio", name="status", value="1", checked)
						label.radio  Blacklisté
							input(type="radio", name="status", value="3")
						label.radio.inline Alerte : En attente de validation
							input(type="radio", name="status", value="2")	
						label.radio Alerte: Gmap a échoué
							input(type="radio", name="status", value="10")
						label.radio Alerte : Le lieu matché est blacklisté
							input(type="radio", name="status", value="11")
						label.radio Alerte : La localisation est en dehors de la zone
							input(type="radio", name="status", value="12")
						label.radio Alerte : La géoloc, a échoué
							input(type="radio", name="status", value="13")
							
		br				
		div.control-group
			div.controls
				button.btn.btn-large.btn-inverse(type='submit', name='submit', id='submit', value='Enregistrer') Enregistrer
	
	script

		var yakCatIds = new Array();
		var yakCatNames = new Array();
		var freeTags = new Array();
		var placeArray = new Array();
		
		
		
		$(document).ready(function() {

			var now = new Date();
			var spinner = $( "#spinnerLikes" ).spinner();

			
			$('#titleHelp').popover({animation:true,title:"Titre de l'info",content:"<p>Un slug du titre est automatiquement généré pour un accès SEO friendly de cette news.</p>",html:true});
			$('#imagetteHelp').popover({animation:true,title:'Imagette',content:"<p>Cette image apparaîtra en haut à gauche de l'info réduite et dans le corps de l'info dépliée. <br> Fournir une image assez grande pour une meilleur qualité. ( > 512px de large) </p>",html:true});
			$('#licenceHelp').popover({animation:true,title:'Licence',content:"<p>Le type de licence, par défaut : <b>Opensource</b></p>",html:true});
			$('#originHelp').popover({animation:true,title:'Origine',content:"<p>L'origine de l'info apparait comme l'auteur de l'info : </p><br /><p><img width='100%' src='/images/back/help/cap1.jpg' /></p>",html:true});
			$('#outGoingLinkHelp').popover({animation:true,title:'Lien externe',content:"<p>Entrer le lien vers la l'info source</p>",html:true});
			$('#contentHelp').popover({animation:true,title:"Contenu de l'info",content:"<p>Vous pouvez utiliser des balises html et des iframes pour embeder des videos.</p>",html:true});
			$('#yakTypeHelp').popover({animation:true,title:"Le type d'info",content:"<p>Les <i>Actus</i> ont une date de publication.<br> Les <i>Agendas</i> ont une date de début et de fin, et servent à annoncer des évènements.</p>",html:true});
			$('#yakcatHelp').popover({animation:true,title:'Catégorie',content:"<p>Vous pouvez associer cette info à une catégorie Yakwala<br>NB: un dédoublement est automatiquement fait avec les tags et il n'y aura pas de redondance.<br></p>",html:true});
			$('#freetagHelp').popover({animation:true,title:'Tags',content:"<p>Vous pouvez associer cette info à un mot clé. Un complétion automatique est proposée sur la base des mots clés déjà utilisés mais vous pouvez entrer n'importe quel mot. <br> Attention il est préférable de n'utiliser qu'un mot clé pour toutes les infos se rattachant à un même sujet (attention à l'orthographe et les majuscules.)  </p>",html:true});
			$('#locationHelp').popover({animation:true,title:"Localisation de l'info",content:"<p>Entrer une addresse et choisir une proposition ou bien cliquer sur la carte à gauche et déplacer le marqueur.</p>",html:true});
			$('#matchPlaceHelp').popover({animation:true,title:"Matcher avec un lieu",content:"<p>Entrer un nom de lieu pour le matcher avec la base Yakwala.</p>",html:true});
			$('#zoneHelp').popover({animation:true,title:'La zone',content:"<p>Les zones sont définies dans l'onglet Zones.<br> </p>",html:true});
			$('#pubDateHelp').popover({placement:'left',animation:true,title:'Date de publication',content:"<p>C'est la date de parution de l'info. <br> L'info apparaitra sur le front à cette date.<br>Par défaut, c'est maintenant.</p>",html:true});
			$('#dateEndPrintHelp').popover({placement:'left',animation:true,title:'Date de fin de publication',content:"<p>L'info ne sera plus visible après cette date.<br>Par défaut, c'et dans 3 jours.</p>",html:true});
			$('#printFlagHelp').popover({placement:'left',animation:true,title:'Print Flag',content:"<p>En cochant cette case, vous afficherez l'info seulement sur le fil info et pas sur la carte.</p>",html:true});
			$('#eventDateFromHelp').popover({placement:'left',animation:true,title:"Date de début de l'évènement",content:"<p>Pour un évènement, la date de début et de fin est affichée après le titre de l'info.<br>Si le jour entre la date de début et de fin est le même, on affichera : <b>leJour à heure de début</b><br> Sinon on affichera : <b>Du lejourDébut au lejourFin</b></p>",html:true});
			$('#eventDateEndHelp').popover({placement:'left',animation:true,title:"Date de fin de l'évènement",content:"<p>Pour un évènement, la date de début et de fin est affichée après le titre de l'info.<br>Si le jour entre la date de début et de fin est le même, on affichera : <b>leJour à heure de début</b><br> Sinon on affichera : <b>Du lejourDébut au lejourFin</b></p>",html:true});
			$('#etatHelp').popover({placement:'top',animation:true,title:"Statut de l'info",content:"<p>Ici le changement de statut n'affecte que l'info concernée. <br> Si vous voulez modifier le statut de la news et du lieu auquel elle se rattache ainsi que celui de toutes les infos attachées à ce lieu, il faut passer par la page principale</p>",html:true});
			
			$('#alertInfoType').hide();


			// ZONE
			$.get('api/zones',function(data){
				$('#zone').append("<option value =''>Choisir une zone</option>");	
				$.each(data.zone, function (key,val) {
					$('#zone').append("<option value ='"+val.num+"'>"+val.name+"</option>");
				});	
			});
			
			$('#zone').change(function(){
				$('#zoneName').val($("#zone option:selected").html());
			});

			/* EVENTDATE */
			$('#yakType').unbind('change').change(function() { 
				if($("input[name='yakType']:checked").val()==2){
					$('#eventDateController').fadeIn();
					$( "#eventDateFrom" ).datetimepicker({
						timeFormat: 'HH:mm',
						stepHour: 1,
						stepMinute: 10,
					});
					$( "#eventDateEnd" ).datetimepicker({
						timeFormat: 'HH:mm',
						stepHour: 1,
						stepMinute: 10,
					});
				}else
					$('#eventDateController').hide();
			});
			
			
	
			$( "#pubDatePicker").datetimepicker({
				timeFormat: 'HH:mm',
				stepHour: 1,
				stepMinute: 10,
				hour:now.getHours(),
			});
			$( "#dateEndPrintPicker").datetimepicker({
				timeFormat: 'HH:mm',
				stepHour: 1,
				stepMinute: 10,
				hour:now.getHours(),
			});
			
			/*THUMB*/
			$('#picture').live('change', function () {
				if ( window.FileReader ) {
					var fileList = this.files;
					var file = fileList[0];
					var r = new FileReader();
					r.onload = function () {
						var binimage = r.result;
						binimage1 = binimage.replace('data:'+file.type+';base64,', '');
						var src = "data:"+file.type+";base64," + binimage1;
						$("#picturePreview").show();
						$("#picturePreview img").attr('src',src).show();
						$("#infoForm #thumbHidden").val('');
					};
					r.readAsDataURL(file);
				}
			});
				
			

			// YAKCATS
			$('#yakcat').typeahead({
				minLength : 3,
				source: function (typeahead, query) {
					$.ajax({
							dataType: "json",
							url: "/api/cats",				
							success: function( ajax ) {
								typeahead.process(ajax.data.cats);
							}
						})},
				property: "title",
				onselect: function(obj) { 
					$("#pillYakcat ul").append("<li class='yakcat-val status-important' data-id='"+obj._id+"' data-title='"+obj.title+"' >"+obj.title+"</li>");
					$('#yakcat').val('').focus();
					yakCatIds.push(obj._id);
					yakCatNames.push(obj.title);
					$('#yakCatIdsHidden').val(yakCatIds.join(','));
					$('#yakCatNamesHidden').val(yakCatNames.join(','));
				}
			});

			$("#pillYakcat ul").unbind('click').on('click','li',function(){
				yakCatIds.cleanArrayByName($(this).attr('data-id'));
				console.log($(this).attr('data-title'));
				yakCatNames.cleanArrayByName($(this).attr('data-title'));
				$('#yakCatIdsHidden').val(yakCatIds.join(','));
				$('#yakCatNamesHidden').val(yakCatNames.join(','));
				console.log(yakCatNames);
			});
			
			
			// FREE TAGS
			$('#btn-freetag-adder').unbind('click').on('click',function(event){
				event.preventDefault();
				if($('#freetag').val() != ''){
					var tags = $('#freetag').val().split(',');
					for(i = 0; i< tags.length;i++){
						$("#pillFreetag ul").append("<li class='freetag-val' data-value='"+tags[i].trim()+"'>"+tags[i].trim()+"</li>");
						freeTags.push(tags[i].trim());
					}
					$('#tagsHidden').val(freeTags.join(','));
					$('#freetag').val('').focus();
				}
				return false;
			});	

			

			$('#freetag').typeahead({
				minLength : 3,
				source: function (typeahead, query) {
					if(query.length>1){
						$.ajax({
								dataType: "json",
								url: "/api/yakNE/search/"+query,				
								success: function( ajax ) {
									if(ajax.yakNE)
										typeahead.process(ajax.yakNE);
								}
							})
					}
				},
				property: "title",
				onselect: function(obj) { 
					$("#pillFreetag ul").append("<li class='freetag-val status-info' data-value='"+obj.title+"'>"+obj.title+"</li>");
					$('#freetag').val('').focus();
					freeTags.push(obj.title);
					$('#tagsHidden').val(freeTags.join(','));
				}
			});


			$("#pillFreetag ul").unbind('click').on('click','li',function(){
				freeTags.cleanArrayByName($(this).attr('data-value'));
				$('#tagsHidden').val(freeTags.join(','));
			});


			
			

			/*CLEAN LOCATION*/
			$('#location').unbind('blur').on('blur',function(){
				if($(this).val() == ''){
					markerLocation.setVisible(false);
				}

			});
			
			
			$('#location').typeahead({
				minLength : 3,							
				source: function (typeahead, query) {
					if(query.length >= 3){
						encodeURIComponent(query);
						$("#location").addClass('searching');
						var sw = new google.maps.LatLng(41.3423276,-5.1412279);
						var ne = new google.maps.LatLng(51.0889618,9.5600678000001);
						var bounds = new google.maps.LatLngBounds(sw, ne);
						var addressQuery = {"address": query ,"region":"fr","language":"fr","bounds":bounds};
						var geocoder = new google.maps.Geocoder();
						geocoder.geocode( addressQuery, function(results, status) {						
							if (status == google.maps.GeocoderStatus.OK) {
								$.map( results, function( item ) {fixGmapResult(item);});
								typeahead.process(results);
								$("#location").removeClass('searching');
							} 							
						});
					}
				},
				property: "formatted_address",
				onselect: function(obj) { 
					$("#location").removeClass('searching');
					var placeGmap = getPlaceFromGmapResult(obj);
					$('#location').val(placeGmap.title);
					$('#placeid').val(''); // clean the edit mode
					placeArray = placeGmap;
					$("#infoForm #placeInput").val(JSON.stringify(placeArray));
					$('#infoLabel').first().remove();
					$('#infoForm #placePreview').html("<div id='placeLabel'><i class='icon-remove icon-pointer' onclick='placeArray=null;$(\"#placeForm #placeInput\").val(JSON.stringify(placeArray));$(this).parent().remove();'></i> "+placeGmap.formatted_address+"</div>");
					$("#infoForm #location").val("");
					var latLng = new google.maps.LatLng(placeGmap.location.lat,placeGmap.location.lng);
					map.panTo(latLng);
					placeMarker(latLng,markerLocation);
					reduceZoneOptions(placeGmap.location.lat,placeGmap.location.lng,0);
				}
			});

			
			$('#matchPlace').typeahead({
				source: function (typeahead, query) {
					if(query.length >= 3){
						encodeURIComponent(query);
						$("#matchPlace").addClass('searching');
						var placeInput = null;
						if($("#placeInput").val())
							var placeInput = JSON.parse($("#placeInput").val());
						if(placeInput){
							var lat = placeInput.location.lat;
							var lng = placeInput.location.lng;
							var url = '/api/places/search/'+query+'/5/0/0/'+lat+'/'+lng+'/1';
						}else
							var url = '/api/places/search/'+query+'/5/0/0/0/0/1';

						$.get(url,function(data){
							typeahead.process(data.places);
							$("#matchPlace").removeClass('searching');
						});



							
					}
				},
				property: "title",
				onselect: function(obj) { 
					$("#matchPlace").removeClass('searching');
					var place = obj;
					$('#matchPlace').val(place.title);
					$('#placematchedid').val(place._id); 
					$('#placeid').val(''); // clean the edit mode
					placeArray = place;
					$("#infoForm #placeInput").val(JSON.stringify(placeArray));
					$('#infoLabel').first().remove();
					$('#infoForm #placePreview').html("<div id='placeLabel'><i class='icon-remove icon-pointer' onclick='placeArray=null;$(\"#placeForm #placeInput\").val(JSON.stringify(placeArray));$(this).parent().remove();'></i> "+place.formatted_address+"</div>");
					$("#infoForm #matchPlace").val("");
					var latLng = new google.maps.LatLng(place.location.lat,place.location.lng);
					map.panTo(latLng);
					placeMarker(latLng,markerLocation);
					reduceZoneOptions(place.location.lat,place.location.lng,0);
				}
			});

			/*EXTERNAL SOURCE LINK COMPLETION*/
			$('#outGoingLink').on('blur',function(){
				if($(this).val() != '' && $(this).val().slice(0,7) != "http://")
					$(this).val('http://'+$(this).val());
			});	
				
			$('#outGoingLinkIcon').unbind('click').on('click',function(){
				
				if($('#outGoingLink').val())
					window.open($('#outGoingLink').val());

			});

			$('#infoForm #licence').typeahead({
				source: ["Opensource", "Reserved","Yakwala"]
			});

		});
		
		
		
		/*Form custom validation*/
		$('#infoForm').unbind('submit').on('submit',function(){
			var err = false;

			$('.alert-error').hide();
			
			if($('#title').val() == ""){
				setError('#title','Entrer un titre pour cette info');
				err = true;
			}

			if($('#zone').val() == ""){
				setError('#zone','Choisissez une zone !');
				err = true;
			}

			if($('#origin').val() == ""){
				setError('#origin','Entrer une origine pour cette info');
				err = true;
			}

			if($('#licence').val() == ""){
				$('#licence').val('Opensource');
			}
			

			if(typeof $('input:radio[name=yakType]:checked').val() == "undefined" ){
				setError('#yakType','Choisir un type info');
				err = true;
			}

			if($('#placeInput').val() == "null" || $('#placeInput').val() == "" ){
				setError('#location','Définir une géolocalisation de cette info!');
				err = true;
			}
			

			/*if(typeof $('input:radio[name=status]:checked').val() == "undefined" ){
				setError('#statusGroup','Choisir un statut !');
				err = true;
			}*/


			if (err){
				$('#err').show();
				return false;
			}else
				return true;
		});	
		
		

		function reduceZoneOptions(lat,lng,zoneSel){
			if(lat && lng){
				var oldZone = $("#zone").val();
				$.get('api/zonesContaining/'+lat+'/'+lng,function(data){
					$('#zone').html('');	
					$('#zone').append("<option value =''>Choisir une zone</option>");	
					var sel = '';
					$.each(data.zones, function (key,val) {
						if(zoneSel > 0){
							if(val.num == zoneSel)
								sel = 'selected';
							else
								sel = '';
						}else{
							if(val.num == oldZone)
								sel = 'selected';
							else
								sel = '';
						}

							
						$('#zone').append('<option '+sel+' value ="'+val.num+'">'+val.name+'</option>');
					});
				});	
			}
		}