mixin placeForm()
	button.btn#btnBack(style='display:none')
		i.icon-chevron-left
	form.yakForm#placeForm(action='/place', method='POST', enctype='multipart/form-data', style='display:none')
		input#yakcatInput(type='hidden', name='yakcatInput', value='')
		input#yakcatNames(type='hidden', name='yakcatNames', value='')
		input#placeInput(type='hidden', name='placeInput', value='')
		input#latitude(type="hidden",data-provide="typeahead", name="latitude")
		input#longitude(type="hidden",data-provide="typeahead", name="longitude")
		input#update(type="hidden",data-provide="typeahead", name="update", value='0')
		input#objid(type="hidden",data-provide="typeahead", name="objid", value='0')
		input#hiddenOrigin(type="hidden",data-provide="typeahead", name="hiddenOrigin", value='0')

		legend Ajouter un lieu
		div.control-group.error
				div.controls
					label.alert#err(type="text", id="err", name="err", style='display:none') Les champs en rouge sont obligatoires.
		div.control-group#titleGroup
			div.controls
				label Titre
				input.big.hashtagMaker(type='text', name='title', id='title', placeholder='Opéra Bastille, Restaurant du Coin #BonneBouffe2012')
		div.control-group#contentGroup
			div.controls
				label Description
				textarea.hashtagMaker(type='text', id='content', name='content', placeholder="Quelques détails sur le lieu à ajouter, avec la possibilité d'ajouter des #hashtags.", rows='3')
		div.control-group#licenceGroup
			div.controls
				.col
					label Licence
					input(type='text', name='licence', id='licence', placeholder='Ex: Open Source', autocomplete="off")
				.col
					label Origine
					input(type='text', name='origine', id='origine', placeholder='Yakwala', autocomplete="on")
				.col
					label Outgoing Link
					input(type='text', name='outgoinglink', id='outgoinglink', placeholder='outgoinglink')
		div.control-group#adresseGroup.clearBoth
			div.controls
				label(for='Place') Adresse
				.input-append
					input.big(type="text",data-provide="typeahead", id="place", name="place", autocomplete="on", placeholder="Cliquer sur la carte ou entrer l'adresse")
					button.btn#btn-place-adder(type="button") Ajouter
		div.control-group#yakcatGroup
			div.controls
				.col
					label(for='category') Thèmes
					input(type="text", data-provide="typeahead", id="yakcat", name="yakcat", autocomplete="off", placeholder='Un ou plusieurs thèmes')
					.pillbox#pillYakcat(style="display:none")
						ul
				.col
					label Free Tags
					input#freetag(type="text", data-provide="typeahead", name="freetag",placeholder='Free tags séparés par des virgules')
		div.control-group.clearBoth
			div.controls
				label Contact
				.col
					input#tel(type="text", data-provide="typeahead", name="tel", placeholder='Téléphone')
				.col
					input#mobile(type="text", data-provide="typeahead", name="mobile", placeholder='Mobile')
				.col
					input#mail(type="text", data-provide="typeahead", name="mail", placeholder='Email')
				.col
					input#web(type="text", data-provide="typeahead", name="web", placeholder='Site web')
				label.clearBoth Horaires / Transport
				.col
					input#opening(type="text", data-provide="typeahead", name="opening", placeholder="Horaires d'ouverture")
				.col
					input#closing(type="text", data-provide="typeahead", name="closing", placeholder='Horaires de fermeture')
				.col
					input#special(type="text", data-provide="typeahead", name="special", placeholder='Ouverture exceptionnelle')
				.col
					input#transportation(type="text", data-provide="typeahead", name="transportation", placeholder='Comment y arriver? (ex: métro ligne 2 station Jaurès)')

				label(for='picture').clearBoth Photo
				input#picture(type="file", name="picture")
				span#picturePreview
			div.control-group
				div.controls
					label Status
					label.radio.inline Valider
						input#option1(type="radio", name="status", value="1" , checked)
					label.radio.inline En attente
						input#option4(type="radio", name="status", value="2")
					label.radio.inline Rejeter
						input#option2(type="radio", name="status", value="3")
					label.radio.inline Erreur de localisation
						input#options3(type="radio", name="status", value="10")
			div.control-group
				div.controls
					button.btn.btn-large.btn-inverse(type='submit', name='submit', id='submit', value='Enregistrer') Enregistrer

					//button.btn.btn-large.btn-inverse#enregistrer(value='Enregistrer') Enregistrer

script

	$(document).ready(function() {
		// bind 'myForm' and provide a simple callback function
		$('#placeForm').ajaxForm(function() {
			$("#MyGrid").fadeIn();
			$("#placeForm").hide();
			$("#btnBack").hide();
			google.maps.event.removeListener(listenerHandle);
			markerLocation.setVisible(false);
			refreshDatagridAndMenu();
		});
	});