mixin placeForm()
	button.btn#btnBack(style='display:none')
		i.icon-chevron-left
	form.yakForm#placeForm(action='/place', method='POST', enctype='multipart/form-data', style='display:none')
		input#yakCatIdsHidden(type='hidden', name='yakCatIdsHidden', value='')
		input#yakCatNamesHidden(type='hidden', name='yakCatNamesHidden', value='')
		input#tagsHidden(type='hidden', name='tagsHidden', value='')
		input#placeInput(type='hidden', name='placeInput', value='')
		input#latitude(type="hidden",data-provide="typeahead", name="latitude")
		input#longitude(type="hidden",data-provide="typeahead", name="longitude")
		input#update(type="hidden",data-provide="typeahead", name="update", value='0')
		input#objid(type="hidden",data-provide="typeahead", name="objid", value='0')
		input#hiddenOrigin(type="hidden",data-provide="typeahead", name="hiddenOrigin", value='0')

		legend Ajouter un lieu
		div.control-group.error
				div.controls
					label.alert#err(type="text", id="err", name="err", style='display:none') Les champs en rouge sont obligatoires.
		div.control-group#titleGroup
			div.controls
				label Nom
				input.big.hashtagMaker(type='text', name='title', id='title', placeholder='Nom du lieu')
		div.control-group#contentGroup
			div.controls
				label Description
				textarea.hashtagMaker(type='text', id='content', name='content', placeholder="Quelques détails sur le lieu à ajouter, avec la possibilité d'ajouter des #hashtags.", rows='3')
		div.control-group#licenceGroup
			div.controls
				.col
					label Licence
					input(type='text', name='licence', id='licence', placeholder='Ex: Open Source', autocomplete="off")
				.col
					label Origine
					input(type='text', name='origine', id='origine', placeholder='Yakwala', autocomplete="off")
				.col
					label Outgoing Link
					input(type='text', name='outgoinglink', id='outgoinglink', placeholder='outgoinglink', , autocomplete="off")
		div.control-group#adresseGroup.clearBoth
			div.controls
				label(for='Place') Adresse
				.input-append
					input.big(type="text",data-provide="typeahead", id="place", name="place", autocomplete="on", placeholder="Cliquer sur la carte ou entrer l'adresse")
					button.btn#btn-place-adder(type="button") Ajouter
		div.control-group#yakcatGroup
			div.controls
				.col
					label(for='category') Thèmes
					input(type="text", data-provide="typeahead", id="yakcat", name="yakcat", autocomplete="off", placeholder='Un ou plusieurs thèmes')
					.pillbox#pillYakcat(style="display:none")
						ul
				.col
					label Free Tags
					.input-append
						input#freetag(type="text", data-provide="typeahead", name="freetag", autocomplete="off", placeholder='Entrer un tag...')
						button.btn#btn-freetag-adder(type="button") Ajouter	
					.pillbox#pillFreetag(style="display:none")
						ul
		div.control-group.clearBoth
			div.controls
				label Contact
				.col
					input#tel(type="text", data-provide="typeahead", name="tel", placeholder='Téléphone')
				.col
					input#mobile(type="text", data-provide="typeahead", name="mobile", placeholder='Mobile')
				.col
					input#mail(type="text", data-provide="typeahead", name="mail", placeholder='Email')
				.col
					input#web(type="text", data-provide="typeahead", name="web", placeholder='Site web')
				label.clearBoth Horaires / Transport
				.col
					input#opening(type="text", data-provide="typeahead", name="opening", placeholder="Horaires d'ouverture")
				.col
					input#closing(type="text", data-provide="typeahead", name="closing", placeholder='Horaires de fermeture')
				.col
					input#special(type="text", data-provide="typeahead", name="special", placeholder='Ouverture exceptionnelle')
				.col
					input#transportation(type="text", data-provide="typeahead", name="transportation", placeholder='Comment y arriver? (ex: métro ligne 2 station Jaurès)')

				label(for='picture').clearBoth Photo
				span#picturePreview
					img.img-rounded(style='width:100px;display:none;')
				input.span6#picture(type="file",style="display:block",name="picture")
			div.control-group
				div.controls
					label Status
					label.radio.inline Valider
						input#option1(type="radio", name="status", value="1" , checked)
					label.radio.inline En attente
						input#option4(type="radio", name="status", value="2")
					label.radio.inline Rejeter
						input#option2(type="radio", name="status", value="3")
					label.radio.inline Erreur de localisation
						input#options3(type="radio", name="status", value="10")
			div.control-group
				div.controls
					button.btn.btn-large.btn-inverse(type='submit', name='submit', id='submit', value='Enregistrer') Enregistrer

					//button.btn.btn-large.btn-inverse#enregistrer(value='Enregistrer') Enregistrer

script

	var yakCatIds = new Array();
	var yakCatNames = new Array();
	var freeTags = new Array();
	

	$(document).ready(function() {
		// bind 'myForm' and provide a simple callback function
		$('#placeForm').ajaxForm(function() {
			$("#MyGrid").fadeIn();
			$("#placeForm").hide();
			$("#btnBack").hide();
			google.maps.event.removeListener(listenerHandle);
			markerLocation.setVisible(false);
			refreshDatagridAndMenu();
		});


		$('#yakcat').typeahead({
			minLength : 3,
			source: function (typeahead, query) {
				$.ajax({
						dataType: "json",
						url: "/api/cats",				
						success: function( ajax ) {
							typeahead.process(ajax.data.cats);
						}
					})},
			property: "title",
			onselect: function(obj) { 
				$("#pillYakcat ul").append("<li class='yakcat-val status-important' data-id='"+obj._id+"' data-title='"+obj.title+"' >"+obj.title+"</li>");
				$('#yakcat').val('').focus();
				yakCatIds.push(obj._id);
				yakCatNames.push(obj.title);
				$('#yakCatIdsHidden').val(yakCatIds.join(','));
				$('#yakCatNamesHidden').val(yakCatNames.join(','));
			}
		});

		/*THUMB*/
		$('#picture').live('change', function () {
			if ( window.FileReader ) {
				var fileList = this.files;
				var file = fileList[0];
				var r = new FileReader();
				r.onload = function () {
					var binimage = r.result;
					binimage1 = binimage.replace('data:'+file.type+';base64,', '');
					var src = "data:"+file.type+";base64," + binimage1;
					$("#picturePreview").show();
					$("#picturePreview img").attr('src',src).show();
				};
				r.readAsDataURL(file);
			}
		});

		$("#pillYakcat ul").unbind('click').on('click','li',function(){
			yakCatIds.cleanArrayByName($(this).attr('data-id'));
			yakCatNames.cleanArrayByName($(this).attr('data-title'));
			$('#yakCatIdsHidden').val(yakCatIds.join(','));
			$('#yakCatNamesHidden').val(yakCatNames.join(','));
		});
		
		
		$('#btn-freetag-adder').unbind('click').on('click',function(event){
			event.preventDefault();
			if($('#freetag').val() != ''){
				var tags = $('#freetag').val().split(',');
				for(i = 0; i< tags.length;i++){
					$("#pillFreetag ul").append("<li class='freetag-val' data-value='"+tags[i].trim()+"'>"+tags[i].trim()+"</li>");
					freeTags.push(tags[i].trim());
				}
				$('#tagsHidden').val(freeTags.join(','));
				$('#freetag').val('').focus();
			}
			return false;
		});	

		$('#freetag').typeahead({
			minLength : 3,
			source: function (typeahead, query) {
				if(query.length>1){
					$.ajax({
							dataType: "json",
							url: "/api/yakNEExist/"+query,				
							success: function( ajax ) {
								typeahead.process(ajax.yakNE);
							}
						})
				}
			},
			property: "title",
			onselect: function(obj) { 
				$("#pillFreetag ul").append("<li class='freetag-val status-info' data-value='"+obj.title+"'>"+obj.title+"</li>");
				$('#freetag').val('').focus();
				freeTags.push(obj.title);
				$('#tagsHidden').val(freeTags.join(','));
			}
		});

		$("#pillFreetag ul").unbind('click').on('click','li',function(){
			freeTags.cleanArrayByName($(this).attr('data-value'));
			$('#tagsHidden').val(freeTags.join(','));
		});

	});