mixin yakBLForm()
	button.btn#btnBack(style='display:none')
		i.icon-chevron-left
	form#yakBLForm.yakForm(action='/yakBL', method='POST', enctype='multipart/form-data', style='display:none')
		input#zoneHidden(type='hidden', name='zoneHidden', value='')		
		input#zoneNameHidden(type='hidden', name='zoneNameHidden', value='')		
		input#feedHidden(type='hidden', name='feedHidden', value='')		
		input#feedNameHidden(type='hidden', name='feedNameHidden', value='')		
		input#objid(type="hidden", name="objid", value='0')
		

		div.control-group.error
				div.controls
					label.alert#err(type="text", id="err", name="err", style='display:none') Les champs en rouge sont obligatoires.
		
		legend.mainlegend Ajouter un mot blacklisté :
		
		div.row-fluid
			div.control-group#titleGroup
				legend Le mot à blacklister:
				div.controls
					.span6 
						label Entrer un mot ou une expression *: 
							i.icon-question-sign#titleHelp
						input(type='text', name='title', id='title', placeholder='Un mot ou une expression',autocomplete="off")
						span#alertOnTitle
					.span6 
						label 
							input#caseSensitive(type="checkbox",name="caseSensitive",style="margin:5px;")	
							| Case sensitive:
							i.icon-question-sign#caseSensitiveHelp
							
						
						
		div.row-fluid						
			div.control-group#restrictionGroup
				legend Restrictions:
				div.controls
					.span6
						label Restreindre à une zone
							i.icon-question-sign#zoneHelp
						.input-append
							input#zone(type="text", data-provide="typeahead", name="zone", autocomplete="off", placeholder='Chercher une zone...')
						.pillbox#pillZone(style="display:none")
							ul
					.span6
						label Restreindre à un flux
							i.icon-question-sign#feedHelp
						.input-append
							input#feed(type="text", data-provide="typeahead", name="feed", autocomplete="off", placeholder='Chercher un flux...')
						.pillbox#pillFeed(style="display:none")
							ul		
		
		div.row-fluid
			div.control-group#parsingGroup.clearBoth
			legend Désactiver
			div.control-group
				div.controls
					label.radio.inline Actif
						input(type="radio", name="status", value="1", checked)
					label.radio.inline Inactif
						input(type="radio", name="status", value="0")	
							
		br				
		div.control-group
			div.controls
				button.btn.btn-large.btn-inverse(type='submit', name='submit', id='submit', value='Enregistrer') Enregistrer
			
	
	script

		var zone = new Array();
		var feed = new Array();
		var zoneName = new Array();
		var feedName = new Array();
		
		$(document).ready(function() {

			$('#pillZone').show();
			$('#pillFeed').show();
			$('#title').on('keyup',function(){
				$.get('/api/yakBLExist/'+$(this).val(),function(data){
					if(data.yakBL.length > 0 ){
						$('#alertOnTitle').html('<span class="alert">Ce mot est déjà blacklisté! </span>');
					}
				});
			});

			$('#titleHelp').popover({placement:'bottom',animation:true,title:'Le mot à blacklister',content:"<p>Entrer un mot ou une expression, mais pas de tags html ou javascript</p>",html:true});
			$('#caseSensitiveHelp').popover({placement:'bottom',animation:true,title:'case sensitive',content:"<p>Cocher la case pour faire une détection exacte du mot clé (majuscules prises en compte ).</p>",html:true});
			$('#zoneHelp').popover({animation:true,title:'Restreindre le blacklistage à une ou plusieurs zones',content:"<p>Dans ce cas le mot ne sera blacklisté que si l'info est géolocalisée dans la/les zones sélectionnées.<br>Laissez vide pour appliquer le blacklistage à toutes les zones.</p>",html:true});
			$('#feedHelp').popover({animation:true,title:'Restreindre le blacklistage à un ou plusieurs flux',content:"<p>Dans ce cas le mot ne sera blacklisté que si l'info provient du/des flux sélectionnés.<br>Laissez vide pour appliquer le blacklistage à tous les flux.</p>",html:true});
			

			$('#zone').typeahead({
				minLength : 3,
				source: function (typeahead, query) {
					$.ajax({
							dataType: "json",
							url: "/api/zones",				
							success: function( ajax ) {
								typeahead.process(ajax.zone);
							}
						})},
				property: "name",
				onselect: function(obj) { 
					$("#pillZone ul").append("<li class='zone-val status-info' data-id='"+obj._id+"' data-title='"+obj.name+"' >"+obj.name+"</li>");
					$('#zone').val('').focus();
					zone.push(obj._id);
					$('#zoneHidden').val(zone.join(','));
					zoneName.push(obj._id);
					$('#zoneNameHidden').val(zone.join(','));
						
				}
			});

			$("#pillZone ul").unbind('click').on('click','li',function(){
				zone.cleanArrayByName($(this).attr('data-id'));
				zoneName.cleanArrayByName($(this).attr('data-title'));
				$('#zoneHidden').val(zone.join(','));
				$('#zoneNameHidden').val(zoneName.join(','));
			});
			
			
			
			$('#feed').typeahead({
				minLength : 3,
				source: function (typeahead, query) {
					$.ajax({
							dataType: "json",
							url: "/api/feedListActive",				
							success: function( ajax ) {
								typeahead.process(ajax.feeds);
							}
						})},
				property: "name",
				onselect: function(obj) { 
					$("#pillFeed ul").append("<li class='feed-val status-warning' data-id='"+obj._id+"' data-title='"+obj.name+"' >"+obj.name+"</li>");
					$('#feed').val('').focus();
					feed.push(obj._id);
					$('#feedHidden').val(feed.join(','));
					feedName.push(obj._id);
					$('#feedNameHidden').val(feed.join(','));
						
				}
			});

			$("#pillFeed ul").unbind('click').on('click','li',function(){
				feed.cleanArrayByName($(this).attr('data-id'));
				feedName.cleanArrayByName($(this).attr('data-title'));
				$('#feedHidden').val(feed.join(','));
				$('#feedNameHidden').val(feedName.join(','));
			});
		});
		
		
		
		/*Form custom validation*/
		$('#yakBLForm').unbind('submit').on('submit',function(){
			var err = false;

			$('.alert-error').hide();
			var title = $('#title').val();
			if(title == ""){
				setError('#title','Entrer un mot !');
				err = true;
			}else{
				$.get('/api/yakBLExist/'+title,function(data){
					if(data.yakBL){
						setError('#title','Ce mot est déjà blacklisté !');
						err=true;
					}
				});
			}

			if (err){
				$('#err').show();
				return false;
			}else
				return true;
		});	
		
		

	