mixin zoneForm()
	button.btn#btnBack(style='display:none')
		i.icon-chevron-left
	form.yakForm#zoneForm(action='/zone', method='POST', enctype='multipart/form-data', style='display:none')
		input#latCT(type="hidden",data-provide="typeahead", name="latCT")
		input#lngCT(type="hidden",data-provide="typeahead", name="lngCT")
		input#latTR(type="hidden",data-provide="typeahead", name="latTR")
		input#lngTR(type="hidden",data-provide="typeahead", name="lngTR")
		input#latBL(type="hidden",data-provide="typeahead", name="latBL")
		input#lngBL(type="hidden",data-provide="typeahead", name="lngBL")
		input#objid(type="hidden",data-provide="typeahead", name="objid", value='0')
		
		legend Ajouter une zone
		div.control-group.error
				div.controls
					label.alert#err(type="text", id="err", name="err", style='display:none') Les champs en rouge sont obligatoires.
		div.row-fluid		
			div.control-group#nameGroup
				div.controls
					.span6
						label Nom
						input.big(type='text', name='name', id='name', placeholder='Nom')
						span#numero
		
		div.row-fluid				
			div.control-group#statusGroup
				legend Désactiver
				div.control-group
					div.controls
						label.radio.inline Actif
							input(type="radio", name="status", value="1", checked)
						label.radio.inline Inactif
							input(type="radio", name="status", value="0")	
							
		div.row-fluid		
			div.control-group
				div.controls
					button.btn.btn-large.btn-inverse(type='submit', name='submit', id='submit', value='Enregistrer') Enregistrer


	script
	
		$(document).ready(function() {

				
		});
		

		
		/*Form custom validation*/
		$('#zoneForm').unbind('submit').on('submit',function(){
			var err = false;
			$('.alert-error').hide();
			if($('#name').val() == ""){
				setError('#name','Entrer un nom cette zone');
				err = true;
			}
			

			if (err){
				$('#err').show();
				return false;
			}else
				return true;
		});	
		
		
