mixin forgotpassword()
	- if (message)
		div.alert.fade.in
			button.close(type="button",data-dismiss="alert") x
			strong=message
	div.myLogin
		br
		br
		div.loginHeader
			| Entrer votre email et un nouveau mot de passe vous sera envoyé.
		br
		br
		form#newuserForm(action='/forgotpassword', method='POST')
			div.span1
			div.span10.control-group(style="text-align:center;")
				div.controls
					input#mail(type="text",name="mail",value='' ,  autocomplete="on", placeholder='Votre email')
					button.yakbtn(,type='submit', name='submit', id='submit', value='envoyer' ,style="margin:-10px 0 0 0;") Envoyer
			div.span1	
	script
		$(document).ready(function() {
			$('#mail').focus();
			$('#newuserForm').isHappy({
				fields: {
					'#mail': {
						required: true,
						message: 'Please enter a valid email',
						test: function(val){
							var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
							return re.test(val);
						} 
					}
				}
			});
		});