mixin loginForm()
	- if (message)
		div.alert.fade.in
			button.close(type="button",data-dismiss="alert") x
			strong=message
	div.well
		form(action='/session', method='POST')
			input#redir(type='hidden', name='redir', value=redir)
			div.control-group
				div.controls
					input#login(type="text",name="login", autocomplete="on", placeholder='Login')
			div.control-group
				div.controls
					input#password(type="password",name="password", autocomplete="on", placeholder='Password')
			div.control-group
				div.controls.rememberme
					input(type="checkbox", name="remember", id="remember") 
					input(type="hidden", name="rememberme", id="rememberme")
					input(type="hidden", name="token", id="token")
					span
						|Conserver mes infos
			div.control-group
				div.controls
					button.btn.btn-large.btn-block.btn-inverse(,type='submit', name='submit', id='submit', value='login') Login
				br
				div.control-group
					div.controls
						a(href="/auth/twitter")
							img(src="/images/twiiterconnect.png")
				br	
				i
					a(href='/user/new') &nbsp;Vous n&quot;avez pas encore de compte ?
				br	
				i
					a(href='/user/forgotpassword') &nbsp;Vous avez oublié votre mot de passe ?
			//
				div.control-group
					div.controls
						a(href="#")
							img(src="/images/fblogin.png")

	script
		//console.log($.cookie);
		if($.cookie("firstlogin") == null)
		{ 
			killCookie("connect.sid");
			killCookie("geoloc", '/news/map/search');
			killCookie("geoloc", '/');
			killCookie("searchString");

			$.cookie("firstlogin", "1");

		}

		
	
		$(document).ready(function(){
			$("#remember").change(function(){
				if ($('#remember').attr('checked')) {
					$("#rememberme").val("true");
				}else
				{
					$("#rememberme").val("false");
					killCookie('loginid', '/');
					killCookie('token', '/');
					
				}
				
			});
			

			var login = $.cookie('loginid');
			
			if ( login != '' && login != null ) {
				var password = "********";
				var token = $.cookie('token');
				// autofill the fields
				$('#login').attr("value", login);
				$('#password').attr("value", password);
				$('#remember').attr('checked', "checked");
				$('#rememberme').val("true");
				$('#token').val(token);				
			}
		});
		