mixin loginForm()
	- if (message)
		div.alert.fade.in
			button.close(type="button",data-dismiss="alert") x
			strong=message
	div.well
		form(action='/session', method='POST')
			input#redir(type='hidden', name='redir', value=redir)
			div.control-group
				div.controls
					input#login(type="text",name="login", autocomplete="on", placeholder='Login')
			div.control-group
				div.controls
					input#password(type="password",name="password", autocomplete="on", placeholder='Password')
			div.control-group
				div.controls.rememberme
					input(type="checkbox", name="remember", id="remember") 
					input(type="hidden", name="rememberme", id="rememberme")
					input(type="hidden", name="token", id="token")
					span
						|Conserver mes infos
			div.control-group
				div.controls
					button.btn.btn-large.btn-block.btn-inverse(,type='submit', name='submit', id='submit', value='login') Login
				br
				div.control-group
					div.controls
						a(href="/auth/twitter")
							img(src="/images/twiiterconnect.png")
			
				div.control-group
					div.controls
						img#loginFB(src="/images/fblogin.png", style="cursor: pointer")
						span#userinfo
						span#fb-root
				div.clearBoth
				br	
				i
					a(href='/user/new') &nbsp;Vous n&quot;avez pas encore de compte ?
				br	
				i
					a(href='/user/forgotpassword') &nbsp;Vous avez oublié votre mot de passe ?
			
			
	script(src="http://connect.facebook.net/en_US/all.js")
	script
		// initialize the library with the API key
		FB.init({ appId:'548066291890740' });

		// fetch the status on load
		FB.getLoginStatus(handleSessionResponse);

		$('#loginFB').bind('click', function() {
			FB.login(handleSessionResponse);
		});

		// handle a session response from any of the auth related calls
		function handleSessionResponse() {
			FB.api('/me', function(response) {
				if(!response.error)
				{
					$("#loginFB").remove();
					var fbinfo = "<img class='pull-left' src='https:/graph.facebook.com/"+response.id+"/picture/' /><span class='pull-left'><a style='cursor: pointer' id='authenticatefb'> Bienvenu  " + response.name + "<br />" + " Login with facebook</a></span><span class='clearBoth'></span>";
					$("#userinfo").html(fbinfo);
					$("#authenticatefb").click(function(){
						$(this).after("<img id='fbloader' src='/images/loader.gif' />");
						$.post("/auth/facebook", {user: response}, function(data){
							
							if(data.response == "4")
							{
								console.log("fv");	
								window.location = "http://localhost:3000/settings/firstvisit";
							}
								
							else if(data.response == "1")
							{
								console.log("map");	
								window.location = "http://localhost:3000/news/map";
							}
								
							else
							{
								console.log("here");
								$("#fbloader").remove();
							}
								
						});
					});
				}
					
			});
		}

		//console.log($.cookie);
		if($.cookie("firstlogin") == null)
		{ 
			killCookie("connect.sid");
			killCookie("geoloc", '/news/map/search');
			killCookie("geoloc", '/');
			killCookie("searchString");

			$.cookie("firstlogin", "1");

		}

		
	
		$(document).ready(function(){
			$("#remember").change(function(){
				if ($('#remember').attr('checked')) {
					$("#rememberme").val("true");
				}else
				{
					$("#rememberme").val("false");
					killCookie('loginid', '/');
					killCookie('token', '/');
					
				}
				
			});
			

			var login = $.cookie('loginid');
			
			if ( login != '' && login != null ) {
				var password = "********";
				var token = $.cookie('token');
				// autofill the fields
				$('#login').attr("value", login);
				$('#password').attr("value", password);
				$('#remember').attr('checked', "checked");
				$('#rememberme').val("true");
				$('#token').val(token);				
			}
		});
		