mixin postForm()
	label.alert#err(type="text", id="err", name="err", style='display:none') Veuillez remplir les champs obligatoires.
	- if(locals.user)
		- if(locals.user.type > 1)
			form#postForm(action='/news', method='POST', enctype='multipart/form-data')
				input#yakcatInput(type='hidden', name='yakcatInput', value='')
				input#placeInput(type='hidden', name='placeInput', value='')
				input#latitude(type="hidden",name="latitude")
				input#longitude(type="hidden",name="longitude")
				input#postFormRange(type="hidden",name="postFormRange")
				input#username(type="hidden", name="username",value=locals.user.login)
				h3
					span.posterInfo
					| Poster une info:
					span.posterInfoPng
				div.control-group
					div.controls
						input.span12.hashtagMaker(type='text', name='title', id='title', placeholder='Titre', autocomplete='off')
						textarea#content.span12.hashtagMaker(name='content', placeholder='Texte',rows='3')
				div.control-group
					hr
					h3.clearBoth
						|Quelle type de contenu voulez vous poster:
					div.controls#yakTypeController
						label.radio.inline Une actualité
							//span.actuEvenIcon
							input#option1(type="radio", name="yakType", value="1" , checked) 
						- if(type != 2)
							label.radio.inline Un Yassala
								//span.yassalaIcon
								input#option4(type="radio", name="yakType", value="4")
						label.radio.inline Un évènement
							//span.actuEvenIcon
							input#option2(type="radio", name="yakType", value="2")
						//label.radio.inline Infos&nbsp;pratiques
						//	input#options3(type="radio", name="yakType", value="3")
				div.control-group#eventDateController
					label(for='eventDate') Date de l événement :
						div.controls
							input#eventDateFrom.span6(style="float:left;margin-right:5px;	", type="text",name="eventDateFrom", autocomplete="off", placeholder='Du...')
							input#eventDateEnd.span6(type="text",name="eventDateEnd", autocomplete="off", placeholder='Au...')
				div.control-group
					hr
					h3.clearBoth
						|Choisissez une ou plusieurs thèmes:
					div.controls
						input#yakcat.span12(type="text",data-provide="typeahead", name="category", autocomplete="off", placeholder='Rechercher...')
					div.controls	
						input#freetag.span12(type="text",data-provide="typeahead", name="freetag",placeholder='Ajouter des mots clés : maison à vendre', autocomplete='off')
					//	
						div.controls
							span#picturePreview
							input.span6#picture(type="file",style="display:block",name="picture")
				hr
				h3.clearBoth 
					span.quelEndroit
					|A quel endroit ?
				div.control-group
					label(for='Place') Clicker sur la carte ou bien entrer une adresse:<br /> 
					div.controls
						div.input-append
							input#place(type="text",data-provide="typeahead", name="place", autocomplete="off", placeholder='Rechercher...') 
							button.btn#btn-place-adder(type="button") Add
							//
								span.help-inline(style='font-size:0.95em;font-style:italic;margin-left:20px;') Ajoutez plusieurs adresses <br>et faites apparaître votre info <br>à plusieurs endroits !
				hr
				div.control-group
					h3 
						span.ajouterMedia
						|Ajouter un media
					div.controls.myMedia
						a(title="Poster une photo pour cette info sur yakwala", rel="post_picture")
							span.yakPosterLogo
						a(title="Rechercher dans Youtube et poster votre vidéo", rel="post_youtube")
							span.ytPosterLogo
						a(title="Rechercher dans SoundCloud et poster votre son", rel="post_soundcloud")
							span.scPosterLogo
						a(title="Rechercher dans flickr et poster votre image", rel="post_flicker")
							span.flPosterLogo
					br
					div#post_yakpicture.controls.clearBoth(style="display: none")
						span.mediaText.pull-left
						span#picturePreview
						input.span6#picture(type="file",style="display:block",name="picture")
					div#post_yakYoutube.controls.clearBoth
					div#post_yakSoundCloud.controls.clearBoth
					div#post_yakFlickr.controls.clearBoth
				br
				div(style="text-align: center; width: 100%")
					button.yakbtn(type='submit', name='submit', id='submit', value='Envoyer') POSTER
		- if(locals.user.type == 1)
			form#postForm(action='/news', method='POST', enctype='multipart/form-data')
				input#yakcatInput(type='hidden', name='yakcatInput', value='')
				input#placeInput(type='hidden', name='placeInput', value='')
				input#latitude(type="hidden",data-provide="typeahead", name="latitude")
				input#longitude(type="hidden",data-provide="typeahead", name="longitude")
				input#postFormRange(type="hidden",name="postFormRange")
				input#username(type="hidden", name="username",value=locals.user.login)
				h3
					span.posterInfo
					| Poster une info:
					span.posterInfoPng
				div.control-group
					div.controls
						input.span12.hashtagMaker(type='text', name='title', id='title', placeholder='Titre', autocomplete='off')
						//
							span.postinfo
								| Vous pouvez utiliser des hashtags dans le titre
						textarea#content.span12.hashtagMaker(name='content', placeholder='Texte',rows='3')
						//
							span.postinfo
								| Vous pouvez utiliser des hashtags dans votre texte
				div.control-group
					div.controls
						input#freetag.span12(type="text",data-provide="typeahead", name="freetag",placeholder='Mots clés', autocomplete='off')
						//
							span.postinfo
								| ex: maisonavendre
				
				hr
				h3.clearBoth 
					span.quelEndroit
					|A quel endroit ?
				div.control-group
					label(for='Place') Clicker sur la carte ou bien entrer une adresse:<br>
					div.controls
						div.input-append.clearBoth
							input#place(type="text",data-provide="typeahead", name="place", autocomplete="off", placeholder='Rechercher...') 
							button.btn#btn-place-adder(type="button") Add
							//
								br
								br

								span.postinfo
									| Ajoutez plusieurs adresses et faites apparaître votre info à<br /> plusieurs endroits !
				br
				div.controls#yakTypeController(style="display: none;")
					label.radio.inline Actu
						input#option1(type="radio", name="yakType", value="4" , checked) 
				
				hr
				div.control-group
					h3 
						span.ajouterMedia
						|Ajouter un media
					div.controls.myMedia
						a(title="Poster une photo pour cette info sur yakwala", rel="post_picture")
							span.yakPosterLogo
						a(title="Rechercher dans Youtube et poster votre vidéo", rel="post_youtube")
							span.ytPosterLogo
						a(title="Rechercher dans SoundCloud et poster votre son", rel="post_soundcloud")
							span.scPosterLogo
						a(title="Rechercher dans flickr et poster votre image", rel="post_flicker")
							span.flPosterLogo
					br
					div#post_yakpicture.controls.clearBoth(style="display: none")
						span.mediaText.pull-left
						span#picturePreview
						input.span6#picture(type="file",style="display:block",name="picture")
					div#post_yakYoutube.controls.clearBoth
					div#post_yakSoundCloud.controls.clearBoth
					div#post_yakFlickr.controls.clearBoth
				hr
				br
				div(style="text-align: center; width: 100%")
					button.yakbtn(type='submit', name='submit', id='submit', value='Envoyer') POSTER
	- else
		mixin loginForm() 

	- if(JSON.parse(conf).env == 'DEV')		
		script(src='/javascripts/lib/plugin/jquery-ui-timepicker-addon.js')
		script(src="/javascripts/post.js")
	-else	
		script(src='/javascripts/minify/post-min-'+JSON.parse(mainConf).version+'.js')	

	
	
	- if(locals.user.type > 1)
		script
			$(document).ready(function() {
				$('#postForm').unbind('submit').submit(function() {
					var currType = $("input:radio[name='yakType']:checked").val();
					
					if ($.inArray(currType, yakType) == -1) {
						yakType[yakType.length] = currType;
					}

					$.cookie("yaktype", yakType,{ expires: 10000, path : '/' });
					var content = $("#postForm #content").val() + $("#youtubeContent").html() + $("#post_yakSoundCloud").html() + $("#post_yakFlickr").html();
					$("#postForm #content").val(content);

					var err = false;
					$('.alert-error').hide();
					if($('#title').val() == ""){
						$('#title').before('<div class="alert alert-error"><strong>Erreur: </strong> Indiquez un titre pour votre info !</div>').focus();
						err = true;
					}				
					if($('#placeInput').val() == ""){
						$('#place').before('<div class="alert alert-error"><strong>Erreur: </strong> Localisez votre info !</div>').focus();
						err = true;
					}
					if (err){
						$('#err').show();
						return false;
					}else
						return true;
				});

			});

	- if(locals.user.type == 1)
		script
			$(document).ready(function() {
				$('#postForm').submit(function() {
					var currType = 4;
					if ($.inArray(currType, yakType) == -1) {
						yakType[yakType.length] = currType;
					}

					$.cookie("yaktype", yakType,{ expires: 10000, path : '/' });

					//var content = $("#postForm #content").val() + $("#post_yakYoutube").html() + $("#post_yakSoundCloud").html() + $("#post_yakFlickr").html();
					var contentInit =$("#postForm #content").val();
					if(contentInit)== 'undefined')
						contentInit = '';
					else
						contentInit = contentInit.replace(/\n/g, '<br />');

					var contentYT = $("#youtubeContent").html();
					if(contentYT == 'undefined')
						contentYT  = '';

					var contentSC = $("#post_yakSoundCloud").html();
					if(contentSC == 'undefined')
						contentSC  = '';

					var contentFK = $("#post_yakFlickr").html();
					if(contentFK == 'undefined')
						contentFK  = '';

					var content = contentInit + contentYT + contentSC + contentFK;
					
					$("#postForm #content").val(content);

					var err = false;
					$('.alert-error').hide();
					if($('#title').val() == ""){
						$('#title').before('<div class="alert alert-error"><strong>Erreur: </strong> Indiquez un titre pour votre info !</div>').focus();
						err = true;
					}				
					if($('#placeInput').val() == ""){
						$('#place').before('<div class="alert alert-error"><strong>Erreur: </strong> Localisez votre info !</div>').focus();
						err = true;
					}
					if (err){
						$('#err').show();
						return false;
					}else
						return true;
				});
			});
	
	