mixin profileForm(type)
	- if(type > 1)
		form(action='/profile', method='POST', enctype='multipart/form-data', id='formProfile')
			input#location(type='hidden', name='location', value='')
			input#address(type='hidden', name='address', value='')
			input#formatted_address(type='hidden', name='formatted_address', value='')
			input#defaultCityZoom(type='hidden', name='defaultCityZoom', value='')
			input#defaultCityZoomText(type='hidden', name='defaultCityZoomText', value='')
			input#tagInput(type='hidden', name='tagInput', value='')
			div.span12
				div.control-group
					div.controls
						label.control-label.pull-left(for="avatar") Votre photo :  
						span#avatarPreview.pull-left
							img.size100.img-rounded(src='')
						input#avatar.pull-left(type="file",style="display:block",name="avatar")
				
				div.control-group
					div.controls
						label.control-label(for="name") Votre nom :  
						input#username(type='text', name='username')
				div.control-group
					div.controls
						label.control-label(for="name") Votre ville: 
							br
							span#cityTarget
						input#city.searchInput(type='text', name='city', placeholder='Chercher...', autocomplete="off",)
				div.control-group
					div.controls
						label.control-label(for="name") Default Zoom: 
							br
							span#addressZoom
						select#ddlAddressZoom(onchange="changeZoom()")
							option(value="70") Local
							option(value="80") Très Local
							option(value="100") Super Local
							option(value="120") Hyper local

				div.control-group
					div.controls
						label.control-label(for="name") Votre site web:  
						input#web(type='text', name='web')
				
			
				div.control-group
					div.controls
						label.control-label(for="bio") 
							|Une description
							br
							|de votre activité :  
						textarea(name='bio', id='bio',rows='10')
			
				div.control-group
					div.controls
						div.input-append 
							label.control-label(for="tag") 
								|Quelques mots clés pour définir vos centres d'intérêt:
								br
								|(ex: sport,musique) :
							- each tag in tags
								p
									div
										i.icon-remove.icon-pointer(onclick="tagArray.cleanArrayByName(\""+tag+"\");$(\"#tagInput\").val(JSON.stringify(tagArray));$(this).parent().remove(); clickSubmit(this);") 
										= tag 
							input#tag(type='text', name='tag')
							button.btn#btn-tag-adder(type="button") Ajouter

						
				button.yakbtn(type='submit', name='submit', id='submit', value='Envoyer') ENREGISTRER
				br
				br
				br 
				br
				br
		
	- if(type == 1)
		form(action='/profile', method='POST', enctype='multipart/form-data', id='formProfile')
			input#location(type='hidden', name='location', value='')
			input#address(type='hidden', name='address', value='')
			input#formatted_address(type='hidden', name='formatted_address', value='')
			input#defaultCityZoom(type='hidden', name='defaultCityZoom', value='')
			input#defaultCityZoomText(type='hidden', name='defaultCityZoomText', value='')
			input#tagInput(type='hidden', name='tagInput', value='')
			div.span12
				div.control-group
					div.controls
						label.control-label(for="avatar") Votre photo :  
						span#avatarPreview.pull-left
							img.size100.img-rounded(src='')
						input#avatar.pull-left(type="file",style="display:block; margin-left: 30px",name="avatar")
				div.control-group
					div.controls
						label.control-label(for="name") Votre nom :  
						input#username(type='text', name='username')
				div.control-group
					div.controls
						label.control-label(for="name") Votre site web:  
						input#web(type='text', name='web')
				div.control-group
					div.controls
						label.control-label(for="bio") Votre biographie :  
						textarea(name='bio', id='bio',rows='10')
				div.control-group
					div.controls
						div.input-append 
							label.control-label(for="tag") 
								|Quelques mots clés pour définir vos centres d'intérêt:
								br
								|(ex: sport,musique) :
							- each tag in tags
								p
									div
										i.icon-remove.icon-pointer(onclick="tagArray.cleanArrayByName(\""+tag+"\");$(\"#tagInput\").val(JSON.stringify(tagArray));$(this).parent().remove(); clickSubmit(this);") 
										= tag 
							input#tag(type='text', name='tag')
							button.btn#btn-tag-adder(type="button") Ajouter

				h2 Mes paramètres
				div.control-group
					div.controls
						label.control-label(for="name") Votre ville: 
							br
							span#cityTarget
						input#city.searchInput(type='text', name='city', placeholder='Chercher...', autocomplete="off",)
				div.control-group
					div.controls
						label.control-label(for="name") Zoom par défaut: 
							br
							span#addressZoom
						select#ddlAddressZoom(onchange="changeZoom()")
							option(value="70") Local
							option(value="80") Très Local
							option(value="100") Super Local
							option(value="120") Hyper local
				
				
						
				button.yakbtn(type='submit', name='submit', id='submit', value='Envoyer') ENREGISTRER
				br
				br
				br 
				br
				br
	