mixin resetpassword()
	- if (message)
		div.alert.fade.in
			button.close(type="button",data-dismiss="alert") x
			strong=message
	div.myLogin
		br
		br
		div.loginHeader
			| Choisissez un nouveau mot de passe:
		br
		br
		form#firstvisitForm(action='/resetpassword', method='POST')						
			div.span1
			div.span10.control-group(style="text-align:center;")
				div.controls
					input#password(type="text", name="password", autocomplete="off", placeholder="Votre mot de passe") 
					button.yakbtn(,type='submit', name='submit', id='submit', value='envoyer',style="margin:-10px 0 0 0;") Sauvegarder
			div.span1

