include ../blocks/range.jade
mixin searchFormUnified(page)
	div.navbar.navbar-fixed-top.searchYakwala
		ul#searchElementContainer.nav
			li
				input.search-query.customInput.tour_1#searchStr(type="search",placeholder="Quoi ?",autocomplete="off")
			
				input.search-query.customInput#searchPlaceStr.tour_2(type="search",placeholder="Où ?",autocomplete="off", data-provide="typeahead")
			
				button#searchBtn(type="submit")	
			li
				div#timeContainer
					div#dayPrinter.sliderText 
						span#blackBox
							|Aujourd hui	
					span.pull-left.timeIcon.timePng
					div#heatSelector

			li
				span.pull-left.filterIcon.filterPng
				a.btn#rangeSelectorTrigger.pull-left
					span#localnessPrinter.sliderText Localness
					span.caret
					mixin range
			li
				a.btn#tagSelectorTrigger.pull-left
					span#hotTagPrinter.sliderText Hot Tags
					span.caret
					ul#dropdownTagSelector.dropdown-menu
			li.rightPull
				span#btnDiscussion(title="Voir les Yassalas", type=4, onclick='setDiscussion(this)')
					span.theicon					
					span.thetext Yassalas
					

	div#closehideSearch



	script
		var psClick = 0;

		var user =!{JSON.stringify(user)};

		var mainConf = !{mainConf};	

		var propertyname = 'title';
		
		var yakType = ($.isEmptyObject($.cookie("yaktype")))?mainConf.typeDefault.split(','):$.cookie("yaktype").split(',');

		var yakTypeStored = [];
		
		// unicity
		yakType = yakType.filter(function (e, i, arr) {
			return arr.lastIndexOf(e) === i;
		});

		if(yakType == 0)
			yakType = [];

		// test with no button type -> force type 1 & 2// TO REMOVE
		
		if($.inArray("1", yakType)== -1)
			yakType.push("1");
		if($.inArray("2", yakType) == -1)
			yakType.push("2");

		var curPos = ($.isEmptyObject($.cookie("geoloc")))?{'x':user.location.lat,'y':user.location.lng,'z':mainConf.rangeDefault,'name':user.formatted_address}:JSON.parse($.cookie("geoloc"));

		var dateFrom = ($.isEmptyObject($.cookie("dateFrom")))?mainConf.dateFromDefault:$.cookie("dateFrom");
		var searchString = "!{str}".toString();

		if(searchString=='')
			searchString = ($.isEmptyObject($.cookie("searchString")))?null:$.cookie("searchString");
		
		$('#searchPlaceStr').val(curPos.name);

		$('#locationInput').val(JSON.stringify({lat:curPos.x,lng:curPos.y}));						



		$(document).ready(function(){

			//setInterval('numAlertsSearch()', 10000);
			
			if(yakType.inArray("4"))
				$("#btnDiscussion").addClass('active').attr('title','Cacher les Yassalas');
				
			
			

			if(yakType.inArray("5")){
				$("#btnMesalertes").addClass('active').attr('title','Passer en mode normal');
				//console.log('active ALerte');
				$("#alertsNumber").html("");
				$("#alertsNumber").hide();
			}
			else
			{
				$("#alertsNumber").show();
			}
				
			//getHotTags(curPos,dateFrom);

			$('#dropdownTagSelector').unbind("click").on('click','li', function (e) {
				searchString = "#"+$(this).html();
				$('#searchStr').val(decodeURIComponent(searchString.replace('%2520', ' ')));
				$('#searchStr').focus();
				$('#searchStr').select();
				$('#searchBtn').trigger('click');
				changeRange();
			});

			setTimeSliderText(dateFrom);

			setLocalnessSliderTextMinified(curPos.z);
	
			/*search info and place*/
			if(searchString != null)
				$('#searchStr').val(decodeURIComponent(searchString.replace('%2520', ' ')));

			
			
			$('#searchStr').unbind('keyup').on('keyup',function(event){
				var clicked = $(this);
				setdelay(function(){
					if(clicked.val().length > 1){
						clicked.addClass('searching');
						searchString = encodeURIComponent($('#searchStr').val());
					}else{
						clicked.removeClass('searching');
						searchString = null;
					}
					
					$('#searchBtn').trigger('click');
					
				}, 800);
				
			});


			$('#searchPlaceStr').unbind("click").on('click',function(){
				$(this).select();
			});

			// reset
			$('#searchStr').unbind("click").on('click',function(){
				$(this).select();
			});
			
				
			/*slider time selector*/
			$( "#heatSelector" ).slider({
				range: "min",
				min: -24,
				max: 100,
				value: invGetDaysFrom(dateFrom),
				slide: function( event, ui ) {
					var x = ui.value;
					dateFrom = getDaysFrom(x);
					setTimeSliderText(dateFrom);
				},
				change:function(event, ui){
					
					var x = ui.value;
					dateFrom = getDaysFrom(x);
					getAndPrintInfo();
					var Cookiedate = new Date();
					var timeRange = 3*60*60*1000;
					Cookiedate.setTime(Cookiedate.getTime() + (timeRange));
					$.cookie("dateFrom", dateFrom,{ expires: Cookiedate, path : '/' });
				},
				create: function(event, ui){
					if(typeof($(".ui-slider-handle").position()) != 'undefined')
						{
							var currElposition = $(".ui-slider-handle").position();	
							//console.log(currElposition);
							$("#blackBox").css("left", (currElposition.left - 78) + "px");
						}
				}
			});
			
			/*slider range selector*/
			$( "#rangeSelector" ).slider({
				range: "min",
				min: 0,
				max: 100,
				step:10,
				value: curPos.z,
				slide: function(event,ui){
					setLocalnessSliderTextMinified(ui.value);
				},
				change:function(event, ui){
					curPos.z =  ui.value;
					changeRange();
					$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000, path : '/' });
				}
			});

			/*init yakType selector*/
			$('#newsfeedMenu span.btn').removeClass('active');
			
			
			$.each(yakType,function(key,val){
				$("#newsfeedMenu span.btn[type=\""+val+"\"]").addClass('active');
			});

			
			
			// autocomplete Place
			$('#searchPlaceStr').typeahead({
				minLength : 3,							
				source: function (typeahead, query) {
					if(query.length >= 3){
						encodeURIComponent(query);
						$("#searchPlaceStr").addClass('searching');
						var addressQuery = {"address": query ,"region":"fr","language":"fr"};
						var geocoder = new google.maps.Geocoder();
						geocoder.geocode( addressQuery, function(results, status) {						
						if (status == google.maps.GeocoderStatus.OK) {
							typeahead.process(results);
							$("#searchPlaceStr").removeClass('searching');
						} 
						});
					}
				},
				property: "formatted_address",
				onselect: function(obj) { 
					psClick = 1;
					$("#searchPlaceStr").removeClass('searching');
					var placeGmap = getPlaceFromGmapResult(obj);

					curPos.x = placeGmap.location.lat;
					curPos.y = placeGmap.location.lng;
					curPos.name = placeGmap.formatted_address;
					var location = JSON.stringify({lat:curPos.x,lng:curPos.y});	
					$('#locationInput').val(location);			
					$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000, path : '/' });
					changeLocation(location);
					//$("#searchBtn").trigger('click');
					getAndPrintInfo();
				}
			});
			
			// autocomplete Info			
			$('#searchStr').typeahead({
					minLength : 2,
					source: function (typeahead, query) {
						if(query.indexOf('@') == 0){
							var currenturl = '/api/feedusersearch/' + query.substring(1, query.length);				
						}
						else{
							var	print = 0
							if('#{page}' == 'map'){
								bounds = getMyBounds();
								var currenturl = '/api/catsandtags/'+bounds.ca.b+'/'+bounds.ea.b+'/'+bounds.ca.f+'/'+bounds.ea.f+'/'+dateFrom;	
							}
							else
								var currenturl = '/api/catsandtags/'+curPos.x+'/'+curPos.y+'/'+rangeFromZ()+'/0/'+dateFrom;		

						}
						encodeURIComponent(query);
						if(query.length >= 2){
							$.ajax({
									url: currenturl,				
									success: function( ajax ) {
										typeahead.process(ajax.data.catsandtags);
										$("#searchStr").removeClass('searching');
									}
								})}
					},
					property: 'title',
					onselect: function(obj) { 
						if(typeof(obj.name) != 'undefined')
							$("#searchStr").val("@" + obj.name);
						else
							$("#searchStr").val("#" + obj.title);	
						$("#searchBtn").trigger('click');
						$("#searchStr").removeClass('searching');

					}
				});
			
				

			$("#rangeSelectorTrigger").unbind("click").on('click',function(){
				$("#dropdownTagSelector").hide();
				if($("#dropdownRangeSelector").css("display") == "none")
				{
					$("#dropdownRangeSelector").show();
				}
				else
				{
					$("#dropdownRangeSelector").hide();
				}
					
			});

			$("#tagSelectorTrigger").unbind("click").on('click',function(){
				$("#dropdownRangeSelector").hide();
				if($("#dropdownTagSelector").css("display") == "none")
				{
					$("#dropdownTagSelector").show();
				}
				else
				{
					$("#dropdownTagSelector").hide();
				}
					
			});

			//setTimeSelectorDropDown();
			setRangeSelectorDropDown();
			if($("#searchStr").val() == 'null')
				$("#searchStr").val("");
		});

		
		function setDiscussion(el){

			if($(el).hasClass('active')){
				$(el).removeClass('active').attr('title','Voir les Yassalas');
				yakType.cleanArrayByName("4");
				$.cookie("yaktype", yakType.join(','),{ expires: 10000, path : '/' });
			}
			else
			{
				$(el).addClass('active').attr('title','Cacher les Yassalas');
				yakType.push("4");
				yakType = yakType.filter(function (e, i, arr) {
					return arr.lastIndexOf(e) === i;
				});
				$.cookie("yaktype", yakType.join(','),{ expires: 10000, path : '/' });	
			}
			//console.log('PRINT');
			getAndPrintInfo();
		}

		function setAlert(el){
			if($(el).hasClass('active')){

				$(el).removeClass('active').attr('title','Passer en mode Alertes');
				yakType.cleanArrayByName("5");
				$.cookie("yaktype", yakType.join(','),{ expires: 10000, path : '/' });
				$("#alertsNumber").show();
				$("#alertsModeText").removeClass("active").removeClass("empty");
				$("#alertsModeText").html("Passez en <br />mode alerte");
			}else{
				
				$("#alertsNumber").hide();
				$("#alertsNumber").html("");
				$.post('/user/alertsLastCheck', function(res) {
					user.alertsLastCheck = new Date();
				});
				
				$(el).addClass('active').attr('title','Passer en mode normal');
				
				yakType.push("5");
				yakType = yakType.filter(function (e, i, arr) {
					return arr.lastIndexOf(e) === i;
				});
				$.cookie("yaktype",  yakType.join(','),{ expires: 10000, path : '/' });

				if(user.feedsubs.length == 0 && user.usersubs.length == 0 && user.tagsubs.length == 0)
				{
					$('#newsfeed').html("<li class='mapHighlighterDetails'><div class='infowindow emptyfeeditem'>Il n'y pas d'info à afficher car vous n'avez pas défini vos <a href='/settings/alerts'>alertes</a> !</div></li>");
					$("#alertsModeText").addClass("empty");
					$("#alertsModeText").html("Personnalisez<br />vos alertes");
					return;
				}
				else
				{
					$("#alertsModeText").addClass("active");
					$("#alertsModeText").html("Vous etes en <br />mode alerte");
				}
				
			}
			
			getAndPrintInfo();
		}
		
		function setRangeSelectorDropDown()
		{
			var lasttext = '';
			var currtext = '';
			
			$("#localnessPrinter").html(setLocalnessSliderTextMinified(curPos.z));
			$("#dropdownRangeSelector li").unbind("click").on('click',function(){

				$("#localnessPrinter").html($(this).html());
				curPos.z = $(this).attr("value");
				changeRange();
				$.cookie("geoloc", JSON.stringify(curPos),{ expires: 10000, path : '/' });

				$("#dropdownRangeSelector li").css("color", "#333333");
				$(this).css("color", "#d3171f");
			});
		}
